//Colors
$sweety-primary-color: #0075b0;
$sweety-background-blue: #016da4;
$sweety-background-grey: #d5e7f1;
$sweety-badge-background: #e17f25;
$sweety-white: #fff;
$sweety-green: #2bc431;
$sweety-red: #ea0000;
$sweety-error-background: #ffeced;
$sweety-success-background: #eeffdd;
$sweety-error-border: #ebd0d9;
$sweety-success-border: #a0b980;
$sweety-color-grey: #777777;
$sweety-color-orange: #ffa500;
$sweety-text-color: #555555;
$sweety-tab-active-border: #0075b0;
$sweety-light-grey: #222222;
$sweety-text-white: #fafafa;
$sweety-divider-color: #f6f6f6;
$sweety-page-title-label-color: #666666;
$sweety-subcontent-background: #fcfcfc;
$sweety-dashboard-header-color: #e5f6ff;
$sweety-footer-background: #545454;
$sweety-footer-box-shadow-color: rgb(0 0 0 / 45%);
$sweety-border-color: #e0e0e0;
$sweety-scroller-color: #e3e3e3;
$sweety-nav-bar-background: #d5e6f1;
$sweety-border-top-color: #d5e7f1c2;
$sweety-border-bottom-color: #d5e7f1b0;
$sweety-text-lightgrey: #b9b9b9;
$sweety-screen-background: #edf9ff;
$sweety-flat-button-color: #e5e5e5;
$sweety-label-color: rgba(85, 85, 85, 0.54);
$sweety-button-active: #7ac1e7;
