//Colors
$qib-primary-color: #0075b0;
$qib-background-blue: #016da4;
$qib-background-grey: #d5e7f1;
$qib-badge-background: #e17f25;
$qib-white: #fff;
$qib-green: #2bc431;
$qib-red: #ea0000;
$qib-error-background: #ffeced;
$qib-success-background: #eeffdd;
$qib-error-border: #ebd0d9;
$qib-success-border: #a0b980;
$qib-color-grey: #777777;
$qib-color-orange: #ffa500;
$qib-text-color: #555555;
$qib-tab-active-border: #00a1de;
$qib-light-grey: #222222;
$qib-text-white: #fafafa;
$qib-divider-color: #f6f6f6;
$qib-page-title-label-color: #666666;
$qib-subcontent-background: #fcfcfc;
$qib-dashboard-header-color: #e5f6ff;
$qib-footer-background: #545454;
$qib-footer-box-shadow-color: rgb(0 0 0 / 45%);
$qib-border-color: #e0e0e0;
$qib-scroller-color: #e3e3e3;
$qib-nav-bar-background: #d5e6f1;
$qib-border-top-color: #d5e7f1c2;
$qib-border-bottom-color: #d5e7f1b0;
$qib-text-lightgrey: #b9b9b9;
$qib-screen-background: #edf9ff;
$qib-flat-button-color: #e5e5e5;
$qib-label-color: rgba(85, 85, 85, 0.54);
$qib-button-active: #7ac1e7;
