@import 'colors';
$sweety-header-height: 5.313rem;
$sweety-footer-height: 1.35rem;
$sweety-side-menu-width: 17.187rem;
$sweety-footer-box-shadow: inset 0 0.875rem 3.188rem -0.438rem $sweety-footer-box-shadow-color;
$sweety-footer-font-size: 0.625rem;
$sweety-submenu-height: 2.5rem;
$sweety-body-margin-length: 2.5rem;
$sweety-body-height: $sweety-header-height + $sweety-footer-height + $sweety-submenu-height + $sweety-body-margin-length;
