<!-- <div fxLayout="row" class="footer" fxLayoutGap="1rem">
    <div fxFlex="40">Copyright &copy; 2024 Save Gold Scheme</div>
    <div><a routerLink="terms-and-conditions">Terms &amp; Conditions</a></div>
    <div><a routerLink="privacy-policy">Privacy Policy</a></div>
</div> -->

<footer class="footer-wrapper footer-layout-default">

    <div fxLayout="column" class="widget-area">
        <div fxLayout="column">
            <div fxLayout="row" class=" justify-content-space-between mx-1">
                <div fxFlex="25">
                    <div class="widget footer-widget">
                        <div class="th-widget-about">
                            <h3 class="widget_title">About Company</h3>
                            <p class="about-text"> Save Gold Is the Online Jewellery Platform which is authorized For Viindhya Bullion Pvt Ltd.</p>
                            <div class="th-social">
                                <h6 class="title text-white">FOLLOW US ON:</h6>
                                <a href="https://www.facebook.com/profile.php?id=61554448978304"><i class="las la-facebook-f"></i></a>
                                <a href="https://twitter.com/saveGoldLive"><i class="las la-twitter"></i></a>
                                <a href="https://www.linkedin.com/in/save-gold-2621772a3/"><i class="las la-linkedin-in"></i></a>
                                <a href="https://www.youtube.com/channel/UCRKfHvbsHfBNpswdqwTLvg"><i class="las la-youtube"></i></a>
                                <a href="https://www.instagram.com/savegoldlive/"><i class="las la-instagram"></i></a>
                                <a href="https://in.pinterest.com/savegold/"><i class="las la-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div fxFlex="25">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Quick Links</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="#/Termsandconditions">Terms &amp; Condition</a></li>
                                <li><a href="#/PrivacyPolicy">Privacy Policy</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div fxFlex="25">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Policy</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="#/RefundPolicy">Refund Policy</a></li>
                                <li><a href="#/ShippingPolicy">Shipping &amp; Delivery Policy</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div fxFlex="25">
                    <div class="widget widget_contact footer-widget">
                        <h3 class="widget_title">Get in touch!</h3>

                        <div class="th-widget-contact">
                            <div class="info-box-wrap">
                                <div class="info-box_icon">
                                    <i class="las la-location-dot"></i>
                                </div>
                                <p class="info-box_text">
                                    # 8-3-191/92/SF (71/A), 2nd Floor, Surya Plaza, Vengal Rao Nagar, Hyderabad, Telanagana - 500038.
                                </p>
                            </div>
                            <div class="info-box-wrap">
                                <div class="info-box_icon">
                                    <i class="las la-envelope"></i>
                                </div>
                                <a href="mailto:savegoldlive@gmail.com" class="info-box_link">savegoldlive@gmail.com</a>
                            </div>
                            <div class="info-box-wrap">
                                <div class="info-box_icon">
                                    <i class="las la-phone"></i>
                                </div>
                                <a href="" class="info-box_link"> +91 90590 86366</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="column" class="copyright-wrap">
            <div fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="center">
                    <p class="copyright-center">
                        Copyright &copy; 2024 <a href="#">Savegold</a> All Rights Reserved.
                    </p>                     
                </div>
            </div>
        </div>
    </div>
</footer>