@import 'variables';
.account-statement-data {
    .transaction-disclaimer {
        font-size: 0.625rem;
        padding: 0 0 0.312rem;
        color: $qib-primary-color;
    }
    .table-icons {
        i {
            font-size: 1.5rem;
        }
    }
}
