<div fxLayout="row" fxLayoutGap="0.7rem" fxLayout.lt-md="column">
    <div fxFlex="40" fxFlex.sm="100" fxLayout="column" *appHasEntitlementAccessTo="'GENERAL_SERVICE_E_STATEMENT'">
        <app-master-container>
            <ng-container header
                >{{ isRequestSuccess ? 'E-STATEMENT REQUEST STATUS' : 'E-STATEMENT REQUEST' }}
            </ng-container>
            <ng-container body>
                <form [formGroup]="eStatementRequestForm" fxFlex="100">
                    <div fxLayout="column" *ngIf="!isRequestSuccess">
                        <app-account-select
                            ngDefaultControl
                            [formGroup]="eStatementRequestForm"
                            formControlName="fromAccount"
                            label="Select Account"
                            [options]="accounts"
                        >
                        </app-account-select>
                        <mat-form-field>
                            <mat-label>Select Period</mat-label>
                            <mat-select formControlName="period">
                                <mat-option value="Daily">Daily</mat-option>
                                <mat-option value="Weekly">Weekly</mat-option>
                                <mat-option value="Bi-Weekly">Bi-Weekly</mat-option>
                                <mat-option value="Monthly">Monthly</mat-option>
                                <mat-option value="Quarterly">Quarterly</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="email-control">
                            <div class="label">Registered Email ID</div>
                            <div class="emails">
                                <ng-container *ngFor="let email of getEmails()">
                                    <div class="email">{{ email }}</div>
                                </ng-container>
                            </div>
                        </div>

                        <app-cib-input-chip
                            [isEmailInput]="true"
                            [placeholder]="'Alternate Email (Optional)'"
                            (enterKeyPressed)="getValues($event)"
                        >
                        </app-cib-input-chip>
                        <div class="disclaimer">
                            Note: Alternate Email Address provided will be added to existing Registered Email ID
                        </div>
                        <div class="divider"></div>
                        <div>
                            <button
                                type="submit"
                                mat-flat-button
                                [disabled]="eStatementRequestForm.invalid"
                                (click)="processEStatementRequest()"
                                color="primary"
                            >
                                SUBMIT
                            </button>
                        </div>
                    </div>
                </form>
                <ng-container *ngIf="isRequestSuccess">
                    <app-request-status [data]="statusData"></app-request-status>
                </ng-container>
            </ng-container>
        </app-master-container>
    </div>
    <div fxFlex="60">
        <app-requests-list-table [requestType]="module" [disableDropdown]="true"></app-requests-list-table>
    </div>
</div>
