@import 'variables';
.disclaimer {
    font-size: 0.65rem;
    font-style: italic;
    color: $qib-tab-active-border;
}

.email-control {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-bottom: 1rem;
    .label {
        font-size: 0.6rem;
        font-weight: bold;
    }
    .emails {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        .email {
            background: #f6f6f6;
            padding: 0.1rem 0.5rem;
            border-radius: 0.5rem;
            color: #555;
        }
    }
}
