<div fxLayout="row" fxLayoutGap="0.7rem" fxLayout.lt-md="column" fxLayoutWrap>
    <div fxFlex="40" *appHasEntitlementAccessTo="'GENERAL_SERVICE_CREDIT_CARD'">
        <app-master-container>
            <ng-container header>{{
                isRequestSuccess ? 'CREDIT CARD REQUEST STATUS' : 'REQUEST FOR CREATE CREDIT CARD'
            }}</ng-container>
            <ng-container body>
                <div fxLayout="column" fxFlex="100" *ngIf="!isRequestSuccess">
                    <form class="container" [formGroup]="creditCardRequestForm">
                        <app-account-select
                            ngDefaultControl
                            [formGroup]="creditCardRequestForm"
                            formControlName="fromAccount"
                            label="Account"
                            [options]="accounts"
                        >
                        </app-account-select>
                        <mat-form-field>
                            <mat-label>Card Type</mat-label>
                            <mat-select aria-label="Card Type" required formControlName="cardType">
                                <mat-option *ngFor="let type of cardTypeList" [value]="type">
                                    <span>{{ type }}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Embossing Name</mat-label>
                            <input
                                type="text"
                                required
                                aria-label="Embossing Name"
                                matInput
                                formControlName="embossingName"
                            />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Applicant Contact Number</mat-label>
                            <input
                                type="number"
                                min="0"
                                required
                                aria-label="Applicant Contact Number"
                                matInput
                                formControlName="contactNumber"
                            />
                        </mat-form-field>
                        <div class="row">
                            <div fxFlex="10" class="currency">QAR</div>
                            <div fxFlex="90">
                                <mat-form-field fxFlex="100">
                                    <mat-label>Limit</mat-label>
                                    <input
                                        type="number"
                                        min="0"
                                        required
                                        aria-label="Limit"
                                        matInput
                                        formControlName="creditLimit"
                                        min="3000"
                                    />
                                    <mat-error *ngIf="creditCardRequestForm.controls['creditLimit'].invalid">
                                        <i class="las la-exclamation-circle"></i
                                        ><small>Limit amount should be minimun 3,000 QAR</small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <button
                            class="mt-1p5rem"
                            type="submit"
                            mat-flat-button
                            [disabled]="creditCardRequestForm.invalid"
                            (click)="processCreditCardRequest()"
                            color="primary"
                        >
                            SUBMIT
                        </button>
                    </form>
                </div>
                <ng-container *ngIf="isRequestSuccess">
                    <app-request-status [data]="statusData"></app-request-status>
                </ng-container>
            </ng-container>
        </app-master-container>
    </div>
    <div fxFlex="60">
        <app-requests-list-table [requestType]="module" [disableDropdown]="true"></app-requests-list-table>
    </div>
</div>
