<div class="body">
    <div *ngFor="let field of data.fields">
        <app-label-value
            *ngIf="field.fieldValue"
            [label]="field.fieldName"
            [value]="field.fieldValue"
        ></app-label-value>
        <app-cib-card *ngIf="field.bulkFieldValue">
            <div *ngFor="let fieldData of field.bulkFieldValue">
                <app-label-value
                    *ngIf="fieldData.fieldValue"
                    [label]="fieldData.fieldName"
                    [value]="fieldData.fieldValue"
                >
                </app-label-value>
            </div>
        </app-cib-card>
    </div>
    <div class="divider"></div>
    <div *ngIf="data.isOtpNeeded">
        <app-cib-otp (otpValueEvent)="onOtpValueEnter($event)" class="otp-comp"></app-cib-otp>
        <div class="divider"></div>
    </div>

    <mat-form-field *ngIf="data.action === 'reject'">
        <mat-label>Reason:</mat-label>
        <input matInput [(ngModel)]="notes" placeholder="Reason to reject..." />
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="1rem" *ngIf="data.isOtpNeeded">
        <button
            mat-button
            class="mat-raised-button mat-primary"
            [disabled]="!isOtpFilled || (data.action === 'reject' && notes.length === 0)"
            (click)="onConfirm()"
        >
            {{ data.action === 'reject' ? 'REJECT' : 'CONFIRM' }}
        </button>
    </div>
</div>
