<div class="header-section" *ngIf="transfer">
    <app-label-value
        label="Transfer Type"
        *ngIf="transfer.transferType"
        [value]="transfer.transferType | cibDefinition: 'PAYEE'"
    >
    </app-label-value>
    <app-label-value
        label="From Account"
        *ngIf="transfer.fromAccount?.accountNumber"
        [value]="transfer.fromAccount?.accountNumber"
    ></app-label-value>
    <app-label-value
        label="To Account"
        *ngIf="transfer.toAccount?.accountNumber"
        [value]="transfer.toAccount?.accountNumber"
    ></app-label-value>
    <app-label-value
        label="Amount"
        *ngIf="transfer.amount && transfer.toAccount?.currency"
        [value]="transfer.toAccount?.currency + ' ' + (transfer.amount | number: '1.2-4')"
    >
    </app-label-value>
</div>
