<app-master-container *ngIf="!showDetails">
    <ng-container header>REGISTER A CORPORATE</ng-container>
    <ng-container icons>
        <button
            *ngIf="corporatesList.length > 0"
            (click)="resetGroup()"
            mat-icon-button
            #tooltip="matTooltip"
            matTooltip="Clear All"
        >
            <i class="las la-sync-alt"></i>
        </button>
    </ng-container>
    <ng-container body>
        <div fxLayout="column" fxFlex="100" fxLayoutGap="1rem">
            <form [formGroup]="searchForm">
                <div fxLayout="row" class="search" fxLayoutGap="1rem" fxLayoutAlign="start center">
                    <mat-form-field fxFlex="35">
                        <mat-label>Rim Number</mat-label>
                        <input
                            type="number"
                            min="0"
                            autocomplete="off"
                            autofill="off"
                            aria-label="Rim Number"
                            matInput
                            formControlName="rim"
                        />
                    </mat-form-field>
                    <div>
                        <button
                            [disabled]="searchForm.invalid"
                            type="submit"
                            mat-flat-button
                            color="primary"
                            (click)="searchForCorporate()"
                        >
                            SEARCH
                        </button>
                    </div>
                </div>
            </form>
            <div class="divider"></div>
            <div fxLayout="column" fxLayoutGap="0.625rem">
                <div class="title">SEARCH RESULTS</div>
                <app-cib-table [config]="tableConfig" (_clickCell)="onClickCell($event)"> </app-cib-table>
            </div>
        </div>
    </ng-container>
</app-master-container>
<ng-container *ngIf="showDetails">
    <app-corporate-details
        [corporateDetails]="selectedCorporate"
        [showEdit]="showEdit"
        (closeDetails)="showDetails = false"
    ></app-corporate-details>
</ng-container>
