<div class="otp-wrapper">
    <div class="login-title">
        <mat-label>Corporate Login</mat-label>
    </div>
    <form (submit)="validateOtp()">
        <app-sgs-otp class="otp-comp" (otpValueEvent)="onOtpValueEnter($event)"></app-sgs-otp>
        <div class="buttons-group">
            <button mat-flat-button type="button" class="md-block custom-sgs-button-cancel" (click)="onCancelClick()">
                CANCEL
            </button>
            <button mat-flat-button color="primary" [disabled]="otp!.length < 6" type="submit">CONFIRM</button>
        </div>
    </form>
</div>
