@import 'variables';
.otp-wrapper {
    background: $sweety-white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    .login-title {
        mat-label {
            font-size: 1.25rem;
        }
    }
    .buttons-group {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        button {
            min-width: 9.375rem;
        }
    }
}
