/*For legend*/
legend {
    background: #d5e6f1;
    border-radius: 2rem;
    color: #2588bb;
    font-weight: bold;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 0.5rem;
}
fieldset {
    border-radius: 10px;
    border: 1px solid #d5e7f1;
}
