<app-cib-notification
    [headerTitle]="'Card Request Success'"
    [title]="requestSuccessData?.statusMessage"
    [variant]="'success'"
>
    <ng-container body>
        <div fxLayout="row" fxFlex="100" fxLayoutGap="1rem">
            <div fxFlex="40">
                <app-master-container [variant]="'secondary'">
                    <ng-container header>
                        <div>Company Details</div>
                    </ng-container>
                    <ng-container body>
                        <div>
                            <app-label-value
                                [label]="'Name Of The Company'"
                                [value]="requestSuccessData?.data.companyName"
                            >
                            </app-label-value>

                            <app-label-value
                                *ngIf="requestSuccessData?.linkSavingAcc"
                                [label]="'Account Number'"
                                [value]="requestSuccessData?.linkSavingAcc"
                            >
                            </app-label-value>
                            <app-label-value
                                *ngIf="requestSuccessData?.linkCurrentAcc"
                                [label]="'Account Number'"
                                [value]="requestSuccessData?.linkCurrentAcc"
                            >
                            </app-label-value>

                            <app-label-value [label]="'CR Number'" [value]="requestSuccessData?.data.commRegNo">
                            </app-label-value>

                            <app-label-value
                                [label]="'CR Expiry Date'"
                                [value]="requestSuccessData?.data.crExpiryDate"
                            ></app-label-value>

                            <app-label-value
                                [label]="'Address'"
                                [value]="
                                    requestSuccessData?.data.addrLine1 +
                                    '' +
                                    requestSuccessData?.data.addrLine2 +
                                    ' ' +
                                    requestSuccessData?.data.addrLine3
                                "
                            >
                            </app-label-value>

                            <app-label-value [label]="'PO Box'" [value]="requestSuccessData?.data.poBox">
                            </app-label-value>
                        </div>
                    </ng-container>
                </app-master-container>
            </div>

            <div fxFlex="60">
                <app-master-container [variant]="'secondary'">
                    <ng-container header>
                        <div>Cards Requested</div>
                    </ng-container>
                    <ng-container body>
                        <div fxLayout="column" fxFlex="100">
                            <div
                                fxLayout="row"
                                fxLayoutGap="2rem"
                                fxLayoutAlign="start center"
                                *ngFor="let cards of requestSuccessData?.data.externalCardRequestsMaster; let i = index"
                            >
                                <app-label-value [label]="''" [value]="i + 1 + ''"> </app-label-value>
                                <app-label-value
                                    *ngIf="cards.embName"
                                    [label]="'Embossing Name'"
                                    [value]="cards.embName"
                                >
                                </app-label-value>
                                <app-label-value *ngIf="cards.qid" [label]="'Qatar Id'" [value]="cards.qid">
                                </app-label-value>
                                <app-label-value *ngIf="cards.mobile" [label]="'Mobile No.'" [value]="cards.mobile">
                                </app-label-value>
                            </div>
                        </div>
                    </ng-container>
                </app-master-container>
            </div>
        </div>
        <div fxLayout="row" fxFlex="100">
            <button type="button" mat-flat-button (click)="closeSuccessMessage()" color="primary">OK</button>
        </div>
    </ng-container>
</app-cib-notification>
