<ng-template #searchFormData>
    <app-master-container>
        <ng-container header>CORPORATE BUSINESS GROUPS</ng-container>
        <ng-container icons>
            <button
                (click)="addGroup()"
                mat-icon-button
                #tooltip="matTooltip"
                matTooltip="ADD A NEW CORPORATE BUSINESS GROUP"
            >
                <i class="las la-plus"></i>
            </button>
            <button
                *ngIf="corporatesGroupList.length > 0"
                (click)="resetGroup()"
                mat-icon-button
                #tooltip="matTooltip"
                matTooltip="CLEAR SEARCH RESULTS"
            >
                <i class="las la-sync-alt"></i>
            </button>
        </ng-container>
        <ng-container body>
            <div fxLayout="column" fxFlex="100" fxLayoutGap="1rem">
                <form [formGroup]="searchForm">
                    <div fxLayout="row" class="search" fxLayoutGap="1rem" fxLayoutAlign="start center">
                        <mat-form-field fxFlex="35">
                            <mat-label>Group Name</mat-label>
                            <input
                                type="text"
                                autocomplete="off"
                                autofill="off"
                                aria-label="Group Name"
                                matInput
                                formControlName="groupName"
                            />
                        </mat-form-field>
                        <div>
                            <button
                                [disabled]="searchForm.invalid"
                                class="mat-raised-button mat-primary"
                                type="submit"
                                mat-button
                                color="primary"
                                (click)="searchForCorporateGroup()"
                            >
                                SEARCH
                            </button>
                        </div>
                    </div>
                </form>
                <div class="divider"></div>
                <div fxLayout="column" fxLayoutGap="0.625rem">
                    <div class="title">SEARCH RESULTS</div>
                    <app-cib-table [config]="tableConfig" (_clickCell)="onClickCell($event)"> </app-cib-table>
                </div>
            </div>
        </ng-container>
    </app-master-container>
</ng-template>
<ng-container *ngIf="showGroupDetails; else searchFormData">
    <app-corporate-group-details
        [corporateGroupDetails]="selectedCorporateGroup"
        [selectedFeatureType]="selectedFeatureType"
        (closeDetails)="closeDetails()"
    >
    </app-corporate-group-details>
</ng-container>
