<div class="forgot-password-wrapper">
    <div fxLayout="column" fxFlex fxLayoutAlign="center center">
        <div class="login-title">
            <mat-label>Reset Password</mat-label>
        </div>
        <div class="login-form" *ngIf="!verify; else otpEntry">
            <form
                class="body-card-login-form"
                [formGroup]="form"
                (ngSubmit)="action(DECISION.VERIFY)"
                autocomplete="off"
                fxLayout="column"
            >
                <mat-form-field class="md-block">
                    <mat-label>Current Password</mat-label>
                    <input
                        formControlName="currentPassword"
                        matInput
                        aria-label="Password"
                        required
                        type="password"
                        maxlength="64"
                        autocomplete="off"
                        autofill="off"
                    />
                    <i matSuffix class="las la-unlock-alt"></i>
                </mat-form-field>
                <mat-form-field class="md-block">
                    <mat-label>New Password</mat-label>
                    <input
                        formControlName="newPassword"
                        #newPassword
                        matInput
                        aria-label="Password"
                        required
                        type="password"
                        maxlength="64"
                        autocomplete="off"
                        autofill="off"
                        pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                        #tooltip="matTooltip"
                        [matTooltipPosition]="'right'"
                        matTooltip="Password should contain minimun 8 and maximum 20 alphanumeric characters with atleast 1 special character e.g.(!@#$%^&*)"
                    />
                    <i matSuffix class="las la-unlock-alt"></i>
                </mat-form-field>
                <mat-form-field class="md-block">
                    <mat-label>Confirm Password</mat-label>
                    <input
                        formControlName="confirmPassword"
                        #confirmPassword
                        matInput
                        aria-label="Password"
                        required
                        type="password"
                        maxlength="64"
                        autocomplete="off"
                        autofill="off"
                        pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                        #tooltip="matTooltip"
                        [matTooltipPosition]="'right'"
                        matTooltip="Both passwords should match"
                    />
                    <i matSuffix class="las la-unlock-alt"></i>
                </mat-form-field>
                <div class="password-mismatch" *ngIf="newPassword.value !== confirmPassword.value">
                    Password mismatch
                </div>
                <div
                    fxFlex="100"
                    fxLayout="row"
                    fxLayoutGap="10px"
                    fxLayout.sm="column"
                    fxLayout.xs="column"
                    class="login-btn"
                >
                    <button mat-flat-button fxFlex="100" type="button" (click)="onCancelClick()">CANCEL</button>
                    <button
                        mat-flat-button
                        fxFlex="100"
                        type="submit"
                        color="primary"
                        [disabled]="form.invalid || newPassword.value !== confirmPassword.value"
                    >
                        Submit
                    </button>
                </div>
            </form>
        </div>
        <ng-template #otpEntry>
            <div class="login-form">
                <form class="body-card-login-form" autocomplete="off" fxLayout="column">
                    <app-cib-otp (otpValueEvent)="otp = $event" [email]="currentUser.userName"></app-cib-otp>
                    <div
                        fxFlex="100"
                        fxLayout="row"
                        fxLayoutGap="10px"
                        fxLayout.sm="column"
                        fxLayout.xs="column"
                        class="login-btn"
                    >
                        <button mat-flat-button fxFlex="100" type="button" (click)="onCancelClick()">CANCEL</button>
                        <button
                            mat-flat-button
                            fxFlex="100"
                            type="button"
                            (click)="action(DECISION.CONFIRM)"
                            color="primary"
                            [disabled]="otp && otp.length < 6"
                        >
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </ng-template>
    </div>
</div>
