@import 'variables';
.forgot-password-wrapper {
    background: $qib-white;
    height: 100%;
    padding: 15px;
    .login-title {
        mat-label {
            font-size: 1.25rem;
        }
    }
    .login-form {
        width: 55%;
        .md-block {
            mat-label {
                font-size: 0.875rem;
            }
            i {
                font-size: 1rem;
                color: $qib-badge-background;
                font-weight: bold;
            }
        }
        .login-btn {
            margin-top: 0.313rem;
        }
        .body-card-login-form {
            .md-block {
                color: $qib-primary-color;
                i {
                    font-size: 1rem;
                    color: $qib-badge-background;
                    font-weight: bold;
                }
                mat-label {
                    font-size: 0.875rem;
                }
            }
        }
    }
    .password-mismatch {
        font-size: 0.75rem;
        width: 100%;
        padding-bottom: 0.5rem;
        color: $qib-red;
    }
}
