<div fxFlex="100" fxFlex.sm="100">
    <app-master-container>
        <ng-container header>LC Documents Arrival Notice</ng-container>
        <ng-container icons>
            <span *appHasEntitlementAccessTo="'TRADEFINANCE_DOCUMENT_DOWNLOAD'">
                <button *ngIf="lcdocuments?.length > 0" mat-icon-button (click)="generateExcel()">
                    <i class="las la-file-excel"></i></button
            ></span>
            <button mat-icon-button (click)="getLcDocumentsArrivalNotice()">
                <i class="las la-sync"></i>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                <i class="las la-search"></i>
            </button>
        </ng-container>
        <ng-container body>
            <app-cib-table
                [config]="tableConfig"
                (_clickCell)="onClickCell($event)"
                (_lazyLoad)="lazyLoad($event)"
            ></app-cib-table>
        </ng-container>
    </app-master-container>
</div>

<mat-menu #menu="matMenu" xPosition="after">
    <div class="filter-menu-item-container" (click)="$event.stopPropagation()">
        <form [formGroup]="filterForm">
            <div class="filter-section">
                <mat-form-field (click)="picker.open()">
                    <input matInput [matDatepicker]="picker" formControlName="value_date" placeholder="Received Date" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" formControlName="amount" placeholder="Amount" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" formControlName="lcRefNo" placeholder="LC Reference" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" formControlName="presentor" placeholder="Presentor" />
                </mat-form-field>

                <div>
                    <button
                        [disabled]="diableFilterButton()"
                        class="filter-menu-item"
                        class="mat-raised-button mat-primary"
                        (click)="filterTable()"
                        mat-button
                        color="primary"
                    >
                        <span>Search</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</mat-menu>
