<div class="column banner">     
        <div class="column content">
            <div class="row justtify-content-space-between h-33">
                <div class="hero-style2 pt-8 px-3">
                    <div class="column gap-2">
                        <span class="hero-subtitle">
                        Authorized outright dealer for Viindhya Bullion Pvt Ltd
                        Welcome to SAVEGOLD
                        Best Online Jewellery Shop
                        </span>
                        <h1 class="hero-title text-theme">
                            India’s leading
                        </h1>
                        <h1 class="hero-title">  gold refinery</h1>
                        <div class="checklist">
                            <ul>
                                <li><i class="las la-check"></i>Refining Services</li>
                                <li><i class="las la-check"></i>Refining Process</li>
                                <li><i class="las la-check"></i>Accredited Laboratory</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <img src="assets/images/slider-banner.jpg" />
                </div>
            </div>
        </div>
</div>

