@import 'variables';
.header {
    font-weight: 700;
    color: $qib-text-color;
    i {
        font-size: 1.5rem;
    }
}
.transaction-disclaimer {
    font-size: 0.625rem;
    padding: 0 0 0.312rem;
    color: $qib-primary-color;
}

.filter-menu-item-container {
    i {
        &.la-times {
            color: $qib-primary-color;
        }
    }
    .heading {
        height: 1.4rem;
    }
    .title {
        color: $qib-primary-color;
        font-size: 0.875rem;
        font-weight: 600;
    }
}
