<div class="ben-details">
    <app-label-value
        [label]="'Bank Country'"
        *ngIf="selectedBeneficiary.bankCountry"
        [value]="getCountryName(selectedBeneficiary.bankCountry)"
    ></app-label-value>
    <app-label-value [label]="'Bank Name'" *ngIf="selectedBeneficiary.bankName" [value]="selectedBeneficiary.bankName">
    </app-label-value>
    <app-label-value
        [label]="'IBAN Number'"
        *ngIf="selectedBeneficiary.iban"
        [value]="selectedBeneficiary.iban"
        [type]="'iban'"
    ></app-label-value>
    <app-label-value
        [label]="'Account Number'"
        *ngIf="selectedBeneficiary.accountNo"
        [value]="selectedBeneficiary.accountNo"
    ></app-label-value>
    <app-label-value [label]="'Currency'" *ngIf="selectedBeneficiary.currency" [value]="selectedBeneficiary.currency">
    </app-label-value>
    <app-label-value
        [label]="'Swift/BIC Code'"
        [value]="selectedBeneficiary.swiftCode"
        *ngIf="selectedBeneficiary.swiftCode"
    ></app-label-value>
    <app-label-value [label]="'IFSC Code'" *ngIf="selectedBeneficiary.ifscCode" [value]="selectedBeneficiary.ifscCode">
    </app-label-value>
    <app-label-value [label]="'FEDWIRE'" *ngIf="selectedBeneficiary.fedwire" [value]="selectedBeneficiary.fedwire">
    </app-label-value>
    <app-label-value
        [label]="'Transit No'"
        *ngIf="selectedBeneficiary.transitNo"
        [value]="selectedBeneficiary.transitNo"
    ></app-label-value>
    <app-label-value [label]="'BSB_NO'" *ngIf="selectedBeneficiary.bsbNo" [value]="selectedBeneficiary.bsbNo">
    </app-label-value>
    <app-label-value
        [label]="'Beneficiary Name'"
        *ngIf="selectedBeneficiary.nickName"
        [value]="selectedBeneficiary.nickName"
    ></app-label-value>
    <app-label-value
        [label]="'Relationship With the Beneficiary'"
        *ngIf="selectedBeneficiary.relationshipWithBeneficiary"
        [value]="selectedBeneficiary.relationshipWithBeneficiary"
    ></app-label-value>
    <app-label-value
        [label]="'Beneficiary Address'"
        *ngIf="selectedBeneficiary.street"
        [value]="selectedBeneficiary.street"
    ></app-label-value>
    <app-label-value
        [label]="'Beneficiary City'"
        *ngIf="selectedBeneficiary.beneficiaryCity"
        [value]="selectedBeneficiary.beneficiaryCity"
    ></app-label-value>
    <app-label-value
        [label]="'Beneficiary Nationality'"
        *ngIf="selectedBeneficiary.beneficiaryCountry"
        [value]="getCountryName(selectedBeneficiary.beneficiaryCountry)"
    ></app-label-value>
</div>
<div class="divider"></div>
<div fxLayout="column" *ngIf="auditLogs.length > 0">
    <div class="header-info">Audit Trail</div>
    <ng-container *ngFor="let auditTrail of auditLogs; let i = index">
        <app-cib-card>
            <app-label-value
                [label]="auditTrail.action === 'CREATE' ? 'Created by & Date' : 'Updated By & Date'"
                [value]="auditTrail.user.email + ' - ' + (auditTrail.created | date: 'medium')"
            >
            </app-label-value>
        </app-cib-card>
    </ng-container>
</div>
<div fxLayout="column" *ngIf="auditLogs.length === 0">
    <div>No Audit trail available</div>
</div>
<div class="divider"></div>
<div fxLayout="row" fxLayoutGap="2rem">
    <button
        mat-button
        (click)="onTransferClick()"
        type="submit"
        class="mat-raised-button mat-primary"
        *appHasAccessToRole="['ROLE_USER_MAKER', 'ROLE_USER_MAKER_CHECKER']"
    >
        Make Transfer
    </button>
</div>
