@import 'variables';
.dialog-container {
    overflow: hidden;
    width: 80vw;
    height: 80vh;
    .demo-header {
        background: $qib-primary-color;
        color: $qib-dashboard-header-color;
        margin-bottom: 0;
        .custom-header {
            padding: 0.625rem;
        }
    }

    .list-active {
        background-color: $qib-divider-color;
    }

    .demo-sidemenu {
        overflow-y: auto;
        border-right: 0.0625rem solid $qib-divider-color;
        border-radius: 0;
        margin-top: 0.3125rem;
        mat-list-item {
            font-size: 0.875rem;
            border-bottom: 0.0625rem solid $qib-divider-color;
        }
    }

    .demo-content {
        height: 90vh !important;
        overflow: hidden;
    }
}
