<app-master-container>
    <ng-container header>RESET PIN</ng-container>
    <ng-container body>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between">
            <form>
                <div fxLayout="column" fxLayoutGap="1rem" fxLayoutAlign="center">
                    <app-cib-input-matcher
                        (inputMatchEvent)="onInputMatched($event)"
                        [isClearData]="isClearData"
                    ></app-cib-input-matcher>
                    <button
                        *ngIf="cardDetails.allowAction"
                        flex="20"
                        class="mat-raised-button mat-primary"
                        type="button"
                        [disabled]="!isValidForm"
                        (click)="sentRequest()"
                        mat-stroked-button
                        color="primary"
                    >
                        SUBMIT
                    </button>
                </div>
            </form>
        </div>
    </ng-container>
</app-master-container>
