<mat-tab-group>
    <mat-tab label="Details">
        <ng-container body>
            <div fxFlex="column">
                <div class="inquiry-details" *ngIf="status !== 'AMEND'">
                    <app-label-value [label]="'LC Reference'" *ngIf="parentData?.lcRefNo" [value]="parentData?.lcRefNo">
                    </app-label-value>
                    <app-label-value [label]="'TF Reference'" *ngIf="parentData?.tfRef" [value]="parentData?.tfRef">
                    </app-label-value>
                    <app-label-value
                        [label]="'Issue date'"
                        *ngIf="parentData?.issueDate"
                        [value]="parentData?.issueDate"
                        [type]="'date'"
                    >
                    </app-label-value>
                    <app-label-value
                        [label]="'LC Option'"
                        *ngIf="parentData?.lcbasicDetails.lcOption"
                        [value]="parentData?.lcbasicDetails.lcOption"
                    >
                    </app-label-value>
                    <app-label-value
                        [label]="'LC Type'"
                        *ngIf="parentData?.lcbasicDetails.selectedLcType"
                        [value]="parentData?.lcbasicDetails.selectedLcType"
                    ></app-label-value>

                    <app-label-value
                        [label]="'Lc to be advised by'"
                        *ngIf="parentData?.lcbasicDetails.lcToBeAdvisedBy"
                        [value]="parentData?.lcbasicDetails.lcToBeAdvisedBy"
                    >
                    </app-label-value>

                    <app-label-value
                        [label]="'LC to be issued against'"
                        *ngIf="parentData?.lcbasicDetails.lcNfCurrenctLCOption"
                        [value]="parentData?.lcbasicDetails.lcNfCurrenctLCOption"
                    >
                    </app-label-value>
                    <app-label-value
                        [label]="'Currency'"
                        *ngIf="parentData?.lcbasicDetails.lcCurrency"
                        [value]="parentData?.lcbasicDetails.lcCurrency"
                    >
                    </app-label-value>
                    <app-label-value
                        [label]="'Amount'"
                        *ngIf="parentData?.lcbasicDetails.lcAmount"
                        [value]="parentData?.lcbasicDetails.lcAmount"
                        [type]="'amount'"
                    >
                    </app-label-value>
                    <app-label-value
                        [label]="'Amount In Words'"
                        *ngIf="parentData?.lcbasicDetails.lcAmountInWords"
                        [value]="parentData?.lcbasicDetails.lcAmountInWords"
                    >
                    </app-label-value>

                    <app-label-value
                        [label]="'Product Type'"
                        *ngIf="parentData?.lcbasicDetails.lcProductType"
                        [value]="parentData?.lcbasicDetails.lcProductType"
                    >
                    </app-label-value>
                    <app-label-value
                        [label]="'Tolerance%'"
                        *ngIf="parentData?.lcbasicDetails.lcToleranceValue"
                        [value]="parentData?.lcbasicDetails.lcToleranceValue"
                    >
                    </app-label-value>
                    <app-label-value
                        [label]="'Beneficiary Details'"
                        *ngIf="parentData?.lcAdvicingBankDetails.lcBeneficiaryName"
                        [value]="parentData?.lcAdvicingBankDetails.lcBeneficiaryName"
                    >
                    </app-label-value>

                    <app-label-value
                        [label]="'Beneficiary Address'"
                        *ngIf="parentData?.lcAdvicingBankDetails.lcBeneficiaryAddress"
                        [value]="parentData?.lcAdvicingBankDetails.lcBeneficiaryAddress"
                    >
                    </app-label-value>

                    <app-label-value
                        [label]="'Advising Bank'"
                        *ngIf="parentData?.lcAdvicingBankDetails.lcAdvisingBank"
                        [value]="parentData?.lcAdvicingBankDetails.lcAdvisingBank"
                    >
                    </app-label-value>

                    <app-label-value
                        [label]="'Tenor'"
                        *ngIf="parentData?.lcbasicDetails.lcTenor"
                        [value]="parentData?.lcbasicDetails.lcTenor"
                    >
                    </app-label-value>

                    <app-label-value
                        [label]="'Bank Address'"
                        *ngIf="parentData?.lcAdvicingBankDetails.lcBankAddress"
                        [value]="parentData?.lcAdvicingBankDetails.lcBankAddress"
                    ></app-label-value>

                    <app-label-value
                        [label]="'Swift Code'"
                        *ngIf="parentData?.lcAdvicingBankDetails.lcSwiftCode"
                        [value]="parentData?.lcAdvicingBankDetails.lcSwiftCode"
                    ></app-label-value>

                    <app-label-value
                        [label]="'Against Margin'"
                        *ngIf="parentData?.lcbasicDetails.lcAgainstMargin"
                        [value]="parentData?.lcbasicDetails.lcAgainstMargin"
                    ></app-label-value>

                    <app-label-value
                        [label]="'Confirm Instruction'"
                        *ngIf="parentData?.lcbasicDetails.lcConfirmation"
                        [value]="parentData?.lcbasicDetails.lcConfirmation"
                    ></app-label-value>

                    <app-label-value
                        [label]="'Expiry Country'"
                        *ngIf="parentData?.lcbasicDetails.lcExpiryCountry"
                        [value]="parentData?.lcbasicDetails.lcExpiryCountry"
                    ></app-label-value>
                    <app-label-value
                        [label]="'Expiry Date'"
                        *ngIf="parentData?.lcbasicDetails.lcExpiryDate"
                        [value]="parentData?.lcbasicDetails.lcExpiryDate"
                    ></app-label-value>
                    <app-label-value
                        [label]="'Latest Shipment Date'"
                        *ngIf="parentData?.lcShipmentDetails.lcLastShipmentDate"
                        [value]="parentData?.lcShipmentDetails.lcLastShipmentDate"
                    ></app-label-value>

                    <app-label-value
                        [label]="'Charges Option'"
                        *ngIf="parentData?.lcbasicDetails.lcChargesType"
                        [value]="parentData?.lcbasicDetails.lcChargesType"
                    ></app-label-value>

                    <app-label-value
                        [label]="'Partial Shipment/ delivery'"
                        *ngIf="parentData?.lcShipmentDetails.lcPartialShipmentFlag"
                        [value]="parentData?.lcShipmentDetails.lcPartialShipmentFlag"
                    ></app-label-value>
                    <app-label-value
                        [label]="'Transhipment'"
                        *ngIf="parentData?.lcShipmentDetails.lcTransShipmentFlag"
                        [value]="parentData?.lcShipmentDetails.lcTransShipmentFlag"
                    ></app-label-value>

                    <app-label-value
                        [label]="'Period for presentation (no of days)'"
                        *ngIf="parentData?.lcShipmentDetails.lcPeriodForPresentation"
                        [value]="parentData?.lcShipmentDetails.lcPeriodForPresentation"
                    ></app-label-value>

                    <app-label-value
                        [label]="'Credit available with'"
                        *ngIf="parentData?.lcAdvicingBankDetails.lcCreditAvailableWith"
                        [value]="parentData?.lcAdvicingBankDetails.lcCreditAvailableWith"
                    ></app-label-value>

                    <app-label-value
                        [label]="'Credit available by'"
                        *ngIf="parentData?.lcbasicDetails.lcCreditAvailableBy"
                        [value]="parentData?.lcbasicDetails.lcCreditAvailableBy"
                    ></app-label-value>

                    <app-label-value
                        [label]="'Shipping Marks'"
                        *ngIf="parentData?.lcShipmentDetails.lcShippingMarksText"
                        [value]="parentData?.lcShipmentDetails.lcShippingMarksText"
                    ></app-label-value>

                    <app-label-value
                        [label]="'Inco terms'"
                        *ngIf="parentData?.lcShipmentDetails.selectedShippingMark"
                        [value]="parentData?.lcShipmentDetails.selectedShippingMark"
                    ></app-label-value>
                    <app-label-value
                        [label]="'Insurance to be arranged by'"
                        *ngIf="parentData?.lcShipmentDetails.lcInsuranceOwner"
                        [value]="parentData?.lcShipmentDetails.lcInsuranceOwner"
                    >
                    </app-label-value>

                    <app-label-value
                        [label]="'Shipment to be effected by'"
                        *ngIf="parentData?.lcShipmentDetails.lcTransportOptions"
                        [value]="parentData?.lcShipmentDetails.lcTransportOptions"
                    >
                    </app-label-value>
                    <app-label-value
                        [label]="'Airport of departure'"
                        *ngIf="parentData?.lcShipmentDetails.lcShipmentAirportOfDep"
                        [value]="parentData?.lcShipmentDetails.lcShipmentAirportOfDep"
                    >
                    </app-label-value>
                    <app-label-value
                        [label]="'Airport of destination'"
                        *ngIf="parentData?.lcShipmentDetails.lcShipmentAirportDesc"
                        [value]="parentData?.lcShipmentDetails.lcShipmentAirportDesc"
                    >
                    </app-label-value>
                    <app-label-value
                        [label]="'Port of Loading'"
                        *ngIf="parentData?.lcShipmentDetails.lcShipmentPortLanding"
                        [value]="parentData?.lcShipmentDetails.lcShipmentPortLanding"
                    >
                    </app-label-value>
                    <app-label-value
                        [label]="'Port of discharge'"
                        *ngIf="parentData?.lcShipmentDetails.lcShipmentPortDischarge"
                        [value]="parentData?.lcShipmentDetails.lcShipmentPortDischarge"
                    >
                    </app-label-value>

                    <app-label-value
                        [label]="'Place of receipt'"
                        *ngIf="parentData?.lcShipmentDetails.lcShipmentPlaceOfRecipt"
                        [value]="parentData?.lcShipmentDetails.lcShipmentPlaceOfRecipt"
                    >
                    </app-label-value>

                    <app-label-value
                        [label]="'Place of delivery'"
                        *ngIf="parentData?.lcShipmentDetails.lcShipmentPlaceOfDelivery"
                        [value]="parentData?.lcShipmentDetails.lcShipmentPlaceOfDelivery"
                    >
                    </app-label-value>

                    <app-label-value
                        [label]="'Mixed Payment Details'"
                        *ngIf="parentData?.lcbasicDetails.lcMixedPaymentdetails"
                        [value]="parentData?.lcbasicDetails.lcMixedPaymentdetails"
                    >
                    </app-label-value>
                    <app-label-value
                        [label]="'Insurance Co Name and Address'"
                        [value]="parentData?.lcShipmentDetails.lcInsuranceApplicantDetails"
                        *ngIf="parentData?.lcShipmentDetails.lcInsuranceApplicantDetails"
                    ></app-label-value>
                    <app-label-value
                        [label]="'Legalization'"
                        *ngIf="parentData?.lcShipmentDetails.lcLegalization"
                        [value]="parentData?.lcShipmentDetails.lcLegalization"
                    >
                    </app-label-value>
                    <app-label-value
                        [label]="'Goods Origin'"
                        *ngIf="parentData?.lcShipmentDetails.lcGoodsOrigin"
                        [value]="parentData?.lcShipmentDetails.lcGoodsOrigin"
                    >
                    </app-label-value>

                    <app-label-value
                        [label]="'Swift Field (45A): Goods or Services Description'"
                        *ngIf="parentData?.lcShipmentDetails.lcGoodsServiceDesc"
                        [value]="parentData?.lcShipmentDetails.lcGoodsServiceDesc"
                    >
                    </app-label-value>
                    <app-label-value
                        [label]="'Swift Field (46A): Documents Requested'"
                        *ngIf="parentData?.lcDocumentDetails.lcDocsRequested"
                        [value]="parentData?.lcDocumentDetails.lcDocsRequested.split('. ')"
                        [type]="'list'"
                    >
                    </app-label-value>
                    <app-label-value
                        [label]="'Swift Field (47A): Additional Conditions'"
                        *ngIf="parentData?.lcAdditionalInstructions"
                        [value]="parentData?.lcAdditionalInstructions.split('. ')"
                        [type]="'list'"
                    >
                    </app-label-value>
                </div>
                <div class="inquiry-details" *ngIf="status === 'AMEND'">
                    <app-label-value [label]="'LC Reference'" *ngIf="parentData?.lcRefNo" [value]="parentData?.lcRefNo">
                    </app-label-value>
                    <app-label-value [label]="'TF Reference'" *ngIf="parentData?.tfRef" [value]="parentData?.tfRef">
                    </app-label-value>
                    <app-label-value
                        [label]="'Issue date'"
                        *ngIf="parentData?.issueDate"
                        [value]="parentData?.issueDate"
                    >
                    </app-label-value>
                    <app-label-value
                        [label]="'LC Option'"
                        *ngIf="parentData?.lcbasicDetails.lcOption"
                        [value]="parentData?.lcbasicDetails.lcOption"
                    >
                    </app-label-value>
                    <app-label-value
                        [label]="'Product Type'"
                        *ngIf="parentData?.lcbasicDetails.lcProductType"
                        [value]="parentData?.lcbasicDetails.lcProductType"
                    >
                    </app-label-value>
                    <app-label-value
                        [label]="'LC Type'"
                        *ngIf="parentData?.lcbasicDetails.selectedLcType"
                        [value]="parentData?.lcbasicDetails.selectedLcType"
                    ></app-label-value>

                    <app-label-value
                        [label]="'Lc to be advised by'"
                        *ngIf="parentData?.lcbasicDetails.lcToBeAdvisedBy"
                        [value]="parentData?.lcbasicDetails.lcToBeAdvisedBy"
                    >
                    </app-label-value>
                    <app-label-value
                        [label]="'Currency'"
                        *ngIf="parentData?.lcbasicDetails.lcCurrency"
                        [value]="parentData?.lcbasicDetails.lcCurrency"
                    >
                    </app-label-value>
                    <app-label-value
                        [label]="'New Amount'"
                        *ngIf="parentData?.lcbasicDetails.lcAmount"
                        [value]="parentData?.lcbasicDetails.lcAmount"
                        [type]="'amount'"
                    >
                    </app-label-value>

                    <app-label-value
                        [label]="'New Expiry Date'"
                        *ngIf="parentData?.lcbasicDetails.lcExpiryDate"
                        [value]="parentData?.lcbasicDetails.lcExpiryDate"
                    >
                    </app-label-value>

                    <app-label-value
                        [label]="'New Shipment date'"
                        *ngIf="parentData?.lcShipmentDetails.lcLastShipmentDate"
                        [value]="parentData?.lcShipmentDetails.lcLastShipmentDate"
                    >
                    </app-label-value>

                    <app-label-value
                        [label]="'Amend Details'"
                        *ngIf="parentData?.lcDetails?.narrative"
                        [value]="parentData?.lcDetails?.narrative"
                    >
                    </app-label-value>
                </div>
            </div>
        </ng-container>
        <app-comments-history [comments]="parentData.lcInstructions" *ngIf="parentData.lcInstructions?.length > 0">
        </app-comments-history>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span>History & Attachments</span>
        </ng-template>
        <ng-container *ngIf="showHistory">
            <app-master-container
                *ngFor="let parentData of transactionsHistory; let i = index"
                [variant]="'secondary'"
                [opened]="i === 0"
                [collapsable]="true"
            >
                <ng-container header>
                    <div class="inquiry-details">
                        <span>Reference No : {{ parentData?.applnId }}</span>
                    </div>
                </ng-container>
                <ng-container icons>
                    <span [appTextHighlight]="parentData.lcStatusBean.statusDesc.toLowerCase()">{{
                        parentData.lcStatusBean.statusDesc
                    }}</span>
                    <button mat-icon-button *ngIf="parentData.documents.length > 0">
                        <i class="las la-paperclip" [matMenuTriggerFor]="menu"></i>
                        <span class="hilight-medium" [matMenuTriggerFor]="menu"
                            >{{ parentData.documents.length }}
                        </span>
                    </button>
                </ng-container>
                <ng-container body>
                    <div fxFlex="column">
                        <ng-container *ngIf="parentData">
                            <div class="inquiry-details" *ngIf="parentData?.isAmendRequest !== 'Y'">
                                <app-label-value
                                    [label]="'CIB Reference'"
                                    *ngIf="parentData?.applnId"
                                    [value]="parentData?.applnId"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'LC Reference'"
                                    *ngIf="parentData?.lcRefNo"
                                    [value]="parentData?.lcRefNo"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Request Type'"
                                    *ngIf="parentData?.request_type"
                                    [value]="parentData?.request_type"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Status'"
                                    *ngIf="parentData?.lcStatusBean?.statusDesc.toLowerCase() !== 'rejected'"
                                    [value]="parentData?.lcStatusBean?.statusDesc"
                                >
                                </app-label-value>

                                <app-label-value
                                    [label]="'Issue date'"
                                    *ngIf="parentData?.issueDate"
                                    [value]="parentData?.issueDate"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'LC Option'"
                                    *ngIf="parentData?.lcbasicDetails.lcOption"
                                    [value]="parentData?.lcbasicDetails.lcOption"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'LC Type'"
                                    *ngIf="parentData?.lcbasicDetails.selectedLcType"
                                    [value]="parentData?.lcbasicDetails.selectedLcType"
                                ></app-label-value>

                                <app-label-value
                                    [label]="'Lc to be advised by'"
                                    *ngIf="parentData?.lcbasicDetails.lcToBeAdvisedBy"
                                    [value]="parentData?.lcbasicDetails.lcToBeAdvisedBy"
                                >
                                </app-label-value>

                                <app-label-value
                                    [label]="'LC to be issued against'"
                                    *ngIf="parentData?.lcbasicDetails.lcNfCurrenctLCOption"
                                    [value]="parentData?.lcbasicDetails.lcNfCurrenctLCOption"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Currency'"
                                    *ngIf="parentData?.lcbasicDetails.lcCurrency"
                                    [value]="parentData?.lcbasicDetails.lcCurrency"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Amount'"
                                    *ngIf="parentData?.lcbasicDetails.lcAmount"
                                    [value]="parentData?.lcbasicDetails.lcAmount"
                                    [type]="'amount'"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Amount In Words'"
                                    *ngIf="parentData?.lcbasicDetails.lcAmountInWords"
                                    [value]="parentData?.lcbasicDetails.lcAmountInWords"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Product Type'"
                                    *ngIf="parentData?.lcbasicDetails.lcProductType"
                                    [value]="parentData?.lcbasicDetails.lcProductType"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Tolerance%'"
                                    *ngIf="parentData?.lcbasicDetails.lcToleranceValue"
                                    [value]="parentData?.lcbasicDetails.lcToleranceValue"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Beneficiary Details'"
                                    *ngIf="parentData?.lcAdvicingBankDetails.lcBeneficiaryName"
                                    [value]="parentData?.lcAdvicingBankDetails.lcBeneficiaryName"
                                >
                                </app-label-value>

                                <app-label-value
                                    [label]="'Beneficiary Address'"
                                    *ngIf="parentData?.lcAdvicingBankDetails.lcBeneficiaryAddress"
                                    [value]="parentData?.lcAdvicingBankDetails.lcBeneficiaryAddress"
                                >
                                </app-label-value>

                                <app-label-value
                                    [label]="'Advising Bank'"
                                    *ngIf="parentData?.lcAdvicingBankDetails.lcAdvisingBank"
                                    [value]="parentData?.lcAdvicingBankDetails.lcAdvisingBank"
                                >
                                </app-label-value>

                                <app-label-value
                                    [label]="'Tenor'"
                                    *ngIf="parentData?.lcbasicDetails.lcTenor"
                                    [value]="parentData?.lcbasicDetails.lcTenor"
                                >
                                </app-label-value>

                                <app-label-value
                                    [label]="'Bank Address'"
                                    *ngIf="parentData?.lcAdvicingBankDetails.lcBankAddress"
                                    [value]="parentData?.lcAdvicingBankDetails.lcBankAddress"
                                ></app-label-value>

                                <app-label-value
                                    [label]="'Swift Code'"
                                    *ngIf="parentData?.lcAdvicingBankDetails.lcSwiftCode"
                                    [value]="parentData?.lcAdvicingBankDetails.lcSwiftCode"
                                ></app-label-value>

                                <app-label-value
                                    [label]="'Against Margin'"
                                    *ngIf="parentData?.lcbasicDetails.lcAgainstMargin"
                                    [value]="parentData?.lcbasicDetails.lcAgainstMargin"
                                ></app-label-value>

                                <app-label-value
                                    [label]="'Confirm Instruction'"
                                    *ngIf="parentData?.lcbasicDetails.lcConfirmation"
                                    [value]="parentData?.lcbasicDetails.lcConfirmation"
                                ></app-label-value>

                                <app-label-value
                                    [label]="'Expiry Country'"
                                    *ngIf="parentData?.lcbasicDetails.lcExpiryCountry"
                                    [value]="parentData?.lcbasicDetails.lcExpiryCountry"
                                ></app-label-value>
                                <app-label-value
                                    [label]="'Expiry Date'"
                                    *ngIf="parentData?.lcbasicDetails.lcExpiryDate"
                                    [value]="parentData?.lcbasicDetails.lcExpiryDate"
                                ></app-label-value>
                                <app-label-value
                                    [label]="'Latest Shipment Date'"
                                    *ngIf="parentData?.lcShipmentDetails.lcLastShipmentDate"
                                    [value]="parentData?.lcShipmentDetails.lcLastShipmentDate"
                                ></app-label-value>

                                <app-label-value
                                    [label]="'Charges Option'"
                                    *ngIf="parentData?.lcbasicDetails.lcChargesType"
                                    [value]="parentData?.lcbasicDetails.lcChargesType"
                                ></app-label-value>

                                <app-label-value
                                    [label]="'Partial Shipment/ delivery'"
                                    *ngIf="parentData?.lcShipmentDetails.lcPartialShipmentFlag"
                                    [value]="parentData?.lcShipmentDetails.lcPartialShipmentFlag"
                                ></app-label-value>
                                <app-label-value
                                    [label]="'Transhipment'"
                                    *ngIf="parentData?.lcShipmentDetails.lcTransShipmentFlag"
                                    [value]="parentData?.lcShipmentDetails.lcTransShipmentFlag"
                                ></app-label-value>

                                <app-label-value
                                    [label]="'Period for presentation (no of days)'"
                                    *ngIf="parentData?.lcShipmentDetails.lcPeriodForPresentation"
                                    [value]="parentData?.lcShipmentDetails.lcPeriodForPresentation"
                                ></app-label-value>

                                <app-label-value
                                    [label]="'Credit available with'"
                                    *ngIf="parentData?.lcAdvicingBankDetails.lcCreditAvailableWith"
                                    [value]="parentData?.lcAdvicingBankDetails.lcCreditAvailableWith"
                                ></app-label-value>

                                <app-label-value
                                    [label]="'Credit available by'"
                                    *ngIf="parentData?.lcbasicDetails.lcCreditAvailableBy"
                                    [value]="parentData?.lcbasicDetails.lcCreditAvailableBy"
                                ></app-label-value>

                                <app-label-value
                                    [label]="'Shipping Marks'"
                                    *ngIf="parentData?.lcShipmentDetails.lcShippingMarksText"
                                    [value]="parentData?.lcShipmentDetails.lcShippingMarksText"
                                ></app-label-value>

                                <app-label-value
                                    [label]="'Inco terms'"
                                    *ngIf="parentData?.lcShipmentDetails.selectedShippingMark"
                                    [value]="parentData?.lcShipmentDetails.selectedShippingMark"
                                ></app-label-value>
                                <app-label-value
                                    [label]="'Insurance to be arranged by'"
                                    *ngIf="parentData?.lcShipmentDetails.lcInsuranceOwner"
                                    [value]="parentData?.lcShipmentDetails.lcInsuranceOwner"
                                >
                                </app-label-value>

                                <app-label-value
                                    [label]="'Shipment to be effected by'"
                                    *ngIf="parentData?.lcShipmentDetails.lcTransportOptions"
                                    [value]="parentData?.lcShipmentDetails.lcTransportOptions"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Airport of departure'"
                                    *ngIf="parentData?.lcShipmentDetails.lcShipmentAirportOfDep"
                                    [value]="parentData?.lcShipmentDetails.lcShipmentAirportOfDep"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Airport of destination'"
                                    *ngIf="parentData?.lcShipmentDetails.lcShipmentAirportDesc"
                                    [value]="parentData?.lcShipmentDetails.lcShipmentAirportDesc"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Port of Loading'"
                                    *ngIf="parentData?.lcShipmentDetails.lcShipmentPortLanding"
                                    [value]="parentData?.lcShipmentDetails.lcShipmentPortLanding"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Port of discharge'"
                                    *ngIf="parentData?.lcShipmentDetails.lcShipmentPortDischarge"
                                    [value]="parentData?.lcShipmentDetails.lcShipmentPortDischarge"
                                >
                                </app-label-value>

                                <app-label-value
                                    [label]="'Place of receipt'"
                                    *ngIf="parentData?.lcShipmentDetails.lcShipmentPlaceOfRecipt"
                                    [value]="parentData?.lcShipmentDetails.lcShipmentPlaceOfRecipt"
                                >
                                </app-label-value>

                                <app-label-value
                                    [label]="'Place of delivery'"
                                    *ngIf="parentData?.lcShipmentDetails.lcShipmentPlaceOfDelivery"
                                    [value]="parentData?.lcShipmentDetails.lcShipmentPlaceOfDelivery"
                                >
                                </app-label-value>

                                <app-label-value
                                    [label]="'Mixed Payment Details'"
                                    *ngIf="parentData?.lcbasicDetails.lcMixedPaymentdetails"
                                    [value]="parentData?.lcbasicDetails.lcMixedPaymentdetails"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Insurance Co Name and Address'"
                                    [value]="parentData?.lcShipmentDetails.lcInsuranceApplicantDetails"
                                    *ngIf="parentData?.lcShipmentDetails.lcInsuranceApplicantDetails"
                                ></app-label-value>
                                <app-label-value
                                    [label]="'Legalization'"
                                    *ngIf="parentData?.lcShipmentDetails.lcLegalization"
                                    [value]="parentData?.lcShipmentDetails.lcLegalization"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Goods Origin'"
                                    *ngIf="parentData?.lcShipmentDetails.lcGoodsOrigin"
                                    [value]="parentData?.lcShipmentDetails.lcGoodsOrigin"
                                >
                                </app-label-value>

                                <app-label-value
                                    [label]="'Swift Field (45A): Goods or Services Description'"
                                    *ngIf="parentData?.lcShipmentDetails.lcGoodsServiceDesc"
                                    [value]="parentData?.lcShipmentDetails.lcGoodsServiceDesc"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Swift Field (46A): Documents Requested'"
                                    *ngIf="parentData?.lcDocumentDetails.lcDocsRequested"
                                    [value]="parentData?.lcDocumentDetails.lcDocsRequested.split('. ')"
                                    [type]="'list'"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Swift Field (47A): Additional Conditions'"
                                    *ngIf="parentData?.lcAdditionalInstructions"
                                    [value]="parentData?.lcAdditionalInstructions.split('. ')"
                                    [type]="'list'"
                                >
                                </app-label-value>
                            </div>

                            <div class="inquiry-details" *ngIf="parentData?.isAmendRequest === 'Y'">
                                <app-label-value
                                    [label]="'CIB Reference'"
                                    *ngIf="parentData?.applnId"
                                    [value]="parentData?.applnId"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'LC Reference'"
                                    *ngIf="parentData?.lcRefNo"
                                    [value]="parentData?.lcRefNo"
                                >
                                </app-label-value>
                                <app-label-value [label]="'TF Reference'" [value]="parentData?.txnRefNo">
                                </app-label-value>
                                <app-label-value
                                    [label]="'Request Type'"
                                    [value]="parentData.isAmendRequest === 'Y' ? 'LC Amendment ' + i : 'New LC Request'"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'LC Option'"
                                    *ngIf="parentData?.lcbasicDetails.lcOption"
                                    [value]="parentData?.lcbasicDetails.lcOption"
                                ></app-label-value>
                                <app-label-value
                                    [label]="'Product Type'"
                                    *ngIf="parentData?.lcbasicDetails.lcProductType"
                                    [value]="parentData?.lcbasicDetails.lcProductType"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'LC Type'"
                                    *ngIf="parentData?.lcbasicDetails.selectedLcType"
                                    [value]="parentData?.lcbasicDetails.selectedLcType"
                                ></app-label-value>
                                <app-label-value
                                    [label]="'Issue date'"
                                    *ngIf="parentData?.issueDate"
                                    [value]="parentData?.issueDate"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Lc to be advised by'"
                                    *ngIf="parentData?.lcbasicDetails.lcToBeAdvisedBy"
                                    [value]="parentData?.lcbasicDetails.lcToBeAdvisedBy"
                                ></app-label-value>
                                <app-label-value
                                    [label]="'LC to be issued against'"
                                    *ngIf="parentData?.lcbasicDetails.lcNfCurrenctLCOption"
                                    [value]="parentData?.lcbasicDetails.lcNfCurrenctLCOption"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Currency'"
                                    *ngIf="parentData?.lcbasicDetails.lcCurrency"
                                    [value]="parentData?.lcbasicDetails.lcCurrency"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'New Amount'"
                                    [value]="parentData?.lcbasicDetails.lcAmount"
                                    *ngIf="parentData?.lcbasicDetails.lcAmount"
                                    [type]="'amount'"
                                ></app-label-value>
                                <app-label-value
                                    [label]="'New Expiry Date'"
                                    *ngIf="parentData?.lcbasicDetails.lcExpiryDate"
                                    [value]="parentData?.lcbasicDetails.lcExpiryDate"
                                    [type]="'date'"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'New Shipment date'"
                                    *ngIf="parentData?.lcShipmentDetails.lcLastShipmentDate"
                                    [value]="parentData?.lcShipmentDetails.lcLastShipmentDate"
                                    [type]="'date'"
                                >
                                </app-label-value>
                                <app-label-value></app-label-value>
                            </div>
                            <app-label-value
                                [label]="'Amend Details'"
                                *ngIf="parentData?.narrative"
                                [value]="parentData?.narrative"
                            >
                            </app-label-value>
                        </ng-container>

                        <app-comments-history [comments]="parentData.lcInstructions" *ngIf="parentData.lcInstructions">
                        </app-comments-history>
                    </div>
                </ng-container>

                <mat-menu #menu="matMenu" xPosition="before" class="mat-menu-container">
                    <app-cib-filter-menu
                        (_select)="getDownload(parentData.documents[$event])"
                        title="Attachments"
                        [options]="getFileName(parentData.documents)"
                    ></app-cib-filter-menu>
                </mat-menu>
            </app-master-container>
        </ng-container>
    </mat-tab>
</mat-tab-group>
