@import 'variables';
.header-info {
    font-size: 0.625rem;
    color: $qib-primary-color;
}
.input-error {
    color: $qib-red;
    font-size: 0.85em;
    position: absolute;
    top: 1.8rem;
}
.input-success {
    color: $qib-green;
    font-size: 0.85em;
    position: absolute;
    top: 1.8rem;
}
.input-info {
    color: $qib-primary-color;
    font-size: 0.85em;
    position: absolute;
    top: 1.8rem;
}
