<app-label-value
    *ngIf="fields?.payeeType"
    [label]="'Transfer Type'"
    [value]="fields?.payeeType | cibDefinition: 'PAYEE'"
>
</app-label-value>
<app-label-value [label]="'From Account'" [value]="fields?.fromAccount"></app-label-value>
<app-label-value [label]="'To Account'" [value]="fields?.toAccount"></app-label-value>
<app-label-value *ngIf="fields?.beneficiaryName" [label]="'Beneficiary Name'" [value]="fields?.beneficiaryName">
</app-label-value>
<app-label-value [label]="'Amount'" [value]="fields?.currency + ' ' + fields?.amount"></app-label-value>
<app-label-value *ngIf="fields?.chargeType" [label]="'Charge Type'" [value]="fields?.chargeType"></app-label-value>
<div *ngIf="fields?.chargeType && fields?.chargeType === 'OUR'" class="disclaimer">
    Note: Respective Corresponding Bank Charge will be applicable accordingly
</div>
<app-label-value [label]="'Type'" [value]="fields?.recurring"></app-label-value>
<app-label-value [label]="dateTitle" [value]="fields?.startDate"></app-label-value>
<ng-container *ngIf="fields?.recurring === 'RECURRING'">
    <app-label-value [label]="'Frequency'" [value]="fields?.frequency"></app-label-value>
    <app-label-value [label]="'Occurence'" [value]="fields?.occurrence"></app-label-value>
    <app-label-value [label]="'Timing'" [value]="fields?.execTime"></app-label-value>
</ng-container>
<app-label-value *ngIf="fields?.purposeValue" [label]="'Purpose'" [value]="fields?.purposeValue"></app-label-value>
<app-label-value [label]="'Payment Details'" [value]="fields?.description"></app-label-value>
<app-label-value *ngIf="fields?.invoiceNumber" [label]="'Invoice Number'" [value]="fields?.invoiceNumber">
</app-label-value>

<div class="divider"></div>

<app-cib-fx-disclaimer
    (checkboxValueEvent)="checkboxValueEvent($event)"
    [fxTransaction]="fields?.fxTransaction"
    [fxThreshold]="fields?.thresholdExceeded"
></app-cib-fx-disclaimer>

<div *ngIf="data.isOtpNeeded">
    <app-cib-otp (otpValueEvent)="onOtpValueEnter($event)" class="otp-comp" [showMore]="true"></app-cib-otp>
</div>

<div class="divider"></div>
<button mat-flat-button type="submit" color="primary" [disabled]="validateSubmit()" (click)="onConfirm()">
    Confirm
</button>
