@import 'variables';
:host {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .portfolio {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        gap: 0.35rem;
        .info-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: -webkit-fill-available;
            padding: 0.35rem 1em;
            background: $sweety-divider-color;
            border-radius: 0.5rem;
        }
    }
}
