<div fxLayout="row" fxLayoutGap="0.7rem" fxLayout.sm="column">
    <div fxFlex="60" fxFlex.sm="100" fxLayout="column">
        <app-master-container>
            <ng-container header>FETCH POST DATED CHEQUES</ng-container>
            <ng-container body>
                <form [formGroup]="ppForm">
                    <div fxLayout="row" fxLayoutAlign="space-between" fxLayout="row wrap">
                        <mat-form-field fxFlex="45">
                            <mat-label>Credit Account</mat-label>
                            <mat-select
                                aria-label="Credit Account"
                                required
                                formControlName="accountList"
                                multiple
                                #creditSelect
                            >
                                <app-select-check-all [model]="ppForm.get('accountList')" [values]="accountList">
                                </app-select-check-all>
                                <mat-option *ngFor="let option of accountList" [value]="option">
                                    <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="space-between">
                                        <div>{{ option?.accountNumber }}</div>
                                    </div>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxFlex="45">
                            <mat-label>Cheque number</mat-label>
                            <input
                                type="number"
                                min="0"
                                aria-label="Cheque number"
                                matInput
                                formControlName="chequeNumber"
                            />
                        </mat-form-field>

                        <div fxFlex="45">
                            <app-cib-date-picker
                                [parentForm]="ppForm"
                                [fomrControlName]="'fromDate'"
                                [minDate]="minDate"
                                [maxDate]="maxDate"
                                placeholder="Start Date"
                                (selectDate)="getFromDate($event)"
                            ></app-cib-date-picker>
                        </div>

                        <div fxFlex="45">
                            <app-cib-date-picker
                                [parentForm]="ppForm"
                                [fomrControlName]="'toDate'"
                                [minDate]="minDate"
                                [maxDate]="maxDate"
                                placeholder="End Date"
                                (selectDate)="getToDate($event)"
                            ></app-cib-date-picker>
                        </div>

                        <button
                            fxFlex="30"
                            mat-raised-button
                            color="primary"
                            [disabled]="ppForm.invalid"
                            (click)="submitTransfer()"
                        >
                            Search
                        </button>
                    </div>
                </form>
            </ng-container>
        </app-master-container>
    </div>
    <div fxFlex="40" fxFlex.sm="100" fxLayout="column">
        <app-master-container>
            <ng-container header>SUMMARY VIEW</ng-container>
            <ng-container body>
                <ng-container *ngFor="let s of statuses">
                    <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between">
                        <app-label-value [label]="s.label" [value]="s.status.toString()"></app-label-value>

                        <app-label-value [label]="'Total Amount'" [value]="s.amount"></app-label-value>
                    </div>
                </ng-container>
            </ng-container>
        </app-master-container>
    </div>
</div>
<div fxLayout="row">
    <div fxFlex="100" fxFlex.sm="100" fxLayout="column">
        <app-master-container>
            <ng-container header>List all PDC</ng-container>
            <ng-container icons>
                <button *ngIf="tableConfig?.data?.length" mat-icon-button (click)="generateExcel()">
                    <i class="las la-file-excel"></i>
                </button>
                <button *ngIf="tableConfig?.data?.length" mat-icon-button (click)="generatePdf()">
                    <i class="las la-file-pdf"></i>
                </button>
            </ng-container>
            <ng-container body>
                <div class="file-preview" fxFlex="100">
                    <app-cib-table
                        [config]="tableConfig"
                        (_lazyLoad)="lazyLoad($event)"
                        (_clickCell)="onClickCell($event)"
                    ></app-cib-table>
                </div>
            </ng-container>
        </app-master-container>
    </div>
</div>
