<app-transfer-info [transfers]="data.data?.transfers"></app-transfer-info>

<div class="divider"></div>
<app-cib-fx-disclaimer
    (checkboxValueEvent)="checkboxValueEvent($event)"
    [fxTransaction]="data?.data?.hasFx"
    [fxThreshold]="data?.data?.hasThreshold"
></app-cib-fx-disclaimer>
<app-cib-otp (otpValueEvent)="otp = $event" class="otp-comp" [showMore]="true"></app-cib-otp>
<div class="divider"></div>
<div fxLayout="row">
    <button
        mat-button
        class="mat-raised-button mat-primary"
        [disabled]="validateSubmit()"
        (click)="dialogRef.close({ action: DECISION.CONFIRM, otp: this.otp })"
    >
        Confirm
    </button>
</div>
