@import 'variables';
.container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    gap: 1rem;
    .row {
        display: flex;
        column-gap: 1rem;
        flex-wrap: wrap;
        align-items: center;
        app-cib-toggle-group,
        mat-slide-toggle,
        mat-form-field {
            min-width: 18rem;
        }
        app-cib-toggle-group {
            padding-bottom: 1.25em;
        }
    }
    .column {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        .rim-info {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            app-cib-toggle-group {
                padding-bottom: 0 !important;
            }
        }
    }
    app-partner-entitlement-list {
        padding: 0.5rem;
    }
    .info-message {
        font-size: 0.675rem;
        display: flex;
        gap: 0.5rem;
        color: $qib-color-orange;
    }
}
.column {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.rim-info {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 50px;
    justify-content: center;
    color: #6e6e6e;
}
.rim-no {
    padding-left: 1rem;
}
.rim-name {
    padding-left: 3rem;
    color: #6e6e6e;
}

.button-align {
    text-align: center;
    margin-bottom: 20px;
}
.align {
    justify-content: center;
}
