<ng-container *ngIf="data.type==='users'">
    <form  [formGroup]="updateUserForm" >
        <div  fxLayout="column" fxLayoutGap="0.5rem" fxFlex="100">
            <div  fxLayout="column" fxLayoutGap="0.3rem" class="border-panel">
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName" placeholder="First Name" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" placeholder="Last Name" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="Password" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Mobile Number</mat-label>
                    <input matInput maxlength="10" appOnlyNumbers formControlName="mobilePhone" placeholder="Mobile Number" />
                </mat-form-field>       
            </div> 
            <button
                class="mat-raised-button mat-primary"
                type="submit"
                [disabled]="updateUserForm.invalid"
                mat-stroked-button
                color="primary"
                (click)="submitUserForm()"
            >
                Update
            </button>
        </div>
    </form> 
</ng-container>



