	
<section id="center" class="clearfix center_prod">
    <div class="container">
     <div class="row">
       <div class="center_prod_1 clearfix">
        <div class="col-sm-12">
         <h6 class="mgt col_1 normal"><a routerLink="/">Home</a>  <i style="font-size:14px; margin-left:5px; margin-right:5px;" class="fa fa-chevron-right"></i>   Products</h6>
        </div>
       </div>
     </div>
    </div>
    </section>
    
    <section id="product">
    <div class="container">
     <div class="row">
       <div class="product_1 clearfix">
         <div class="col-sm-3">
          <div class="product_1l clearfix">
            <div class="center_shop_1li clearfix">
           <h5 class="mgt">CATEGORY</h5>
            <div class="ziehharmonika">
                <h3 data-prefix="★" class="active"><a routerLink="/detail">Bangles</a><div class="arrowDown"></div><div class="collapseIcon">–</div><div class="arrowDown"></div><div class="collapseIcon">–</div><div class="arrowDown"></div><div class="collapseIcon">–</div></h3>
                <div class="clickable" style="display: block;">
                  <ul>
                   <li><a routerLink="/detail">For Men</a></li>
                   <li><a routerLink="/detail">For Function</a></li>
                   <li><a routerLink="/detail">For Kids</a></li>
                   <li><a routerLink="/detail">For Women</a></li>
                  </ul>
               </div>
               <h3 data-prefix="★"><a routerLink="/detail">Bracelets</a><div class="arrowDown"></div><div class="collapseIcon">+</div><div class="arrowDown"></div><div class="collapseIcon">+</div><div class="arrowDown"></div><div class="collapseIcon">+</div></h3>
                <div class="clickable" style="">
                  <ul>
                   <li><a routerLink="/detail">For Men</a></li>
                   <li><a routerLink="/detail">For Function</a></li>
                   <li><a routerLink="/detail">For Kids</a></li>
                   <li><a routerLink="/detail">For Women</a></li>
                  </ul>
               </div>
               <h3 data-prefix="★" class=""><a routerLink="/detail">Earrings</a><div class="arrowDown"></div><div class="collapseIcon">+</div><div class="arrowDown"></div><div class="collapseIcon">+</div><div class="arrowDown"></div><div class="collapseIcon">+</div></h3>
                <div class="clickable" style="display: none;">
                  <ul>
                   <li><a routerLink="/detail">For Men</a></li>
                   <li><a routerLink="/detail">For Function</a></li>
                   <li><a routerLink="/detail">For Kids</a></li>
                   <li><a routerLink="/detail">For Women</a></li>
                  </ul>
               </div>
               <h3 data-prefix="★"><a routerLink="/detail">Necklaces</a><div class="arrowDown"></div><div class="collapseIcon">+</div><div class="arrowDown"></div><div class="collapseIcon">+</div><div class="arrowDown"></div><div class="collapseIcon">+</div></h3>
                <div class="clickable" style="">
                  <ul>
                   <li><a routerLink="/detail">For Men</a></li>
                   <li><a routerLink="/detail">For Function</a></li>
                   <li><a routerLink="/detail">For Kids</a></li>
                   <li><a routerLink="/detail">For Women</a></li>
                  </ul>
               </div>
               <h3 data-prefix="★" class=""><a routerLink="/detail">Rings</a><div class="arrowDown"></div><div class="collapseIcon">+</div><div class="arrowDown"></div><div class="collapseIcon">+</div><div class="arrowDown"></div><div class="collapseIcon">+</div></h3>
                <div class="clickable" style="display: none;">
                  <ul>
                   <li><a routerLink="/detail">For Men</a></li>
                   <li><a routerLink="/detail">For Function</a></li>
                   <li><a routerLink="/detail">For Kids</a></li>
                   <li><a routerLink="/detail">For Women</a></li>
                  </ul>
               </div>
              </div>
          </div>
            <div class="product_1i clearfix">
           <h5 class="mgt">SEARCH</h5>
          <div class="input-group">
                        <input type="text" class="form-control form_2" placeholder="Search Here...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                                <i class="fa fa-search"></i></button>
                        </span>
          </div>
          </div>
            <div class="blog_1li1 clearfix">
            <h5 class="mgt heading">BEST PRODUCTS</h5>
            <div class="blog_1li1i clearfix">
             <div class="col-sm-4 space_left">
              <img src="assets/img/22.jpg" class="iw" alt="abc">
             </div>
             <div class="col-sm-8 space_all">
              <h5 class="mgt"><a routerLink="/detail">Elegan Tells You The Story Of Beauty</a></h5>
              <h4>$ 799.00</h4>
              <h6><a class="col_1" routerLink="/detail">Read More</a></h6>
             </div>
            </div>
            <div class="blog_1li1i clearfix">
             <div class="col-sm-4 space_left">
              <img src="assets/img/23.jpg" class="iw" alt="abc">
             </div>
             <div class="col-sm-8 space_all">
              <h5 class="mgt"><a routerLink="/detail">Elegan Tells You The Story Of Beauty</a></h5>
              <h4>$ 699.00</h4>
              <h6><a class="col_1" routerLink="/detail">Read More</a></h6>
             </div>
            </div>
            <div class="blog_1li1i pdb border_none clearfix">
             <div class="col-sm-4 space_left">
              <img src="assets/img/24.png" class="iw" alt="abc">
             </div>
             <div class="col-sm-8 space_all">
              <h5 class="mgt"><a routerLink="/detail">Elegan Tells You The Story Of Beauty</a></h5>
              <h4>$ 999.00</h4>
              <h6><a class="col_1" routerLink="/detail">Read More</a></h6>
             </div>
            </div>
          </div>
          </div>
         </div>
         <div class="col-sm-9">
          <div class="product_1r clearfix">
            <div class="center_product_1r2 clearfix">
           <div class="col-sm-6">
            <div class="center_product_1r2l clearfix">
              <p class="mgt">Showing 1–9 of 10 results</p>
            </div>
           </div>
           <div class="col-sm-6">
            <div class="center_product_1r2r text-right clearfix">
             <h5 class="mgt">SORT BY</h5>
             <select class="form-control" id="subject" name="subject">
            <option>Price, Low To High</option>
            <option>Price, High To Low</option>
            <option>Alphabetically, A-Z</option>
            <option>Alphabetically, Z-A</option>
            <option>Date, New To Old</option>
            </select>
            </div>
           </div>
          </div>
            <div class="product_1r1 clearfix">
                        <div class="col-sm-4">
                          <div class="list_2i clearfix mgt-center">
                            <a routerLink="/detail"><img src="assets/img/6.jpg" class="iw" alt="abc"></a>
                            <h3><i class="fa fa-rupee"></i> 4566</h3>
                            <h4><a class="col_1" routerLink="/detail">Nibh Elementum</a></h4>
                            <h6>Product Code: 12LDSJECR03</h6>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="list_2i clearfix mgt-center">
                            <a routerLink="/detail"><img src="assets/img/7.jpg" class="iw" alt="abc"></a>
                            <h3><i class="fa fa-rupee"></i> 4986</h3>
                            <h4><a class="col_1" routerLink="/detail">Fusce Nec Tellus</a></h4>
                            <h6>Product Code: 12LDSJECR03</h6>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="list_2i clearfix mgt-center">
                            <a routerLink="/detail"><img src="assets/img/8.jpg" class="iw" alt="abc"></a>
                            <h3><i class="fa fa-rupee"></i> 5696</h3>
                            <h4><a class="col_1" routerLink="/detail">Nulla Quis Sem</a></h4>
                            <h6>Product Code: 12LDSJECR03</h6>
                          </div>
                        </div>
            </div>
            <div class="product_1r1 clearfix">
                        <div class="col-sm-4">
                          <div class="list_2i clearfix mgt-center">
                            <a routerLink="/detail"><img src="assets/img/9.jpg" class="iw" alt="abc"></a>
                            <h3><i class="fa fa-rupee"></i> 5836</h3>
                            <h4><a class="col_1" routerLink="/detail">Vestibulum Lacinia</a></h4>
                            <h6>Product Code: 12LDSJECR03</h6>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="list_2i clearfix mgt-center">
                            <a routerLink="/detail"><img src="assets/img/10.jpg" class="iw" alt="abc"></a>
                            <h3><i class="fa fa-rupee"></i> 4566</h3>
                            <h4><a class="col_1" routerLink="/detail">Nibh Elementum</a></h4>
                            <h6>Product Code: 12LDSJECR03</h6>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="list_2i clearfix mgt-center">
                            <a routerLink="/detail"><img src="assets/img/11.jpg" class="iw" alt="abc"></a>
                            <h3><i class="fa fa-rupee"></i> 4986</h3>
                            <h4><a class="col_1" routerLink="/detail">Fusce Nec Tellus</a></h4>
                            <h6>Product Code: 12LDSJECR03</h6>
                          </div>
                        </div>
            </div>
            <div class="product_1r1 clearfix">
                        <div class="col-sm-4">
                          <div class="list_2i clearfix mgt-center">
                            <a routerLink="/detail"><img src="assets/img/12.jpg" class="iw" alt="abc"></a>
                            <h3><i class="fa fa-rupee"></i> 5696</h3>
                            <h4><a class="col_1" routerLink="/detail">Nulla Quis Sem</a></h4>
                            <h6>Product Code: 12LDSJECR03</h6>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="list_2i clearfix mgt-center">
                            <a routerLink="/detail"><img src="assets/img/13.png" class="iw" alt="abc"></a>
                            <h3><i class="fa fa-rupee"></i> 5836</h3>
                            <h4><a class="col_1" routerLink="/detail">Vestibulum Lacinia</a></h4>
                            <h6>Product Code: 12LDSJECR03</h6>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="list_2i clearfix mgt-center">
                            <a routerLink="/detail"><img src="assets/img/6.jpg" class="iw" alt="abc"></a>
                            <h3><i class="fa fa-rupee"></i> 4566</h3>
                            <h4><a class="col_1" routerLink="/detail">Nibh Elementum</a></h4>
                            <h6>Product Code: 12LDSJECR03</h6>
                          </div>
                        </div>
            </div>
            <div class="product_1_last text-center clearfix">
          <div class="col-sm-12">
           <ul>
            <li><a routerLink="/detail"><i class="fa fa-chevron-left"></i></a></li>
            <li class="act"><a routerLink="/detail">1</a></li>
            <li><a routerLink="/detail">2</a></li>
            <li><a routerLink="/detail">3</a></li>
            <li><a routerLink="/detail">4</a></li>
            <li><a routerLink="/detail">5</a></li>
            <li><a routerLink="/detail">6</a></li>
            <li><a routerLink="/detail"><i class="fa fa-chevron-right"></i></a></li>
           </ul>
          </div>
         </div>
          </div>
         </div>
       </div>
     </div>
    </div>
    </section>