<app-master-container *appHasEntitlementAccessTo="'AUTO_COVER'">
    <ng-container header>SETUP AUTO COVER</ng-container>
    <ng-container body>
        <form fxLayout="column" fxFlex="100" autocomplete="off" novalidate="novalidate" [formGroup]="autoCoverForm">
            <div
                fxLayout="row"
                fxFlex="100"
                fxLayout.sm="column"
                fxLayout.xs="column"
                fxLayoutGap="0"
                class="form-container"
            >
                <div fxFlex="40">
                    <app-account-select
                        ngDefaultControl
                        [formGroup]="autoCoverForm"
                        (selectionChange)="coverAccChange($event)"
                        formControlName="linkedAccountList"
                        label="Cover Account"
                        [options]="coverAccounts"
                    >
                    </app-account-select>
                </div>
                <div fxFlex="3"></div>
                <div fxFlex="40">
                    <app-account-multiselect
                        ngDefaultControl
                        [formGroup]="autoCoverForm"
                        formControlName="accountList"
                        label="Transaction Account"
                        [options]="txnAccounts"
                    >
                    </app-account-multiselect>
                </div>
                <div fxFlex="3"></div>
                <div fxFlex="14" class="btn-container" [ngClass.sm]="'btn-end'">
                    <button
                        mat-raised-button
                        color="primary"
                        [disabled]="autoCoverForm.invalid"
                        (click)="submitAutoCover()"
                    >
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </ng-container>
</app-master-container>

<app-master-container *appHasEntitlementAccessTo="'AUTO_COVER_REGISTERED_ACCOUNT_LIST'">
    <ng-container header>AUTO COVER ACCOUNTS</ng-container>
    <ng-container body>
        <app-cib-table [config]="tableConfig" (_lazyLoad)="lazyLoad($event)"></app-cib-table>
    </ng-container>
</app-master-container>
