@import 'variables';

.form-container {
    div.btn-container {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            width: 100%;
            max-width: 10rem;
        }
    }

    div.btn-end {
        justify-content: end;
    }
}
