@import 'variables';
.portfolio-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    .portfolio {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        gap: 0.35rem;
        min-height: 16rem;
        .info-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: -webkit-fill-available;
            padding: 0.35rem 1em;
            background: $sweety-divider-color;
            border-radius: 0.5rem;
            font-size: 0.75rem;
        }
        .no-data {
            color: grey;
            font-size: 1rem;
        }
    }
    app-sgs-pie-chart {
        min-height: 16rem;
    }
}
