<div fxLayout="column" class="header">
    <div fxLayout="row" fxLayoutGap="3rem" fxLayoutAlign="center" class="top-nav">
        <div><i class="las la-phone"></i><span>+91 - 9059086366</span></div> 
        <div><i class="las la-envelope"></i><span>savegoldlive@gmail.com</span></div>       
    </div>
    <div fxLayout="row" fxLayoutGap="10rem" class="menu align-items-center">
        <div class="logo"><a  routerLink="/"><img src="assets/images/logo.png" /></a></div>
        <div>
            <div fxLayout="row" fxLayoutGap="3rem">
                <div><a routerLink="/">Home</a></div>
                <div><a routerLink="/about-us" routerLinkActive="active-link">About Us</a></div>
                <div><a routerLink="/contact-us" routerLinkActive="active-link">Contact Us</a></div>
                <div><a routerLink="/login" routerLinkActive="active-link">Login</a></div>
            </div>
        </div>    
    </div>
</div>