
<app-outlet-container>
    <app-master-container>
        <ng-container header>
              Promoters
        </ng-container>
        <ng-container icons>
            <div fxLayout="row" fxLayoutGap="2rem">
                <mat-form-field>
                    <mat-label>Select Status</mat-label>
                    <mat-select [(ngModel)]="selectedStatus">
                        <mat-option 
                        (onSelectionChange)="updateStatus($event,status)"
                        *ngFor="let status of statuses" [value]="status">{{
                            status
                        }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button *ngIf="selectedEmployee" mat-icon-button (click)="addUsers()">
                    <i class="las la-plus"></i>
                </button>
            </div>
        </ng-container>
        <ng-container body>
            <div fxLayout="column" fxFlex="100">
                <app-sgs-table
                    [config]="tableConfig"
                    (_lazyLoad)="lazyLoad($event)"
                    (_select)="onSelect($event)"
                    (_clickCell)="onClickCell($event)"
                ></app-sgs-table>
            </div>
        </ng-container>
    </app-master-container>
</app-outlet-container>


