<div class="forgot-password-wrapper">
    <div fxLayout="column">
        <div class="login-title">
            <mat-label>Create new account</mat-label>
        </div>
        <div class="login-form" *ngIf="!isRequestPassword">
            <form
                class="body-card-login-form"
                [formGroup]="signupForm"
                (ngSubmit)="onRequestPasswordClick()"
                novalidate="novalidate"
                fxLayout="column"
                autocomplete="off"
            >
            <mat-form-field class="md-block">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" type="text" name="firstName" />
            </mat-form-field>
            <mat-form-field class="md-block">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" type="text" name="lastName" />
            </mat-form-field>
            <mat-form-field class="md-block">
                <mat-label>Email ID</mat-label>
                <input matInput formControlName="email" type="email" name="email" />
            </mat-form-field>
                <div
                    fxFlex="100"
                    fxLayout="row"
                    fxLayoutGap="10"
                    fxLayout.sm="column"
                    fxLayout.xs="column"
                    class="login-btn"
                >
                    <button mat-flat-button (click)="onCancelClick()" type="button">CANCEL</button>
                    <button mat-flat-button color="primary" [disabled]="!signupForm.valid" type="submit">
                        CREATE PASSWORD
                    </button>
                </div>
            </form>
        </div>
        <div class="login-form" *ngIf="isRequestPassword">
            <form
                class="body-card-login-form"
                [formGroup]="createPasswordForm"
                (ngSubmit)="onForgotPasswordConfirm()"
                autocomplete="off"
                fxLayout="column"
            >
                <mat-form-field class="md-block">
                    <mat-label>New Password</mat-label>
                    <input
                        #newPassword
                        formControlName="newPasswrd"
                        matInput
                        aria-label="Password"
                        required
                        type="password"
                        maxlength="64"
                        autocomplete="off"
                        autofill="off"
                        pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                        #tooltip="matTooltip"
                        [matTooltipPosition]="'right'"
                        matTooltip="Password should contain minimun 8 and maximum 20 alphanumeric characters with atleast 1 special character e.g.(!@#$%^&*)"
                    />
                    <i matSuffix class="las la-unlock-alt"></i>
                </mat-form-field>
                <mat-form-field class="md-block">
                    <mat-label>Confirm Password</mat-label>
                    <input
                        #confirmPassword
                        formControlName="confirmPasswrd"
                        matInput
                        aria-label="Password"
                        required
                        type="password"
                        maxlength="64"
                        autocomplete="off"
                        autofill="off"
                        pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                        #tooltip="matTooltip"
                        [matTooltipPosition]="'right'"
                        matTooltip="Both passwords should match"
                    />
                    <i matSuffix class="las la-unlock-alt"></i>
                </mat-form-field>
                <div class="password-mismatch" *ngIf="newPassword.value !== confirmPassword.value">
                    Password mismatch
                </div>
                <app-sgs-otp (otpValueEvent)="otp = $event" [email]="email"></app-sgs-otp>
                <div
                    fxFlex="100"
                    fxLayout="row"
                    fxLayoutGap="10px"
                    fxLayout.sm="column"
                    fxLayout.xs="column"
                    class="login-btn"
                >
                    <button
                        mat-flat-button
                        type="button"
                        aria-label="Cancel OTP"
                        (click)="isRequestPassword=false"
                        fxFlex="50"
                        fxLayout.md="100"
                    >
                        CANCEL
                    </button>
                    <button
                        mat-flat-button
                        color="primary"
                        [disabled]="
                            !createPasswordForm.valid ||
                            !(otp && otp.length >= 6) ||
                            createPasswordForm.get('newPasswrd')?.value !==
                                createPasswordForm.get('confirmPasswrd')?.value
                        "
                        aria-label="Confirm OTP"
                        type="submit"
                        fxFlex="50"
                        fxLayout.md="100"
                    >
                        CONFIRM
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
