<div fxLayout="row" fxLayoutGap="0.7rem" fxLayout.lt-md="column">
    <div fxFlex="35">
        <app-master-container>
            <ng-container header>Finance Accounts</ng-container>
            <ng-container icons>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <i class="las la-filter"></i>
                </button>
            </ng-container>
            <ng-container body>
                <div class="account-list">
                    <ng-container *ngFor="let accounts of financeList; let i = index">
                        <app-cib-card [isActive]="i === activeIndex" (_click)="activeIndex = i">
                            <div class="account-details" fxLayout="row" fxLayoutAlign="space-between">
                                <div class="name">{{ accounts.category.description }}</div>
                                <div class="amount">
                                    {{ accounts.currency }} {{ accounts.current_balance | number: '1.2-4' }}
                                </div>
                            </div>
                            <div class="account-no" *ngIf="accounts.account_no">{{ accounts.account_no }}</div>
                        </app-cib-card>
                    </ng-container>
                    <div fxLayout="column" *ngIf="financeList?.length === 0">
                        <div>No Finance available</div>
                    </div>
                </div>
            </ng-container>
        </app-master-container>
    </div>
    <div fxFlex="65">
        <app-finance-details [selectedAccount]="financeList[activeIndex]"></app-finance-details>
    </div>
</div>

<mat-menu #menu="matMenu" xPosition="before" class="mat-menu-container">
    <app-cib-filter-menu
        title="Account Type"
        (_select)="filterAccountByType(accountTypes[$event])"
        [options]="accountTypes"
    ></app-cib-filter-menu>
</mat-menu>
