@import 'colors';
@import 'variables';
.limit-reached {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;

    .info {
        color: $qib-red;
        padding: 0.5rem 0;
        font-weight: bold;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;

    app-master-container:nth-child(2n) {
        width: 65%;
    }

    app-master-container:nth-child(2n + 1) {
        width: 30%;
    }

    app-master-container:nth-child(1) {
        width: 100%;
    }

    .container-body {
        display: flex;
        column-gap: 2rem;
        gap: 1rem;
        flex-direction: column !important;
        width: 100%;
        padding-top: 0.5rem;

        .row {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2%;

            * {
                width: 23%;
            }

            .column * {
                width: 100%;
            }
        }
        .info {
            background: $qib-divider-color;
            padding: 0.5rem;
            border-radius: 0.5rem;
            color: $qib-primary-color;
            font-style: italic;
            font-size: 0.75rem;
        }
    }

    .error-desc {
        font-size: 0.625rem;
        color: $qib-red;
        display: flex;
        font-weight: bold;
        justify-content: flex-end;
        min-width: 15rem;
        margin-top: -1rem;
    }

    app-cib-date-picker {
        width: 100% !important;
    }

    .field-desc {
        font-size: 0.625rem;
        color: $qib-background-blue;
        display: flex;
        justify-content: flex-end;
        font-weight: bold;
        margin-top: -1.5em;
    }

    .terms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }
}

app-aamali-debit-card-request-success {
    width: 100% !important;
}
