<ng-container *ngIf="!showAamaliCardHistory">
    <app-master-container>
        <ng-container header
            >REQUEST FOR AAMALY DEBIT CARD
            <ng-container icons>
                <button
                    mat-icon-button
                    (click)="goToHistory()"
                    *appHasEntitlementAccessTo="'LIST_DEBIT_CARD_REQUEST'"
                    #tooltip="matTooltip"
                    matTooltip="Aamaly Debit Card History"
                >
                    <i class="las la-history"></i>
                </button>
            </ng-container>
        </ng-container>
        <ng-container body *appHasEntitlementAccessTo="'DEBIT_CARD_REQUEST'; showBanner: true">
            <ng-container *ngIf="!isRequestSuccess; else successBody">
                <form class="container" [formGroup]="aamalieCardForm">
                    <app-master-container [variant]="'secondary'">
                        <ng-container header>
                            <div>Account's and Company Details</div>
                        </ng-container>
                        <ng-container body>
                            <div class="container-body">
                                <div fxLayout="row wrap" class="row">
                                    <div fxLayout="column" class="column" fxFlex="35">
                                        <mat-form-field>
                                            <mat-label>From Account</mat-label>
                                            <mat-select
                                                formControlName="account"
                                                (selectionChange)="selectedAccountNumber($event)"
                                            >
                                                <mat-option
                                                    *ngFor="let account of accountList; let i = index"
                                                    [value]="account"
                                                >
                                                    {{ account.account_no }} {{ account.category.description }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <div class="field-desc">Aamaly Debit Card will be linked to this account.</div>

                                        <div class="info" *ngIf="charges">
                                            Charges :{{ charges }} (The first card issued under this account will be
                                            free)
                                        </div>
                                    </div>
                                    <ng-container *ngIf="showForm">
                                        <div fxLayout="column" class="column" fxFlex="20">
                                            <mat-form-field>
                                                <mat-label>Company Name on Card</mat-label>
                                                <input
                                                    type="text"
                                                    (keypress)="restrictInputLength($event, 20)"
                                                    maxlength="20"
                                                    required
                                                    aria-label="Company Name"
                                                    matInput
                                                    formControlName="companyNameOnCard"
                                                />
                                            </mat-form-field>
                                            <div class="field-desc">As you wish it to appear on Card.</div>
                                        </div>
                                        <div fxLayout="column" class="column" fxFlex="20">
                                            <app-cib-date-picker
                                                [parentForm]="aamalieCardForm"
                                                [fomrControlName]="'crExpiryDate'"
                                                [minDate]="minDate"
                                                [placeholder]="'CR Expiry Date'"
                                                (selectDate)="checkECValidity($event)"
                                            >
                                            </app-cib-date-picker>
                                            <div class="error-desc" *ngIf="isCRExpired && showForm">
                                                CR is expired. Kindly update the CR Expiry date.
                                            </div>
                                        </div>
                                        <app-label-value [label]="'CR Number'" [value]="commRegNo" fxFlex="15">
                                        </app-label-value>
                                        <!-- Address -->
                                        <mat-form-field fxFlex="20">
                                            <mat-label>Building Number</mat-label>
                                            <input
                                                type="text"
                                                maxlength="5"
                                                (keypress)="alloNumbersOnly($event)"
                                                aria-label="Building No"
                                                matInput
                                                formControlName="buildingNo"
                                            />
                                        </mat-form-field>
                                        <mat-form-field fxFlex="20">
                                            <mat-label>Street Number</mat-label>
                                            <input
                                                type="text"
                                                (keypress)="alloNumbersOnly($event)"
                                                maxlength="5"
                                                aria-label="Street No"
                                                matInput
                                                formControlName="streetNo"
                                            />
                                        </mat-form-field>
                                        <mat-form-field fxFlex="20">
                                            <mat-label>Zone Number</mat-label>
                                            <input
                                                type="text"
                                                maxlength="5"
                                                (keypress)="alloNumbersOnly($event)"
                                                aria-label="Zone No"
                                                matInput
                                                formControlName="zoneNo"
                                            />
                                        </mat-form-field>
                                        <mat-form-field fxFlex="20">
                                            <mat-label>PO BOX</mat-label>
                                            <input
                                                type="text"
                                                (keypress)="alloNumbersOnly($event)"
                                                maxlength="6"
                                                aria-label="PO BOX"
                                                matInput
                                                formControlName="poBoxNo"
                                            />
                                        </mat-form-field>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                    </app-master-container>
                    <ng-container *ngIf="showForm">
                        <app-master-container [variant]="'secondary'">
                            <ng-container header>
                                <div>Card Holders Details</div>
                            </ng-container>

                            <ng-container body>
                                <app-label-value
                                    fxFlex="100"
                                    [value]="
                                        cardsRequested +
                                        ' out of maximum of 3 Aamaly debit card(s) have been already issued to this account.'
                                    "
                                ></app-label-value>

                                <ng-container formArrayName="cards" *ngIf="showCardForm">
                                    <ng-container
                                        *ngFor="let formGroup of cardsFormArray.controls; index as i; let last = last"
                                    >
                                        <div [formGroupName]="i">
                                            <div fxLayout="row" fxFlex="100" fxLayoutGap="10">
                                                <mat-form-field fxFlex="25" *ngIf="!isStpUser">
                                                    <mat-label>Select Approver</mat-label>
                                                    <mat-select
                                                        (selectionChange)="updateFields($event)"
                                                        formControlName="approver"
                                                    >
                                                        <mat-option
                                                            *ngFor="let approver of approverList; let i = index"
                                                            [value]="approver"
                                                        >
                                                            {{ approver.username }}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>

                                                <mat-form-field fxFlex="25">
                                                    <mat-label>Card Holder Name</mat-label>
                                                    <input
                                                        type="text"
                                                        (keypress)="restrictInputLength($event, 25)"
                                                        maxlength="25"
                                                        aria-label="Card Holder Name"
                                                        matInput
                                                        formControlName="cardHolderName"
                                                        [appDisableControl]="true"
                                                    />
                                                </mat-form-field>

                                                <mat-form-field fxFlex="25">
                                                    <mat-label>Qatar Id</mat-label>
                                                    <input
                                                        type="text"
                                                        aria-label="Qatar Id"
                                                        matInput
                                                        maxlength="11"
                                                        minlength="11"
                                                        (keypress)="alloNumbersOnly($event)"
                                                        formControlName="qatarId"
                                                        [appDisableControl]="cardsFormArray.length !== i + 1"
                                                    />
                                                </mat-form-field>

                                                <mat-form-field fxFlex="25">
                                                    <mat-label>Mobile No</mat-label>
                                                    <input
                                                        type="text"
                                                        (keypress)="alloNumbersOnly($event)"
                                                        maxlength="11"
                                                        minlength="8"
                                                        aria-label="Mobile No"
                                                        matInput
                                                        formControlName="mobile"
                                                        [appDisableControl]="cardsFormArray.length !== i + 1"
                                                    />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </app-master-container>

                        <app-master-container [variant]="'secondary'">
                            <ng-container header>
                                <div>List of Required Documents</div>
                            </ng-container>
                            <ng-container body>
                                <div class="container-body">
                                    <ng-container *ngFor="let data of documentsList; let i = index">
                                        <app-file-upload
                                            [label]="data.label"
                                            [isDelete]="data.isDelete"
                                            [maxSize]="5"
                                            [accept]="'.jpg,.png,.pdf'"
                                            (_onUpload)="onFileSelected($event, i)"
                                        ></app-file-upload>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </app-master-container>

                        <div class="terms">
                            <div fxLayout="row" fxLayoutAlign="center" class="mt-1rem">
                                <mat-checkbox aria-label="Terms and Conditions" (change)="isCheckBoxSelected($event)">
                                    <span
                                        >I agree to the
                                        <a [href]="termsUrl" [download]="termsFileName">Terms and Conditions</a></span
                                    >
                                </mat-checkbox>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="center" class="mt-1rem">
                                <button
                                    [disabled]="
                                        aamalieCardForm.invalid ||
                                        cardsFormArray.status === 'INVALID' ||
                                        isCRExpired ||
                                        !ischeckBoxSelected ||
                                        !isReadyToUpload
                                    "
                                    class="mat-raised-button mat-primary"
                                    type="submit"
                                    mat-button
                                    color="primary"
                                    (click)="sendRequest()"
                                >
                                    SUBMIT
                                </button>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!showForm && islimitReached">
                        <div class="limit-reached">
                            <span class="info">
                                <i class="las la-exclamation-circle"></i>
                                Maximum limit reached. 3 Aamaly debit cards have already been issued to this account
                                number.
                            </span>
                        </div>
                    </ng-container>
                </form>
            </ng-container>
            <ng-template #successBody>
                <app-aamali-debit-card-request-success [requestSuccessData]="requestSuccessData">
                </app-aamali-debit-card-request-success>
            </ng-template>
        </ng-container>
    </app-master-container>
</ng-container>
<ng-container *ngIf="showAamaliCardHistory">
    <app-aamali-debit-card-history (closeHistory)="closeHistory()"></app-aamali-debit-card-history>
</ng-container>
