
<app-outlet-container>
    <app-master-container>
        <ng-container header>
              Group Scheme Members
        </ng-container>
        <ng-container icons>
            <div fxLayout="row" fxLayoutGap="2rem">
                <mat-form-field class="width-1">
                    <mat-label>Select Scheme</mat-label>
                    <mat-select [(ngModel)]="selectedScheme">
                        <mat-option 
                        (onSelectionChange)="getSchemeMembers($event,scheme)"
                        *ngFor="let scheme of schemes" [value]="scheme" 
                        >{{
                            scheme.scheme_name + ' - '+scheme.scheme_date + ' - '+scheme.name
                        }}</mat-option>
                    </mat-select>
                </mat-form-field>               
                <mat-form-field>
                    <mat-label>Select Status</mat-label>
                    <mat-select [(ngModel)]="selectedStatus">
                        <mat-option 
                        (onSelectionChange)="updateStatus($event,status)"
                        *ngFor="let status of statuses" [value]="status">{{
                            status
                        }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!--<button mat-icon-button  *ngIf="sortedData.length>0"   (click)="downloadExcel()">
                    <i class="las la-file-excel"></i>
                </button>
                 <button mat-icon-button >
                    <i class="las la-file-pdf"></i>
                </button> -->
                <button *ngIf="selectedScheme" mat-icon-button (click)="addUsers()">
                    <i class="las la-plus"></i>
                </button>
            </div>
        </ng-container>
        <ng-container body>
            <div fxLayout="column" fxFlex="100">
                <app-sgs-table
                    [config]="tableConfig"
                    (_lazyLoad)="lazyLoad($event)"
                    (_select)="onSelect($event)"
                    (_clickCell)="onClickCell($event)"
                ></app-sgs-table>
            </div>
        </ng-container>
    </app-master-container>
</app-outlet-container>


