<app-master-container>
    <ng-container header> SETUP</ng-container>
    <ng-container body>
        <div fxLayout="column" fxFlex="100">
            <mat-tab-group class="form-tabs">
                <mat-tab label="For Bank Admin">
                    <ng-template matTabContent>
                        <app-feature-config-admin></app-feature-config-admin>
                    </ng-template>
                </mat-tab>
                <mat-tab label="For Corporate User">
                    <ng-template matTabContent>
                        <app-feature-config-corporate></app-feature-config-corporate>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </ng-container>
</app-master-container>
