<div class="list" *ngIf="entitlement && entitlement.children && entitlement.children.length">
    <app-master-container [variant]="'tertiary'" [opened]="true">
        <ng-container header>
            {{ entitlement.name }}
        </ng-container>
        <ng-container icons *ngIf="screenMode === SCREEN_MODE.CREATE || fromNewRim">
            <mat-slide-toggle
                #selected
                (ngModelChange)="selectAllChildren($event, entitlement)"
                [(ngModel)]="entitlement.entitled"
            >
            </mat-slide-toggle>
        </ng-container>
        <ng-container body>
            <div class="selection-container">
                <div class="entitlement-group">
                    <ng-container *ngFor="let child of entitlement.children; let i = index">
                        <ng-container
                            *ngIf="
                                (updateMode.value === 'UPDATE' && updateMode ? child.isActive : !child.isActive) &&
                                    child.children.length === 0;
                                else activeEntitlementMenu
                            "
                        >
                            <div *ngIf="child.isEnabled">
                                <ng-container *ngTemplateOutlet="entitlementMenu"></ng-container>
                            </div>
                        </ng-container>
                        <ng-template #activeEntitlementMenu>
                            <div matRipple *ngIf="child.isEnabled">
                                <ng-container *ngTemplateOutlet="entitlementMenu"></ng-container>
                            </div>
                        </ng-template>
                        <ng-template #entitlementMenu>
                            <div
                                *ngIf="role && role.value === 'role_user_viewer' ? child.isViewable : true"
                                (click)="onClickEntitlement(child)"
                                [ngClass]="{
                                    'menu-item': true,
                                    'menu-item-current': child === entitlement.current && child.children.length,
                                    'menu-item-invloved': child.someChildrenEntitled || child.entitled,
                                    'menu-item-committed': evaluate(child)
                                }"
                            >
                                <div class="status">
                                    <div *ngIf="isAllSelected(child); else partial" class="selected">
                                        <i class="las la-check full"></i>
                                    </div>
                                    <ng-template #partial>
                                        <div *ngIf="child.someChildrenEntitled" class="selected">
                                            <i class="las la-check involved"></i>
                                        </div>
                                    </ng-template>
                                    {{ child.name }}
                                </div>
                                <i *ngIf="child.children.length" class="las la-angle-right"></i>
                            </div>
                        </ng-template>
                    </ng-container>
                </div>
                <div class="sub-group">
                    <app-entitlement-list
                        [screenMode]="screenMode"
                        [updateMode]="updateMode"
                        *ngIf="entitlement.current"
                        [entitlement]="entitlement.current"
                        [fullAccountPrivilege]="fullAccountPrivilege"
                        [fromNewRim]="fromNewRim"
                        [role]="role"
                    >
                    </app-entitlement-list>
                    <app-account-selection
                        [entitlement]="entitlement"
                        [screenMode]="screenMode"
                        [fromNewRim]="fromNewRim"
                        [updateMode]="updateMode"
                        [fullAccountPrivilege]="fullAccountPrivilege"
                    >
                    </app-account-selection>
                </div>
            </div>
        </ng-container>
    </app-master-container>
</div>
