<ng-container *ngIf="dataSource.data.length > 0; else nodata">
    <div class="table-container">
        <table mat-table matSort [dataSource]="dataSource" (matSortChange)="handleSort($event)" class="sgs-table">
            <ng-container *ngFor="let column of columnDefs">
                <ng-container [matColumnDef]="column.key">
                    <ng-container *ngIf="column.sortable; else plainHeader">
                        <th
                            mat-header-cell
                            mat-sort-header
                            *matHeaderCellDef
                            [style.min-width]="column.minWidth + 'rem' || '1rem'"
                        >
                            <ng-container *appHasEntitlementAccessTo="column.UUID || ''">
                                {{ column.displayName }}
                            </ng-container>
                        </th>
                    </ng-container>
                    <ng-template #plainHeader>
                        <th mat-header-cell *matHeaderCellDef [style.min-width]="column.minWidth + 'rem' || '1rem'">
                            <ng-container *appHasEntitlementAccessTo="column.UUID || ''">
                                {{ column.displayName }}
                            </ng-container>
                        </th>
                    </ng-template>

                    <td mat-cell *matCellDef="let element" [style.min-width]="column.minWidth + 'rem' || '1rem'">
                        <ng-container *appHasEntitlementAccessTo="column.UUID || ''">
                            <ng-container
                                [ngSwitch]="column.type"
                                *ngIf="column.callBackFn ? column.callBackFn(element) : true"
                            >
                                <a
                                    (click)="_clickCell.emit({ key: column.key, data: element })"
                                    *ngSwitchCase="ColumnType.link"
                                >
                                    {{ element[column.key] }}
                                </a>
                                <button
                                    class="mat-raised-button mat-primary"
                                    type="button"
                                    (click)="_clickCell.emit({ key: column.key, data: element })"
                                    *ngSwitchCase="ColumnType.button"
                                    mat-button
                                >
                                    {{ element[column.key] }}
                                </button>
                                <button
                                    (click)="_clickCell.emit({ key: column.key, data: element })"
                                    *ngSwitchCase="ColumnType.icon"
                                    mat-icon-button
                                    color="primary"
                                    aria-label="icon"
                                >
                                    <ng-container *ngIf="column.icon">
                                        <i class="las" [ngClass]="column.icon"></i>
                                        <ng-container *ngIf="column.extraText"
                                            >{{ element[column.extraText] }}
                                        </ng-container>
                                    </ng-container>
                                </button>

                                <button
                                    (click)="_clickCell.emit({ key: column.key, data: element })"
                                    *ngSwitchCase="ColumnType.approve"
                                    mat-icon-button
                                    color="primary"
                                    aria-label="icon"
                                >
                                    <img class="action-icon" src="assets/images/Approve.png" alt="" srcset="" />
                                </button>
                                <button
                                    (click)="_clickCell.emit({ key: column.key, data: element })"
                                    *ngSwitchCase="ColumnType.reject"
                                    mat-icon-button
                                    color="primary"
                                    aria-label="icon"
                                >
                                    <img class="action-icon" src="assets/images/Reject.png" alt="" srcset="" />
                                </button>
                                <mat-slide-toggle
                                    (change)="onToggleChange($event, column, element)"
                                    *ngSwitchCase="ColumnType.switch"
                                    [checked]="element[column.key]"
                                    name="switch"
                                >
                                </mat-slide-toggle>
                                <div *ngSwitchCase="ColumnType.amount">{{ element[column.key] | number: '1.2-4' }}</div>
                                <div *ngSwitchCase="ColumnType.number">{{ element[column.key] | number }}</div>
                                <div *ngSwitchCase="ColumnType.date">{{ element[column.key] | date: 'medium' }}</div>
                                <div *ngSwitchCase="ColumnType.onlyDate">{{ element[column.key] | date: 'dd MMM, YYYY' }}</div>
                                <div *ngSwitchCase="ColumnType.status">
                                    <span class="status" [appTextHighlight]="element[column.key]">{{ element[column.key] }}</span>
                                </div>
                                <div *ngSwitchCase="ColumnType.toolTip">
                                    <span
                                        *ngIf="getToolTipLength(element[column.key]) > 35"
                                        matTooltip="{{ element[column.key] }}"
                                        matTooltipPosition="right"
                                    >
                                        {{ getSubString(element[column.key], 35) }}...</span
                                    >
                                    <span *ngIf="getToolTipLength(element[column.key]) <= 35">
                                        {{ element[column.key] }}</span
                                    >
                                </div>
                                <div
                                    *ngSwitchCase="ColumnType.html"
                                    [innerHtml]="element[column.key] | safe: 'html'"
                                ></div>
                                <div *ngSwitchDefault>{{ element[column.key] }}</div>
                            </ng-container>
                        </ng-container>
                    </td>
                </ng-container>
            </ng-container>
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox
                        (change)="masterToggle()"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()"
                    >
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox
                        (click)="$event.stopPropagation()"
                        (change)="onChangeSelection($event, row)"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)"
                    >
                    </mat-checkbox>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: columns"></tr>
        </table>
    </div>
    <ng-container *ngIf="showPagination">
        <mat-paginator 
            #paginator
            [pageIndex]="currentPage"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="handlePageEvent($event)"
            aria-label="Select page"
        >
        </mat-paginator>
    </ng-container>
</ng-container>
<ng-template #nodata>
    <div class="no-records">No records found.</div>
</ng-template>
