.row
{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.color
{
    background-color: yellow;
    color: #000;
}
.keep-right
{
    flex: 1 1 auto;
}
.size{
    font-size: 0.87rem;
}
.side-menu
{
    width: 75%;
    height: 100%;
    background-color: #fff;
    top: 0rem !important;
    position: absolute;
    padding: 0.5rem;
}
.mosue-pointer
{
    cursor: pointer;
}
