    <div fxLayout="column" fxFlex="100">
        <div fxLayout="row" fxLayoutAlign="space-between" class="heading-title">
            <div class="title">
                Add Sub Categories
            </div>
            <button mat-icon-button (click)="addSubCategory()" *ngIf="this.selectedCategory?.id>0">
                <i class="las la-plus"></i>
            </button>
        </div>              
        <div fxLayout="row" *ngIf="categories.length>0" fxLayoutAlign="space-between" class="heading-title">
            <div class="sub-title">
                select Category
            </div>
        </div> 
        <div class="column-container">
            <div>
                <div class="row-container-overflow">
                    <div class="chips" [class]="this.selectedCategory?.id=== category.id?'active':'inactive'" *ngFor="let category of categories;let i=index;"
                    (click)="getSubCategoriesByCategory($event,category)">
                    <i class="las la-check" *ngIf="this.selectedCategory?.id=== category.id"></i><span>{{
                        category.category_name
                    }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutGap="2rem"  class="mb-2">
            <app-sgs-card *ngFor="let category of sortedData;let i=index;"> 
                <img class="image-preview" [src]="category.url" />            
                <div fxLayout="column" fxLayoutGap="1rem" class="p-1">                
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <span class="card-title">{{category.sub_category_name}}</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between" class="card-bottom-icons">
                        <button mat-icon-button (click)="deleteData(category)">
                            <i class="las la-trash"></i>
                        </button>
                        <button mat-icon-button (click)="editData(category)">
                            <i class="las la-edit"></i>
                        </button>
                    </div>
                </div>
            </app-sgs-card> 
        </div>
    <!-- <app-master-container>
        <ng-container header>Sub Categories</ng-container>
        <ng-container icons>
            <div fxLayout="row" fxLayoutGap="1rem">
                <mat-form-field>
                    <mat-label>Select Category</mat-label>
                    <mat-select [(ngModel)]="selectedCategory">
                        <mat-option *ngFor="let category of categories" [value]="category" 
                        (onSelectionChange)="getSubCategoriesByCategory($event,category)">{{
                            category.category_name
                        }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-icon-button  *ngIf="sortedData.length>0"   (click)="downloadExcel()">
                    <i class="las la-file-excel"></i>
                </button>
                <button mat-icon-button  (click)="addSubCategory()">
                    <i class="las la-plus"></i>
                </button>
            </div>
        </ng-container>
        <ng-container body>
            <app-sgs-table
            [config]="tableConfig"
            (_lazyLoad)="lazyLoad($event)"
            (_clickCell)="onClickCell($event)"
        ></app-sgs-table>
        </ng-container>
    </app-master-container>  -->
    </div>   