@import 'variables';

.totals {
    .label {
        font-size: 0.8125em;
        color: $qib-text-color;
    }

    .value {
        font-size: 0.7rem !important;
        color: $qib-background-blue;

        &.boldText {
            font-size: 1rem !important;
            font-weight: 600;
            color: $qib-text-color;
        }
    }

    .value:hover {
        cursor: pointer;
    }
}

.transfer-success {
    .success-icon {
        .las.la-check-circle {
            font-size: 2rem;
            color: $qib-green;
        }
    }

    .status {
        font-weight: bold;
        font-size: 0.8125em;
        color: $qib-green;
    }
}

.search-controls {
    display: flex;
    max-width: 100%;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.file-preview {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 100%;
    max-height: 100%;
    max-width: fit-content;
    overflow-x: auto;
}
