.bg-glass{
    background-color: #000;
    opacity: 0.9;
}
.bg-1{
    background: url(../../../../assets/images/stock-market/bg-1.jpg);    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-white{
    background: #fff;
}