<ng-container body>
    <div fxFlex="column">
        <div class="inquiry-details">
            <app-label-value
                [label]="'LC Reference'"
                *ngIf="parentData?.ld_limit_reference"
                [value]="parentData?.ld_limit_reference"
            >
            </app-label-value>
            <app-label-value
                [label]="'Lodgement Number'"
                *ngIf="parentData?.lc_number"
                [value]="parentData?.lc_number"
            ></app-label-value>
            <app-label-value [label]="'Loan Type'" *ngIf="parentData?.loan_type" [value]="parentData?.loan_type">
            </app-label-value>
            <app-label-value
                [label]="'LC Type'"
                *ngIf="parentData?.lc_credit_type"
                [value]="parentData?.lc_credit_type"
            >
            </app-label-value>
            <app-label-value
                [label]="'Customer Number'"
                *ngIf="parentData?.customer_link"
                [value]="parentData?.customer_link"
            ></app-label-value>
            <app-label-value
                [label]="'Document Amount'"
                *ngIf="parentData?.document_amount"
                [value]="parentData?.document_amount"
                [type]="'amount'"
            ></app-label-value>
            <app-label-value [label]="'Presentor'" *ngIf="parentData?.presentor" [value]="parentData?.presentor">
            </app-label-value>
            <app-label-value
                [label]="'Presentor Reference'"
                *ngIf="parentData?.presentor_ref"
                [value]="parentData?.presentor_ref"
            >
            </app-label-value>
            <app-label-value
                [label]="'Lodgement Date'"
                [value]="parentData?.value_date"
                *ngIf="parentData?.value_date"
            ></app-label-value>
            <app-label-value
                [label]="'Discrepancy/ies'"
                *ngIf="parentData?.discrepancy"
                [value]="parentData?.discrepancy.split('. ')"
                [type]="'list'"
            >
            </app-label-value>
        </div>
    </div>
</ng-container>
