<app-cib-notification [headerTitle]="data?.statusTitle" [title]="data?.statusMessage" [variant]="'success'">
    <ng-container body>
        <div class="body">
            <ng-container *ngIf="data?.accountNo">
                <app-label-value [label]="'Account Number'" [value]="data?.accountNo"> </app-label-value>
            </ng-container>

            <ng-container *ngIf="data?.debitAccountNo">
                <app-label-value [label]="'Debit Account Number'" [value]="data?.debitAccountNo"> </app-label-value>
            </ng-container>

            <ng-container *ngIf="data?.cardType">
                <app-label-value [label]="'Card Type'" [value]="data?.cardType"> </app-label-value>
            </ng-container>

            <ng-container *ngIf="data?.limit">
                <app-label-value
                    [label]="'Card Limit'"
                    [value]="data?.currency + ' ' + (data?.limit | number: '1.2-4')"
                >
                </app-label-value>
            </ng-container>

            <ng-container *ngIf="data?.charges">
                <app-label-value [label]="'Charges'" [value]="data?.currency + ' ' + (data?.charges | number: '1.2-4')">
                </app-label-value>
            </ng-container>

            <ng-container *ngIf="data?.amount">
                <app-label-value [label]="'Amount'" [value]="data?.currency + ' ' + (data?.amount | number: '1.2-4')">
                </app-label-value>
            </ng-container>

            <ng-container *ngIf="data?.info3">
                <app-label-value
                    *ngIf="data?.requestType === '7' || data?.requestType === '6'"
                    [label]="'Period'"
                    [value]="data?.info3"
                >
                </app-label-value>
                <app-label-value *ngIf="data?.requestType === '19'" [label]="'Set User Status'" [value]="data?.info3">
                </app-label-value>
            </ng-container>

            <ng-container *ngIf="data?.txnReference">
                <app-label-value [label]="'Transaction Reference'" [value]="data?.txnReference"> </app-label-value>
            </ng-container>

            <ng-container *ngIf="data?.embossingName">
                <app-label-value [label]="'Embossing Name'" [value]="data?.embossingName"> </app-label-value>
            </ng-container>

            <ng-container *ngIf="data?.execStartDate">
                <app-label-value [label]="'Balance confirmation Date as on'" [value]="data?.execStartDate">
                </app-label-value>
            </ng-container>

            <ng-container *ngIf="data?.info1">
                <app-label-value
                    *ngIf="data?.requestType === '7'"
                    [label]="'Registered Email ID'"
                    [value]="data?.info1.split(' ').join(',')"
                >
                </app-label-value>
                <app-label-value *ngIf="data?.requestType === '19'" [label]="'User Id'" [value]="data?.info1">
                </app-label-value>
                <app-label-value *ngIf="data?.requestType === '6'" [label]="'Auditors Email Id'" [value]="data?.info1">
                </app-label-value>
            </ng-container>
            <ng-container *ngIf="data?.info2">
                <app-label-value *ngIf="data?.requestType === '19'" [label]="'Username'" [value]="data?.info2">
                </app-label-value>
                <app-label-value *ngIf="data?.requestType === '6'" [label]="'Auditor s Name'" [value]="data?.info2">
                </app-label-value>
            </ng-container>
            <ng-container *ngIf="data?.info4">
                <app-label-value *ngIf="data?.requestType === '19'" [label]="'User Email-Id'" [value]="data?.info4">
                </app-label-value>
                <app-label-value *ngIf="data?.requestType === '6'" [label]="'Auditor Address'" [value]="data?.info4">
                </app-label-value>
            </ng-container>

            <ng-container *ngIf="data?.info6">
                <app-label-value *ngIf="data?.requestType === '1'" [label]="'No of Leaves'" [value]="data?.info6">
                </app-label-value>
            </ng-container>

            <ng-container *ngIf="data?.info5">
                <app-label-value *ngIf="data?.requestType === '7'" [label]="'Alternate Email ID'" [value]="data?.info5">
                </app-label-value>
            </ng-container>

            <ng-container *ngIf="data?.info5 && data?.info6">
                <app-label-value [label]="'User Full Name'" [value]="data?.info5 + ' ' + data?.info6">
                </app-label-value>
            </ng-container>
            <ng-container *ngIf="data?.info7">
                <app-label-value [label]="'Fax Number'" [value]="data?.info7"> </app-label-value>
            </ng-container>

            <ng-container *ngIf="data?.mobileNo">
                <app-label-value
                    *ngIf="data?.requestType === '19'"
                    [label]="'User Mobile Number'"
                    [value]="data?.mobileNo"
                >
                </app-label-value>
                <app-label-value
                    *ngIf="data?.requestType === '6'"
                    [label]="'Auditors Contact Number'"
                    [value]="data?.mobileNo"
                >
                </app-label-value>
                <app-label-value
                    *ngIf="data?.requestType === '18'"
                    [label]="'Customer Contact Number'"
                    [value]="data?.mobileNo"
                >
                </app-label-value>
                <app-label-value
                    *ngIf="data?.requestType === '18'"
                    [label]="'Customer Email Address'"
                    [value]="data?.user?.email"
                >
                </app-label-value>
            </ng-container>
        </div>
        <div>
            <button type="button" mat-flat-button (click)="closeSuccessMessage()" color="primary">OK</button>
        </div>
    </ng-container>
</app-cib-notification>
