<app-outlet-container>
    <div fxLayout="row">
        <div fxFlex="45">

            <app-master-container>
                <ng-container header>
                    SETTINGS
                </ng-container>
                
                <ng-container icons>
                    <button mat-icon-button (click)="openPopup()">
                        <i class="las la-edit"></i>
                    </button>
                </ng-container>
                <ng-container body> 
                    <div fxLayout="column" fxFlex="50">
                        <app-label-value 
                            *ngIf="data?.individual_commission" 
                            [label]="'Individual Commission'" 
                            [value]="data.individual_commission+'%'">
                        </app-label-value>
                        <app-label-value 
                            *ngIf="data?.group_commission" 
                            [label]="'Group Commission'" 
                            [value]="data.group_commission+'%'">
                        </app-label-value>
                    </div>
                </ng-container>
            </app-master-container>
        </div>
    </div>
</app-outlet-container>