<div class="approver-requests">
    <div class="selection" *ngIf="selectedRequests.length">
        <div class="description">
            <div class="count">
                {{ selectedRequests.length }}
            </div>
            <div>Requests has been selected overall.</div>
        </div>
        <div class="action-buttons">
            <button mat-button color="primary" (click)="actOnSelected(DECISION.VERIFY, DECISION.REJECT)">
                <img class="action-icon" src="assets/images/Reject.png" alt="" srcset="" /> Reject
            </button>
            <button mat-button color="primary" (click)="actOnSelected(DECISION.VERIFY, DECISION.APPROVE)">
                <img class="action-icon" src="assets/images/Approve.png" alt="" srcset="" /> Approve
            </button>
        </div>
    </div>

    <ng-container *ngFor="let module of modules; let i = index">
        <app-master-container
            #ref
            (_onToggle)="onSelect([], module.uuid)"
            [opened]="module.opened || i === 0"
            [collapsable]="true"
        >
            <ng-container header>
                <span class="count" *ngIf="module.count">{{ module.count }}</span>
                {{ module.uuid | cibDefinition: 'UUID' }}
            </ng-container>

            <ng-container icons>
                <mat-form-field>
                    <mat-select [(value)]="module.selectedDuration" (selectionChange)="onSelect([], module.uuid)">
                        <mat-option *ngFor="let duration of durationList" [value]="duration">
                            {{ duration }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>
            <ng-container body>
                <app-approver-requests
                    #requests
                    (_onSelect)="onSelect($event, module.uuid)"
                    (_onActionEnd)="onActionEnd()"
                    *ngIf="ref.opened"
                    [type]="module.uuid"
                    [durationType]="module.selectedDuration"
                    (_onUpdateCount)="onUpdateCount($event, i)"
                ></app-approver-requests>
            </ng-container>
        </app-master-container>
    </ng-container>
</div>
