<div fxLayout="column" fxLayoutGap="0.5rem">
    <app-master-container *ngFor="let draft of draftList; let i = index">
        <ng-container header>
            <app-label-value
                label=""
                *ngIf="draft.data[0].createdOn"
                value="{{ draft.data[0].createdOn | date: 'medium' }}"
            >
            </app-label-value>
        </ng-container>
        <ng-container icons>
            <button
                mat-icon-button
                (click)="initiateTransfer(draft.data, draft.uid)"
                *appHasEntitlementAccessTo="'TRANSFER_UPDATE_DRAFT'"
            >
                <i class="las la-edit"></i>
            </button>
            <button
                mat-icon-button
                (click)="_deleteDraft(draft.uid)"
                *appHasEntitlementAccessTo="'TRANSFER_DELETE_DRAFT'"
            >
                <i class="las la-trash"></i>
            </button>
        </ng-container>
        <ng-container body>
            <div fxFlex="column">
                <app-transfer-header-info *ngIf="draft.data[0]" [transfer]="draft.data[0]"></app-transfer-header-info>
            </div>
        </ng-container>
    </app-master-container>
    <div *ngIf="draftList.length === 0" fxFlex="row" fxLayoutAlign="center center" style="color: #555555">
        No record founds
    </div>
</div>
