@import 'variables';
.header-info {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.device-item {
    margin: 0.5rem;
    background-color: $qib-border-color;
    padding: 0.5rem;

    .device-info-sec {
        .lab {
            font-size: 4.5rem;
            &.la-android {
                color: #32de84;
            }
            &.la-apple {
                color: #a2aaad;
            }
        }

        .info-item-title {
            font-size: 0.875rem;
            color: $qib-primary-color;
        }

        .info-item {
            font-size: 0.75rem;
            color: $qib-text-color;
        }
    }

    .action-deactivate {
        color: $qib-primary-color;
        margin-top: 0.625rem;
        background-color: $qib-text-white;
        cursor: pointer;

        &:hover {
            background: $qib-primary-color;
            color: $qib-white;
        }
    }
}
