<div class="outlet-container">
    <app-master-container>
        <ng-container header>Settings</ng-container>
        <ng-container body>
            <div fxLayout="column">
                <div class="header-info" *ngIf="devicesList.length === 0">
                    <i class="las la-info-circle"></i> No device found
                </div>
                <div class="header-info" *ngIf="devicesList.length > 0">
                    <i class="las la-info-circle"></i> List of devices linked under your account
                </div>
                <div *ngIf="devicesList.length > 0" fxLayout="row" fxLayoutGap="2rem" fxLayoutAlign="start center">
                    <div *ngFor="let device of devicesList" class="device-item">
                        <div class="device-info-sec">
                            <i class="lab" [ngClass]="device.osType === 'Android' ? 'la-android' : 'la-apple'"> </i>
                            <div class="info-item-title">
                                <span>Model :</span><span>{{ device.deviceModel }}</span>
                            </div>
                            <div class="info-item">
                                <span>Version :</span><span>{{ device.osVersion }}</span>
                            </div>
                            <div class="info-item">
                                <span>Device Id :</span> <span>{{ device.deviceId }}</span>
                            </div>
                            <button
                                class="mat-raised-button mat-primary action-deactivate mat-button"
                                mat-stroked-button
                                color="primary"
                                (click)="onDlinkClick(device)"
                            >
                                DE-LINK
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </app-master-container>
</div>
