.cart-item{
    align-items: baseline;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background: #fff;
    img{
        width: 2rem;
        height: 2rem;
    }
    .title{
        font-size: 0.8rem;
    }
}
.checkout{
    .title{
        color:#000;
    }
}