@import 'variables';
@import 'colors';

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    .mt-1 {
        margin-top: 1rem;
    }
    .align-baseline {
        align-items: baseline !important;
    }
    .wrap {
        flex-wrap: wrap;
        width: 100%;
    }
    .gap {
        margin-right: 2rem;
    }
    .checkBoxMsg {
        margin-left: 1rem;
        width: 5rem;
    }
    .align-title {
        margin-bottom: 1rem;
        margin-left: 0.2rem;
    }
    app-master-container {
        margin-bottom: 0.5rem;
    }
    .fullWidth {
        width: 100%;
        margin: 0.4rem;
    }
    .length-allowed {
        text-align: right;
        width: 100%;
    }
    .splInstr {
        margin-bottom: 0rem !important;
        width: 100%;
    }
}
.w-17rem {
    width: 17rem;
}

.file-details {
    display: flex;
    flex-direction: column;
    background-color: $qib-divider-color;
    border: solid $qib-divider-color 0.1rem;
    padding: 0.5rem;
    overflow: auto;
    border-radius: 0.5rem;
    height: 4.2rem;
    .la-check-circle {
        font-size: 1rem;
        color: $qib-green;
    }

    .items {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 0.5rem;

        .file-name {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 0.2rem;
        }
    }
}
.container-body {
    display: flex;
    column-gap: 2rem;
    gap: 1rem;
    flex-direction: column !important;
    width: 100%;
    padding-top: 0.5rem;

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;

        app-cib-date-picker,
        mat-form-field {
            width: 33%;
        }
    }
}
mat-list-item {
    font-size: 0.875rem;
    border-bottom: 0.0625rem solid $qib-divider-color;
}
input.uppercase,
textarea.uppercase {
    text-transform: uppercase;
}
mat-checkbox span {
    white-space: break-spaces;
}

.mr-4rem {
    margin-right: 4rem;
}

.docs {
    margin-left: -14rem;
    font-size: 1rem;
    color: #0075b0;
}

.circle {
    font-size: 12px;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1rem;
}
.accept-terms {
    color: $qib-red;
    font-size: 0.8rem;
    font-weight: bold;
}

.label-checkbox {
    font-size: 0.8125em;
    color: $qib-text-color;
}

textarea {
    height: 2rem;
}

.disableLC {
    pointer-events: none;
    opacity: 0.5;
}

.cards-list {
    width: 100%;
    .card-details {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        .status {
            font-weight: 600;
            text-align: end;
            font-size: 0.75rem;
            color: $qib-text-color;
            text-transform: uppercase;
            text-align: right;
            .card-image {
                width: 3.5rem;
            }
        }
        .name {
            font-size: 0.875rem;
            color: $qib-primary-color;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 0.5rem;
            .card-number {
                font-size: 0.75rem;
                color: $qib-text-color;
            }
        }
    }
}
.errorMsg {
    color: #ea0000;
    font-size: 75%;
    margin-top: 0.7rem;
    position: absolute;
}
.mt-2 {
    margin-top: 1rem;
}
