@import 'variables';
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $qib-green;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    .entitlement {
        margin-top: 1rem;
    }
    .wrap {
        flex-wrap: wrap;
    }
    .gap {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 1rem;
    }
    .breakWord {
        white-space: normal;
    }

    .bottom-gap {
        margin-bottom: 2rem;
    }
    .upper-case {
        text-transform: uppercase;
    }
    app-master-container {
        margin-bottom: 0.5rem;
    }
}
