<app-master-container>
    <ng-container header>SETUP GROUP MATRIX</ng-container>
    <ng-container body>
        <form class="container">
            <div fxLayout="row" fxLayoutGap="2rem" fxLayout.lt-md="column" fxLayoutWrap>
                <mat-form-field>
                    <mat-label>Corporate Business Group</mat-label>
                    <input
                        type="text"
                        required
                        aria-label="Business Group"
                        (focusout)="onSelectGroup($event.target)"
                        (focusin)="resetEntitlements()"
                        (keypress)="changeValue($event.target)"
                        matInput
                        [(ngModel)]="selectedBusinessGroup"
                        name="selectedBusinessGroup"
                        [matAutocomplete]="groups"
                    />
                    <mat-autocomplete autoActiveFirstOption #groups="matAutocomplete">
                        <mat-option *ngFor="let option of filteredGroups" [value]="option.businessName">
                            {{ option.businessName }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Corporates</mat-label>
                    <mat-select
                        [(ngModel)]="selectedCorpGroup"
                        required
                        name="selectedCorpGroup"
                        (optionSelectionChanges)="getSelectedCorporate($event)"
                        (selectionChange)="getSelectedCorporate($event.value)"
                    >
                        <mat-option *ngFor="let corporate of corporatesList" [value]="corporate">
                            {{ corporate.uniqueUserId }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div
                fxFlex="column"
                *ngIf="entitlementsList.length === 0 && selectedBusinessGroup && selectedCorpGroup"
                class="disclaimer entitlement"
            >
                Note: No user groups found for the corporate.
            </div>
            <ng-container *ngIf="selectedBusinessGroup && selectedCorpGroup && entitlementsList.length > 0">
                <ng-container *ngFor="let formGroup of entitlementsList; index as i; let last = last">
                    <app-master-container
                        [variant]="'secondary'"
                        #container
                        [collapsable]="true"
                        *ngIf="allowedEntitlements.includes(formGroup.entitlement?.uuid)"
                    >
                        <ng-container header>
                            <div class="upper-case">
                                {{ getEntitlementName(i) }}
                            </div>
                        </ng-container>
                        <ng-container icons>
                            <mat-slide-toggle
                                class="gap"
                                [checked]="this.entitlementsList[i].applyForAll"
                                [(ngModel)]="this.entitlementsList[i].applyForAll"
                                name="applyForAll{{ i }}"
                                (change)="setForAll($event, i, this.entitlementsList[i].groupsAndConditions)"
                            >
                                Apply for all
                            </mat-slide-toggle>
                            <button
                                #tooltip="matTooltip"
                                matTooltip="CLEAR SETUP"
                                mat-icon-button
                                class="gap"
                                (click)="refresh(i)"
                                *ngIf="this.entitlementsList[i].group.length > 1"
                            >
                                <i class="las la-sync"></i>
                            </button>
                        </ng-container>
                        <ng-container body>
                            <ng-container>
                                <div
                                    fxFlex="row"
                                    *ngIf="this.entitlementsList[i].group.length < 2"
                                    class="disclaimer entitlement"
                                >
                                    Note: More than 1 Approver Group is needed to setup group matrix for
                                    {{ formGroup.entitlement?.name }}.
                                </div>
                                <div
                                    *ngIf="this.entitlementsList[i].group.length > 1"
                                    fxLayout="row"
                                    fxLayoutGap="2rem"
                                    fxLayout.lt-md="column"
                                    fxLayoutWrap
                                    class="align-baseline wrap entitlement"
                                >
                                    <ng-container
                                        *ngFor="let grp of entitlementsList[i].groupsAndConditions; let j = index"
                                    >
                                        <mat-form-field *ngIf="j < 4 || entitlementsList[i].showMoreGrp">
                                            <mat-label>Groups</mat-label>
                                            <mat-select
                                                [disabled]="
                                                    j > 0 &&
                                                    entitlementsList[i].groupsAndConditions[j - 1][
                                                        'cond_' + (j - 1)
                                                    ] === '' &&
                                                    entitlementsList[i].groupsAndConditions[j - 1][
                                                        'group_' + (j - 1)
                                                    ] === ''
                                                "
                                                [(ngModel)]="entitlementsList[i].groupsAndConditions[j]['group_' + j]"
                                                name="group{{ i + '' + j }}"
                                            >
                                                <mat-option
                                                    *ngFor="let group of this.entitlementsList[i].group"
                                                    [value]="group.groupId"
                                                >
                                                    {{ group.name }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field *ngIf="(j < 3 || entitlementsList[i].showMoreGrp) && j < 9">
                                            <mat-label>Condition</mat-label>
                                            <mat-select
                                                [disabled]="
                                                    j !== 0 &&
                                                    entitlementsList[i].groupsAndConditions[j]['group_' + j] === ''
                                                "
                                                [(ngModel)]="entitlementsList[i].groupsAndConditions[j]['cond_' + j]"
                                                name="cond{{ i + '' + j }}"
                                            >
                                                <mat-option
                                                    *ngFor="
                                                        let condition of [
                                                            { key: 'AND', value: '&&' },
                                                            { key: 'OR', value: '||' }
                                                        ]
                                                    "
                                                    [value]="condition.value"
                                                >
                                                    {{ condition.key }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </ng-container>
                                    <div>
                                        <button
                                            mat-icon-button
                                            (click)="entitlementsList[i].showMoreGrp = !entitlementsList[i].showMoreGrp"
                                        >
                                            <i
                                                class="las"
                                                [ngClass]="{
                                                    'la-plus': !entitlementsList[i].showMoreGrp,
                                                    'la-minus': entitlementsList[i].showMoreGrp
                                                }"
                                            ></i>
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </app-master-container>
                </ng-container>
                <div fxLayout="row" fxLayoutGap="2rem" fxLayout.lt-md="column" fxLayoutWrap>
                    <button
                        mat-flat-button
                        type="submit"
                        [disabled]="enableButton"
                        (click)="sendRequest()"
                        color="primary"
                    >
                        SUBMIT
                    </button>
                </div>
            </ng-container>
        </form>
    </ng-container>
</app-master-container>
