<app-master-container>
    <ng-container header>BG DRAFTS</ng-container>
    <ng-container body>
        <div fxLayout="column" fxFlex="100">
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
                <div class="page-heading">SAVED BG's</div>
                <div fxLayout="row">
                    <button class="header-icons" mat-icon-button (click)="getBGDrafts()">
                        <i class="las la-sync-alt"></i>
                    </button>
                    <button
                        class="header-icons"
                        mat-icon-button
                        [matMenuTriggerFor]="menu"
                        #menuTrigger="matMenuTrigger"
                    >
                        <i class="las la-search"></i>
                    </button>
                </div>
            </div>

            <app-cib-table [config]="tableConfig" (_clickCell)="onClickCell($event)"> </app-cib-table>
        </div>
    </ng-container>
</app-master-container>

<mat-menu #menu="matMenu" xPosition="after">
    <div class="filter-menu-item-container" (click)="$event.stopPropagation()">
        <div fxLayout="row" class="heading" fxLayoutAlign="space-between center">
            <span class="title">SEARCH BG DRAFTS</span>
            <button mat-icon-button (click)="closeMatmenu()">
                <i class="las la-times"></i>
            </button>
        </div>
        <div class="divider"></div>
        <form [formGroup]="searchBGForm" autocomplete="off">
            <div fxLayout="row wrap" fxLayoutGap="1rem">
                <mat-form-field>
                    <input matInput type="text" formControlName="bgBeneficiaryName" placeholder="Beneficiary Name" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" formControlName="bgProductTypeText" placeholder="BG Type" />
                </mat-form-field>
                <button
                    class="filter-menu-item"
                    [disabled]="!(searchBGForm.value.bgBeneficiaryName || searchBGForm.value.bgProductTypeText)"
                    class="mat-raised-button mat-primary"
                    (click)="searchBG()"
                    mat-button
                    color="primary"
                >
                    <span>Search</span>
                </button>
            </div>
        </form>
    </div>
</mat-menu>
