<app-outlet-container>
    <div fxLayout="column" fxFlex="100" >
        <div fxLayout="row" fxLayoutAlign="space-between" class="heading-title">
            <div class="title">
                Add Categories
            </div>
            <button mat-icon-button (click)="addCategory()">
                <i class="las la-plus"></i>
            </button>
        </div>
    
             <!-- <app-sgs-table
                    [config]="tableConfig"
                    (_lazyLoad)="lazyLoad($event)"
                    (_clickCell)="onClickCell($event)"
                ></app-sgs-table> -->
 
        <app-master-container *ngFor="let category of sortedData;let i=index;">
            <ng-container header>{{category.category_name}}</ng-container>
            <ng-container body>               
                <div fxLayout="column" fxLayoutGap="1rem">
                    <img class="image-preview" [src]="category.url" /> 
                    <div fxLayout="row" fxLayoutAlign="space-between" class="card-bottom-icons">
                        <button mat-icon-button (click)="deleteData(category)">
                            <i class="las la-trash"></i>
                        </button>
                        <button mat-icon-button (click)="editData(category)">
                            <i class="las la-edit"></i>
                        </button>
                    </div>
                </div>
            </ng-container>
        </app-master-container>   
    </div>
</app-outlet-container>
