@import 'variables';
.cards-list {
    width: 100%;
    .card-details {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        .status {
            font-weight: 600;
            text-align: end;
            font-size: 0.75rem;
            color: $qib-text-color;
            text-transform: uppercase;
            text-align: right;
            .card-image {
                width: 3.5rem;
            }
        }
        .name {
            font-size: 0.875rem;
            color: $qib-primary-color;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 0.5rem;
            .card-number {
                font-size: 0.75rem;
                color: $qib-text-color;
            }
        }
    }
}

.bg-white {
    background: #fff;
}

.padding-1rem {
    padding: 1rem;
}

.bulkPayment {
    position: absolute;
    bottom: 0;
    background: #fff;
    height: 50px;
    width: -webkit-fill-available;
    padding-left: 18rem;
}

.master-container {
    .header {
        .title {
            width: auto !important;
        }
    }
}

.card-status {
    background: $qib-primary-color;
    padding: 0.125rem 0.5rem;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 0.5rem;
}

.new {
    background: #00a1de;
}

.active {
    background: #3fcc65;
}

.payment_overdue {
    background: #f4ae02;
}

.blocked {
    background: #ff0000;
}
