.corporate-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.5rem;
}

.mandate-data {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1.6rem;
}

.updates {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    .items {
        flex-grow: 1;
        width: 20rem;
    }
}
