<app-master-container>
    <ng-container header *ngIf="!showEdit">CORPORATE DETAILS</ng-container>
    <ng-container header *ngIf="showEdit">EDIT CORPORATE DETAILS</ng-container>
    <ng-container icons>
        <div fxLayout="row" fxLayoutGap="0.5rem">
            <button mat-icon-button (click)="closeCorporateDetails()">
                <i class="las la-times"></i>
            </button>
            <button mat-icon-button *ngIf="!showEdit" (click)="showEdit = true">
                <i class="las la-edit"></i>
            </button>
        </div>
    </ng-container>
    <ng-container body>
        <div fxLayout="column" fxLayoutGap="1rem">
            <div class="corporate-items">
                <app-label-value
                    *ngIf="corporateDetails.firstnameeng"
                    [label]="'Corporate First Name'"
                    [value]="corporateDetails.firstnameeng"
                ></app-label-value>

                <app-label-value
                    *ngIf="corporateDetails.middlenameeng"
                    [label]="'Middle Name'"
                    [value]="corporateDetails.middlenameeng"
                >
                </app-label-value>

                <app-label-value
                    *ngIf="corporateDetails.fullnamearabic"
                    [label]="'Arabic Name'"
                    [value]="corporateDetails.fullnamearabic"
                ></app-label-value>

                <app-label-value
                    *ngIf="corporateDetails.uniqueUserId"
                    [label]="'RIM Number'"
                    [value]="corporateDetails.uniqueUserId"
                ></app-label-value>

                <app-label-value
                    *ngIf="corporateDetails.businessemailid"
                    [label]="'E-mail ID'"
                    [value]="corporateDetails.businessemailid?.split(' ').join(',')"
                ></app-label-value>

                <app-label-value
                    *ngIf="corporateDetails.mobilephone"
                    [label]="'Mobile Phone'"
                    [value]="corporateDetails.mobilephone"
                ></app-label-value>

                <app-label-value *ngIf="corporateDetails.dob" [label]="'DOB'" [value]="corporateDetails.dob">
                </app-label-value>

                <app-label-value
                    *ngIf="corporateDetails.business.businessName"
                    [label]="'Group Name'"
                    [value]="corporateDetails.business.businessName"
                ></app-label-value>

                <app-label-value
                    *ngIf="
                        corporateDetails.customeraddress1 ||
                        corporateDetails.customeraddress2 ||
                        corporateDetails.customeraddress3 ||
                        corporateDetails.city ||
                        corporateDetails.country
                    "
                    [label]="'Address'"
                    [value]="
                        corporateDetails.customeraddress1 +
                        ', ' +
                        (corporateDetails.customeraddress2 ? corporateDetails.customeraddress2 + ', ' : '') +
                        (corporateDetails.customeraddress3 ? corporateDetails.customeraddress3 + ', ' : '') +
                        corporateDetails.city +
                        ', ' +
                        corporateDetails.country
                    "
                >
                </app-label-value>

                <app-label-value
                    *ngIf="!showEdit && customMandate.authorization"
                    [label]="'Authorization Type'"
                    [value]="customMandate.authorization"
                ></app-label-value>

                <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="3.5rem">
                    <div *ngIf="customMandate.documents !== undefined">
                        <ng-container *ngIf="customMandate.documents.length > 0">
                            <app-label-value [label]="'Mandate Form(s)'"></app-label-value>
                            <div *ngFor="let doc of customMandate.documents" (click)="downloadDoc(doc)">
                                <app-label-value [value]="doc.customerFileName" [type]="'link'"> </app-label-value>
                            </div>
                        </ng-container>
                    </div>

                    <div *ngIf="showEdit">
                        <app-file-upload
                            [label]="'Choose Mandate File'"
                            [maxSize]="5"
                            [accept]="'.pdf'"
                            (_onUpload)="onFileSelected($event)"
                        ></app-file-upload>
                    </div>

                    <ng-container *ngIf="showEdit">
                        <form [formGroup]="corporateUpdateForm">
                            <mat-form-field>
                                <mat-label>Corporate Authorization</mat-label>
                                <mat-select formControlName="authorization">
                                    <mat-option [value]="data.value" *ngFor="let data of corporateAuthorization">
                                        {{ data.label }}</mat-option
                                    >
                                </mat-select>
                            </mat-form-field>
                        </form>
                    </ng-container>
                </div>
            </div>

            <div
                fxLayout="column"
                *ngIf="customMandate.actionLog !== undefined && customMandate.actionLog.length !== 0"
            >
                <div class="header-info">Audit Trail</div>
                <div class="updates">
                    <ng-container *ngFor="let auditTrail of customMandate.actionLog; let i = index">
                        <app-cib-card class="items">
                            <app-label-value
                                [label]="auditTrail.action === 'CREATE' ? 'Created by & Date' : 'Updated By & Date'"
                                [value]="
                                    auditTrail.user.firstNameEng +
                                    ' ' +
                                    auditTrail.user.lastNameEng +
                                    ' - ' +
                                    (auditTrail.datetime | date: 'medium')
                                "
                            >
                            </app-label-value>
                        </app-cib-card>
                    </ng-container>
                </div>
            </div>

            <div *ngIf="showEdit">
                <button
                    class="mat-raised-button mat-primary"
                    type="submit"
                    mat-button
                    color="primary"
                    [disabled]="disableSubmit()"
                    (click)="submitCorporateDetails()"
                >
                    SUBMIT
                </button>
            </div>
        </div>
    </ng-container>
</app-master-container>
