<div fxLayout="row" fxLayoutGap="0.7rem" fxLayout.lt-md="column">
    <div fxFlex="50">
        <app-master-container>
            <ng-container header>REGISTERED CUSTOMER NUMBERS</ng-container>
            <ng-container icons>
                <button mat-icon-button (click)="onAdd()" *appHasEntitlementAccessTo="'PAYMENT_ADD_KAHRAMAA_NUMBER'">
                    <i class="las la-plus"></i>
                </button>
            </ng-container>
            <ng-container body>
                <app-cib-table
                    [config]="tableConfig"
                    (_clickCell)="onClickCell($event)"
                    (_lazyLoad)="lazyLoad($event)"
                ></app-cib-table>
            </ng-container>
        </app-master-container>
    </div>

    <div fxFlex="50">
        <div *ngIf="showCustomerForm">
            <app-master-container>
                <ng-container header>{{ formHeaderName }}</ng-container>
                <ng-container body>
                    <div fxFlex="100">
                        <form
                            *ngIf="addCustomerForm"
                            [formGroup]="customerForm"
                            fxLayout="column"
                            autocomplete="off"
                            novalidate="novalidate"
                        >
                            <div fxLayout="row" fxLayoutGap="1rem">
                                <mat-form-field fxFlex="40">
                                    <mat-label>Electricity Number</mat-label>
                                    <input
                                        type="number"
                                        min="0"
                                        aria-label="Amount"
                                        matInput
                                        formControlName="electricityNo"
                                    />
                                </mat-form-field>

                                <mat-form-field fxFlex="40">
                                    <mat-label>Name</mat-label>
                                    <input type="text" aria-label="Amount" matInput formControlName="name" />
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxFlex="100" fxLayoutGap="1rem">
                                <mat-form-field fxFlex="40">
                                    <mat-label>Qatar ID/Estd ID</mat-label>
                                    <input
                                        type="text"
                                        aria-label="qatarId"
                                        matInput
                                        [maxLength]="11"
                                        formControlName="qatarId"
                                        [disabled]="false"
                                    />
                                </mat-form-field>

                                <mat-form-field fxFlex="40">
                                    <mat-label>Customer Number</mat-label>
                                    <input type="text" aria-label="customerNo" matInput formControlName="customerNo" />
                                </mat-form-field>
                            </div>
                            <div fxLayout="row">
                                <button
                                    mat-button
                                    class="mat-raised-button mat-primary"
                                    aria-label="Submit"
                                    [disabled]="!customerForm.valid"
                                    (click)="onAddNewCustomer('VERIFY')"
                                >
                                    ADD NUMBER
                                </button>
                            </div>
                        </form>

                        <form
                            *ngIf="editCustomer"
                            [formGroup]="editCustomerForm"
                            fxLayout="column"
                            autocomplete="off"
                            novalidate="novalidate"
                        >
                            <div fxLayout="row" fxLayoutGap="1rem">
                                <mat-form-field fxFlex="40">
                                    <mat-label>Electricity Number</mat-label>
                                    <input
                                        type="number"
                                        min="0"
                                        aria-label="Amount"
                                        matInput
                                        formControlName="electricityNo"
                                    />
                                </mat-form-field>

                                <mat-form-field fxFlex="40">
                                    <mat-label>Name</mat-label>
                                    <input
                                        type="text"
                                        aria-label="name"
                                        matInput
                                        formControlName="name"
                                        [disabled]="true"
                                    />
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxFlex="100" fxLayoutGap="1rem">
                                <mat-form-field fxFlex="40">
                                    <mat-label>Qatar ID/Estd ID</mat-label>
                                    <input
                                        [disabled]="true"
                                        type="text"
                                        [maxLength]="11"
                                        aria-label="Amount"
                                        matInput
                                        formControlName="qatarId"
                                    />
                                </mat-form-field>

                                <mat-form-field fxFlex="40">
                                    <mat-label>Customer Number</mat-label>
                                    <input type="text" aria-label="Amount" matInput formControlName="customerNo" />
                                </mat-form-field>
                            </div>
                            <div fxLayout="row">
                                <button
                                    mat-button
                                    class="mat-raised-button mat-primary"
                                    aria-label="Submit"
                                    [disabled]="
                                        !(
                                            editCustomerForm.controls['electricityNo'].value ||
                                            editCustomerForm.controls['customerNo'].value
                                        )
                                    "
                                    (click)="onEditCustomer('VERIFY')"
                                >
                                    UPDATE NUMBER
                                </button>
                            </div>
                        </form>
                    </div>
                </ng-container>
            </app-master-container>
        </div>

        <div *ngIf="isViewBill">
            <app-kahramaa-view-bill
                [kahramaaBillDetails]="kahramaaBills"
                [data]="selectedViewBill"
            ></app-kahramaa-view-bill>
        </div>

        <div #successBody *ngIf="showConfirmation">
            <app-cib-notification [headerTitle]="'BENEFICIARY STATUS'" [title]="successMsg" [variant]="'success'">
                <ng-container body>
                    <div
                        flexLayout="row"
                        fxLayout.lt-sm="column"
                        fxLayoutGap="1rem"
                        fxLayoutAlign="space-between"
                        fxLayout="row wrap"
                    >
                        <app-label-value [label]="'Electricity Number'" [value]="successData?.accountNo">
                        </app-label-value>

                        <app-label-value [label]="'Qatar ID/Estd ID'" [value]="successData?.qatarId"> </app-label-value>

                        <app-label-value [label]="'Name'" [value]="successData?.nickName"> </app-label-value>
                        <app-label-value
                            *ngIf="successData?.kahramaaCustomerNumber"
                            [label]="'Customer Number'"
                            [value]="successData?.kahramaaCustomerNumber"
                        >
                        </app-label-value>
                    </div>
                    <mat-card-actions>
                        <button mat-button class="mat-raised-button mat-primary" (click)="resetView()">OK</button>
                    </mat-card-actions>
                </ng-container>
            </app-cib-notification>
        </div>
    </div>
</div>
