<div class="menu-bar">
    <ng-container *ngFor="let menuItem of menu">
        <div
            class="menu-item"
            [class.disbleMenuItem]="menuItem?.disable || false"
            matRipple
            [routerLink]="[menuItem.path]"
            routerLinkActive="menu-item-active"
            *appHasEntitlementAccessTo="menuItem.uuid"
        >
            <span *ngIf="menuItem?.icon" class="menu-icon"><i [ngClass]="menuItem.icon"></i></span>
            <span *ngIf="menuItem?.name">{{ menuItem.name }}</span>
        </div>
    </ng-container>
</div>
