<div
    fxLayout="row"
    fxLayoutGap="1.7rem"
    fxLayout.lt-md="column"
    *appHasEntitlementAccessTo="'PAYMENT_VIEW_OOREDOO_BILL'"
>
    <div fxFlex="40">
        <app-master-container>
            <ng-container header>PAY BY SERVICE NUMBER</ng-container>
            <ng-container icons> </ng-container>
            <ng-container body>
                <div class="search">
                    <div class="controls">
                        <mat-form-field>
                            <mat-label>Enter Service Number</mat-label>
                            <input type="number" min="0" aria-label="serviceNumber" matInput [(ngModel)]="inputValue" />
                        </mat-form-field>
                        <button
                            mat-button
                            class="mat-raised-button mat-primary"
                            [disabled]="!enableViewBillBtn()"
                            (click)="onViewBillClick()"
                            aria-label="Submit"
                        >
                            VIEW BILL
                        </button>
                    </div>
                </div>
            </ng-container>
        </app-master-container>
    </div>
    <div fxFlex="60" *ngIf="showOoredooBillByServiceNumber">
        <app-master-container>
            <ng-container header>BILL DETAILS</ng-container>
            <ng-container icons> </ng-container>
            <ng-container body>
                <div fxFlex="100">
                    <form [formGroup]="viewBillForm" fxLayout="column" autocomplete="off" novalidate="novalidate">
                        <div fxLayout="row" fxLayoutGap="2rem">
                            <app-label-value [label]="'Service Number'" [value]="billData.inputValue"></app-label-value>
                            <app-label-value [label]="'Due Date'" [value]="billData.dueDate"></app-label-value>
                            <app-label-value
                                [label]="'Account Number'"
                                [value]="billData.accountNumber"
                            ></app-label-value>
                        </div>
                        <div fxLayout="row" fxLayoutGap="2rem">
                            <app-label-value
                                [label]="'Outstanding Amount'"
                                [value]="billData.currency + ' ' + (billData.outstandingAmount | number: '1.2-4')"
                            ></app-label-value>

                            <app-label-value
                                [label]="'Unbilled Amount'"
                                [value]="billData.currency + ' ' + (billData.unbilledAmount | number: '1.2-4')"
                            ></app-label-value>
                        </div>
                        <ng-container *appHasEntitlementAccessTo="'PAYMENT_PAY_OOREDOO_BILL'">
                            <div fxLayout="row" fxFlex="40">
                                <mat-form-field>
                                    <mat-label>Enter Amount</mat-label>
                                    <input
                                        type="number"
                                        min="0"
                                        aria-label="Amount"
                                        matInput
                                        formControlName="amount"
                                        [disabled]="false"
                                    />
                                </mat-form-field>
                            </div>
                            <app-from-account
                                [parentForm]="viewBillForm"
                                [fromAccounts]="accountList"
                                (selectAccount)="onSelectAccount($event)"
                            ></app-from-account>
                            <div fxLayout="row">
                                <button
                                    mat-button
                                    class="mat-raised-button mat-primary"
                                    [disabled]="viewBillForm.invalid"
                                    (click)="onPayOoredooBillClick('VERIFY')"
                                    aria-label="Submit"
                                >
                                    PAY NOW
                                </button>
                            </div>
                        </ng-container>
                    </form>
                </div>
            </ng-container>
        </app-master-container>
    </div>

    <div #successBody *ngIf="showConfirmation" fxFlex="60">
        <app-cib-notification
            [headerTitle]="'PAYMENT STATUS'"
            [title]="confirmationTitle"
            [subtitle]="confirmationSubtitle"
            [variant]="'success'"
        >
            <ng-container body>
                <div flexLayout="row" fxLayout.lt-sm="column">
                    <div fxFlex="33">
                        <app-label-value [label]="'Debit Account'" [value]="successData?.debitAccountId">
                        </app-label-value>
                    </div>
                    <div fxFlex="33">
                        <app-label-value [label]="'Currency'" [value]="successData?.currency"></app-label-value>
                    </div>
                    <div fxFlex="33">
                        <app-label-value [label]="'Amount'" [value]="successData?.amount"></app-label-value>
                    </div>
                </div>
                <mat-card-actions>
                    <button mat-button class="mat-raised-button mat-primary" (click)="resetView()">OK</button>
                </mat-card-actions>
            </ng-container>
        </app-cib-notification>
    </div>
</div>
