<div fxFlex fxLayout="column" class="cib-drawer">
    <div class="body">
        <div class="form-value-summary">
            <app-label-value [label]="'File'" [value]="fields?.fileName"></app-label-value>

            <app-label-value
                [label]="'Total Amount'"
                [value]="'QAR' + ' ' + (fields?.amount | number: '1.2-4')"
            ></app-label-value>
        </div>

        <div class="divider"></div>

        <div *ngIf="data.isOtpNeeded">
            <app-cib-otp (otpValueEvent)="otp = $event" class="otp-comp" [showMore]="true"></app-cib-otp>
        </div>

        <div class="divider"></div>
        <div fxLayout="row" fxLayoutGap="1rem">
            <button mat-button class="mat-raised-button" (click)="onCancel()">Cancel</button>
            <button mat-button class="mat-raised-button mat-primary" [disabled]="otp.length < 6" (click)="onConfirm()">
                Confirm
            </button>
        </div>
    </div>
</div>
