<app-master-container>
    <ng-container header>{{ bgPageTitleHeading }}</ng-container>
    <ng-container icons>
        <button mat-icon-button *ngIf="bgApplicationId !== '' || showCloseIcon" (click)="resetForm()">
            <i class="las la-times"></i>
        </button>
    </ng-container>
    <ng-container body>
        <div fxLayout="column" fxFlex="100" fxLayoutGap="1rem">
            <ng-container *ngIf="mode === SCREEN_MODE.CREATE_BG">
                <form [formGroup]="bgForm" *ngIf="bgForm" autocomplete="off">
                    <div class="container">
                        <div class="row">
                            <mat-form-field>
                                <mat-label>Product Type</mat-label>
                                <mat-select formControlName="bgProductType">
                                    <mat-option *ngFor="let product of productsType" [value]="product.code">
                                        {{ product.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Currency</mat-label>
                                <mat-select formControlName="bgCurrency" (selectionChange)="getCurrency($event.value)">
                                    <mat-option *ngFor="let currency of currenciesList" [value]="currency.id">
                                        {{ currency.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Principal Amount</mat-label>
                                <input
                                    type="number"
                                    min="0"
                                    maxlength="13"
                                    formControlName="bgPrincipalAmount"
                                    aria-label="Principal Amount"
                                    matInput
                                />
                                <mat-error *ngIf="bgForm.controls['bgPrincipalAmount']?.errors">
                                    Please enter valid Amount
                                </mat-error>
                            </mat-form-field>

                            <div>
                                <app-cib-date-picker
                                    [parentForm]="bgForm"
                                    [fomrControlName]="'bgDealDate'"
                                    [placeholder]="'Guarantee Commencing Date (if any)'"
                                    (selectDate)="selectCommencingData($event)"
                                >
                                </app-cib-date-picker>
                            </div>

                            <div>
                                <app-cib-date-picker
                                    [parentForm]="bgForm"
                                    [fomrControlName]="'bgExpiryDate'"
                                    [minDate]="bgExpiryminDate"
                                    [placeholder]="'Expiry Date'"
                                    (selectDate)="selectCommencingData($event)"
                                >
                                </app-cib-date-picker>
                            </div>

                            <mat-form-field>
                                <mat-label>Amount In Words</mat-label>
                                <input
                                    type="text"
                                    maxlength="200"
                                    formControlName="principalAmountInWords"
                                    aria-label="Principal Amount in Words"
                                    matInput
                                />
                                <mat-error *ngIf="bgForm.controls['principalAmountInWords']?.errors">
                                    Please enter Amount in Words
                                </mat-error>
                                <mat-hint class="length-allowed">0/200</mat-hint>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Beneficiary Name</mat-label>
                                <input
                                    type="text"
                                    maxlength="140"
                                    formControlName="bgBeneficiaryName"
                                    aria-label="Beneficiary Name"
                                    matInput
                                    (input)="getBeneficiaryLength($event)"
                                />
                                <mat-error *ngIf="bgForm.controls['bgBeneficiaryName']?.hasError('maxlength')">
                                    Please enter less than 140 characters
                                </mat-error>
                                <mat-error *ngIf="bgForm.controls['bgBeneficiaryName']?.hasError('pattern')">
                                    Please enter valid Beneficiary Name
                                </mat-error>
                                <mat-hint class="length-allowed">{{ beneficiaryMaxLength }}/140</mat-hint>
                            </mat-form-field>

                            <div fxLayout="column">
                                <div class="label-checkbox">
                                    Guarantee to be Issued in<span class="accept-terms"> *</span>
                                </div>
                                <mat-button-toggle-group
                                    aria-label="Select an option"
                                    formControlName="bgGuaranteeIssuedIn"
                                >
                                    <mat-button-toggle [value]="formats.value" *ngFor="let formats of bankFormats">
                                        {{ formats.label }}</mat-button-toggle
                                    >
                                </mat-button-toggle-group>
                            </div>

                            <div fxLayout="column">
                                <div class="label-checkbox">
                                    Guarantee to be issued against <span class="accept-terms"> *</span>
                                </div>
                                <mat-button-toggle-group
                                    aria-label="Select an option"
                                    formControlName="bgGuaranteeIssuedAgainst"
                                >
                                    <mat-button-toggle [value]="margins.value" *ngFor="let margins of bankMargins">
                                        {{ margins.name }}</mat-button-toggle
                                    >
                                </mat-button-toggle-group>
                            </div>

                            <mat-form-field>
                                <mat-label>Guarantee in connection with</mat-label>
                                <input
                                    type="text"
                                    maxlength="140"
                                    formControlName="bgGuaranteeInConnectionWith"
                                    aria-label="Guarantee in connection with"
                                    matInput
                                />
                                <mat-hint class="length-allowed">0/140</mat-hint>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>User Comments for Approver/Bank user</mat-label>
                                <input
                                    type="text"
                                    maxlength="200"
                                    formControlName="bgComments"
                                    aria-label="User Comments for Approver/Bank user"
                                    matInput
                                />
                                <mat-hint class="length-allowed">0/200</mat-hint>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Guarantee to be issued on behalf of</mat-label>
                                <input
                                    type="text"
                                    maxlength="140"
                                    formControlName="guaranteeInFavourOf"
                                    aria-label="Guarantee In Favour of"
                                    matInput
                                />
                                <mat-hint class="length-allowed">0/140</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <div fxFlex="40">
                                <app-file-upload
                                    #fileUpload
                                    [label]="'Document Upload'"
                                    [maxSize]="5"
                                    [isMultiple]="true"
                                    [accept]="'.png,.jpeg,.jpg,.pdf'"
                                    (_onUpload)="onFileSelected($event, fileUpload)"
                                >
                                </app-file-upload>
                            </div>

                            <div class="file-details" fxFlex="50">
                                <div *ngIf="selectedFiles.length !== 0">SELECTED DOCUMENT</div>
                                <ng-container>
                                    <div class="no-file" *ngIf="selectedFiles.length === 0">No File Selected</div>
                                </ng-container>
                                <ng-container *ngFor="let file of selectedFiles; let i = index">
                                    <div class="items">
                                        <div class="file-name">
                                            <i class="las la-check-circle"></i>
                                            <div class="label">{{ file.name }}</div>
                                        </div>
                                        <div>
                                            <button
                                                mat-icon-button
                                                aria-label="clear"
                                                color="primary"
                                                (click)="deleteSelectedFile(i)"
                                            >
                                                <i class="las la-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>

                            <ng-container *ngIf="uploadedDocuments.length !== 0 && bgStatus === 'bgEdit'">
                                <div class="file-details" fxFlex="50">
                                    <div *ngIf="uploadedDocuments.length !== 0">UPLOADED DOCUMENT</div>
                                    <ng-container *ngFor="let file of uploadedDocuments; let i = index">
                                        <div class="items">
                                            <div class="file-name">
                                                <i class="las la-check-circle"></i>
                                                <div class="label">{{ file.customerFileName }}</div>
                                            </div>
                                            <div>
                                                <button
                                                    *appHasEntitlementAccessTo="'TRADE_FINANCE_DOCUMENT_DELETE'"
                                                    mat-icon-button
                                                    aria-label="clear"
                                                    color="primary"
                                                    (click)="deleteuploadedDocuments(file, i)"
                                                >
                                                    <i class="las la-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>

                        <div fxLayout="column" fxLayoutGap="0.5rem">
                            <div fxLayout="row" class="mt-1rem">
                                <mat-checkbox
                                    aria-label="Terms and Conditions"
                                    formControlName="selected"
                                    (change)="isCheckBoxSelected($event)"
                                >
                                    <span>
                                        I agree to the
                                        <a [href]="sampleurl" [download]="downloadFileName"
                                            >Terms and Conditions</a
                                        ></span
                                    >
                                </mat-checkbox>
                            </div>

                            <div *ngIf="!ischeckBoxBGSelected" class="accept-terms">
                                You must accept the terms of service before you can proceed.
                            </div>

                            <!--  added 1.25% FX fee for LC and LG   -->
                            <app-cib-fx-disclaimer
                                [fxThresholdTF]="bgCurrencyCode === 'USD' ? true : false"
                                (checkboxValueEvent)="checkboxValue($event)"
                            ></app-cib-fx-disclaimer>

                            <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="center" class="mt-1rem">
                                <button
                                    *appHasEntitlementAccessTo="'BANK_GUARANTEE_CREATE'"
                                    class="mat-raised-button mat-primary"
                                    type="submit"
                                    mat-button
                                    color="primary"
                                    (click)="bankGuarantee('SAVE')"
                                >
                                    SAVE
                                </button>
                                <button
                                    *appHasEntitlementAccessTo="'BANK_GUARANTEE_SUBMIT'"
                                    class="mat-raised-button mat-primary"
                                    type="submit"
                                    mat-button
                                    color="primary"
                                    [disabled]="bgForm.invalid || !ischeckBoxBGSelected || !ischeckBoxBGAddSelected"
                                    (click)="bankGuarantee('SUBMIT')"
                                >
                                    SUBMIT
                                </button>
                                <button
                                    *appHasEntitlementAccessTo="'BANK_GUARANTEE_PREVIEW'"
                                    [disabled]="bgForm.invalid || !ischeckBoxBGSelected || !ischeckBoxBGAddSelected"
                                    class="mat-raised-button mat-primary"
                                    type="submit"
                                    mat-button
                                    color="primary"
                                    (click)="bankGuarantee('PREVIEW')"
                                >
                                    PREVIEW
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-container>
            <mat-tab-group class="form-tabs">
                <mat-tab label="AMEND BG" *ngIf="mode === SCREEN_MODE.AMEND_BG">
                    <ng-template matTabContent>
                        <form [formGroup]="amendmendForm" autocomplete="off">
                            <div class="container">
                                <div class="row">
                                    <div fxLayout="column">
                                        <app-label-value [label]="'Amend Guarantee Amount'"></app-label-value>
                                        <mat-button-toggle-group
                                            aria-label="Select an option"
                                            formControlName="typeOfPrincipalAmt"
                                            (change)="togglePrincipalAmtChange($event)"
                                        >
                                            <mat-button-toggle
                                                [value]="amount.value"
                                                *ngFor="let amount of amendGuaranteeAmount"
                                            >
                                                {{ amount.name }}
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                    </div>

                                    <mat-form-field>
                                        <mat-label *ngIf="increaseGuaranteeAmount"
                                            >Increase Guarantee Amount by
                                        </mat-label>
                                        <mat-label *ngIf="!increaseGuaranteeAmount"
                                            >Decrease Guarantee Amount by
                                        </mat-label>
                                        <input type="text" maxlength="13" formControlName="bgNewAmount" matInput />
                                    </mat-form-field>

                                    <div>
                                        <app-cib-date-picker
                                            [parentForm]="amendmendForm"
                                            [fomrControlName]="'bgExpiryDate'"
                                            [placeholder]="'New Expiry Date'"
                                            [minDate]="amendNewExpiryMinDate"
                                        >
                                        </app-cib-date-picker>
                                    </div>

                                    <mat-form-field>
                                        <mat-label>Additional Amendment details</mat-label>
                                        <input
                                            type="text"
                                            maxlength="1500"
                                            formControlName="guaranteeDetails"
                                            matInput
                                        />
                                        <mat-hint class="length-allowed">0/1500</mat-hint>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-label>Comments to Bank</mat-label>
                                        <input
                                            type="text"
                                            maxlength="200"
                                            maxlength="200"
                                            formControlName="bgAdditionalText"
                                            matInput
                                        />
                                        <mat-hint class="length-allowed">0/200</mat-hint>
                                    </mat-form-field>

                                    <div>
                                        <app-file-upload
                                            #fileUploadAdditional
                                            [label]="'ADDITIONAL DOCUMENTS UPLOAD'"
                                            [maxSize]="5"
                                            [isMultiple]="true"
                                            [accept]="'.png,.jpeg,.jpg,.pdf'"
                                            (_onUpload)="onFileSelected($event, fileUploadAdditional)"
                                        >
                                        </app-file-upload>
                                    </div>

                                    <div class="file-details" fxFlex="45">
                                        <div *ngIf="selectedFiles.length !== 0">SELECTED DOCUMENT</div>
                                        <ng-container>
                                            <div class="no-file" *ngIf="selectedFiles.length === 0">
                                                No Additional File Selected
                                            </div>
                                        </ng-container>
                                        <ng-container *ngFor="let file of selectedFiles; let i = index">
                                            <div class="items">
                                                <div class="file-name">
                                                    <i class="las la-check-circle"></i>
                                                    <div class="label">{{ file.name }}</div>
                                                </div>
                                                <div>
                                                    <button
                                                        mat-icon-button
                                                        aria-label="clear"
                                                        color="primary"
                                                        (click)="deleteSelectedFile(i)"
                                                    >
                                                        <i class="las la-trash"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>

                                    <!-- <ng-container *ngIf="uploadedDocuments.length !== 0">
                                        <div class="file-details" fxFlex="50">
                                            <div *ngIf="uploadedDocuments.length !== 0">UPLOADED DOCUMENT</div>
                                            <ng-container *ngFor="let file of uploadedDocuments; let i = index">
                                                <div class="items">
                                                    <div class="file-name">
                                                        <i class="las la-check-circle"></i>
                                                        <div class="label">{{ file.customerFileName }}</div>
                                                    </div>
                                                    <div>
                                                        <button
                                                            *appHasEntitlementAccessTo="'TRADE_FINANCE_DOCUMENT_DELETE'"
                                                            mat-icon-button
                                                            aria-label="clear"
                                                            color="primary"
                                                            (click)="deleteuploadedDocuments(file, i)"
                                                        >
                                                            <i class="las la-trash"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </ng-container> -->

                                    <div fxLayout="column" fxFlex="100">
                                        <div fxLayout="row" fxFlex="100">
                                            <mat-checkbox
                                                aria-label="Terms and Conditions"
                                                (change)="isCheckBoxAmendSelected($event)"
                                            >
                                                <span
                                                    >I agree to the
                                                    <a [href]="sampleurl" [download]="downloadFileName"
                                                        >Terms and Conditions</a
                                                    ></span
                                                >
                                            </mat-checkbox>
                                        </div>

                                        <div *ngIf="!ischeckBoxAmendSelected" class="accept-terms">
                                            You must accept the terms of service before you can proceed.
                                        </div>
                                    </div>

                                    <!--  added 1.25% FX fee for LC and LG  *ngIf="bgCurrencyCode === 'USD'  -->
                                    <app-cib-fx-disclaimer
                                        [fxThresholdTF]="bgCurrencyCode === 'USD' ? true : false"
                                        (checkboxValueEvent)="checkboxValue($event)"
                                    ></app-cib-fx-disclaimer>

                                    <div
                                        fxLayout="row"
                                        fxFlex="100"
                                        fxLayoutGap="1rem"
                                        fxLayoutAlign="center"
                                        class="mt-1rem"
                                    >
                                        <button
                                            *appHasEntitlementAccessTo="'BANK_GUARANTEE_AMMEND'"
                                            class="mat-raised-button mat-primary"
                                            type="submit"
                                            mat-button
                                            color="primary"
                                            [disabled]="
                                                amendmendForm.invalid ||
                                                !ischeckBoxAmendSelected ||
                                                !ischeckBoxBGAddSelected
                                            "
                                            (click)="amendBankGuarantee('SUBMIT')"
                                        >
                                            SUBMIT
                                        </button>
                                        <button
                                            *appHasEntitlementAccessTo="'BANK_GUARANTEE_AMENDMENT_PREVIEW'"
                                            [disabled]="
                                                amendmendForm.invalid ||
                                                !ischeckBoxAmendSelected ||
                                                !ischeckBoxBGAddSelected
                                            "
                                            class="mat-raised-button mat-primary"
                                            type="submit"
                                            mat-button
                                            color="primary"
                                            (click)="amendBankGuarantee('PREVIEW')"
                                        >
                                            PREVIEW
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </mat-tab>
                <mat-tab label="BG DETAILS" *ngIf="mode === SCREEN_MODE.AMEND_BG">
                    <ng-template matTabContent>
                        <app-bg-details [selectedBGDetails]="selectedBG"></app-bg-details>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </ng-container>
</app-master-container>
