@import 'colors';

.container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;

    .row {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 2rem;

        .mat-form-field,
        .input-control {
            min-width: 14rem;
        }
    }
}

.comment-input {
    min-width: 15.5rem;
}

.field-desc {
    font-size: 0.625rem;
    color: $qib-background-blue;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.file-details {
    display: flex;
    flex-direction: column;
    background-color: $qib-divider-color;
    border: solid $qib-divider-color 0.1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;

    .la-check-circle {
        font-size: 1rem;
        color: $qib-green;
    }

    .items {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 0.5rem;

        .file-name {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 0.2rem;
        }
    }
}

.length-allowed {
    text-align: right;
    width: 100%;
}

.no-file {
    line-height: 3rem;
    text-align: center;
}

.accept-terms {
    color: $qib-red;
}

.label-checkbox {
    font-size: 0.8125em;
    color: $qib-text-color;
}
