:host {
    width: 100%;
    .selection {
        padding: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #f6f6f6;
        border-radius: 0.5rem;
        margin: 0 0 0.5rem 0;
        .description {
            display: flex;
            align-items: center;
        }
        .action-icon {
            width: 1.3rem;
            height: 1.3rem;
        }
    }
}
