<ng-container *ngFor="let transaction of transactions; let i = index">
    <app-master-container [variant]="'secondary'" [opened]="i === 0" [collapsable]="true">
        <ng-container header>
            <div>REFERENCE NO. : {{ parentData.transferGroupId }}</div>
        </ng-container>
        <ng-container body>
            <div fxFlex="column">
                <ng-container *ngIf="parentData">
                    <ng-container *ngIf="parentData.fromAccount">
                        <app-label-value [label]="'From Account'" [value]="parentData.fromAccount"> </app-label-value>
                    </ng-container>

                    <ng-container *ngIf="parentData.fromAccountCurr">
                        <app-label-value [label]="'From Account Currency'" [value]="parentData.fromAccountCurr">
                        </app-label-value>
                    </ng-container>

                    <ng-container *ngIf="parentData.toAccount">
                        <app-label-value [label]="'To Account'" [value]="parentData.toAccount"> </app-label-value>
                    </ng-container>

                    <ng-container *ngIf="parentData?.fullData?.iban">
                        <app-label-value [label]="'IBAN Number Account Number'" [value]="parentData?.fullData?.iban">
                        </app-label-value>
                    </ng-container>

                    <ng-container *ngIf="parentData?.fullData?.nickName">
                        <app-label-value [label]="'Beneficiary Name'" [value]="parentData?.fullData?.nickName">
                        </app-label-value>
                    </ng-container>

                    <ng-container *ngIf="parentData?.fullData?.amount">
                        <app-label-value
                            [label]="'Amount'"
                            [value]="parentData?.fullData?.currency + ' ' + parentData?.amount"
                        >
                        </app-label-value>
                    </ng-container>

                    <ng-container *ngIf="parentData?.fullData?.amountInWords">
                        <app-label-value [label]="'Amount in words'" [value]="parentData?.fullData?.amountInWords">
                        </app-label-value>
                    </ng-container>

                    <ng-container *ngIf="parentData?.fullData?.chargeType">
                        <app-label-value [label]="'Charge Type'" [value]="parentData?.fullData?.chargeType">
                        </app-label-value>
                    </ng-container>

                    <ng-container *ngIf="parentData?.fullData?.bankName">
                        <app-label-value [label]="'Bank Name'" [value]="parentData?.fullData?.bankName">
                        </app-label-value>
                    </ng-container>

                    <ng-container *ngIf="parentData?.fullData?.bankCity">
                        <app-label-value [label]="'Bank City'" [value]="parentData?.fullData?.bankCity">
                        </app-label-value>
                    </ng-container>

                    <ng-container *ngIf="parentData?.fullData?.bankCountry">
                        <app-label-value [label]="'Bank Country'" [value]="parentData?.fullData?.bankCountry">
                        </app-label-value>
                    </ng-container>

                    <ng-container *ngIf="parentData?.fullData?.swiftCode">
                        <app-label-value [label]="'Swift/BIC Code'" [value]="parentData?.fullData?.swiftCode">
                        </app-label-value>
                    </ng-container>

                    <ng-container *ngIf="parentData?.fullData?.street">
                        <app-label-value [label]="'Street Number / Name'" [value]="parentData?.fullData?.street">
                        </app-label-value>
                    </ng-container>

                    <ng-container *ngIf="parentData?.fullData?.beneficiaryCity">
                        <app-label-value [label]="'Beneficiary City'" [value]="parentData?.fullData?.beneficiaryCity">
                        </app-label-value>
                    </ng-container>

                    <ng-container *ngIf="parentData?.fullData?.beneficiaryCountry">
                        <app-label-value
                            [label]="'Beneficiary Country'"
                            [value]="parentData?.fullData?.beneficiaryCountry"
                        >
                        </app-label-value>
                    </ng-container>

                    <ng-container *ngIf="parentData?.fullData?.relationshipWithBeneficiary">
                        <app-label-value
                            [label]="'Relationship With Beneficiary'"
                            [value]="parentData?.fullData?.relationshipWithBeneficiary"
                        >
                        </app-label-value>
                    </ng-container>

                    <ng-container *ngIf="parentData?.fullData?.sourceOfIncome">
                        <app-label-value [label]="'Source Of Income'" [value]="parentData?.fullData?.sourceOfIncome">
                        </app-label-value>
                    </ng-container>

                    <ng-container *ngIf="parentData?.fullData?.purposeOfPayment">
                        <app-label-value [label]="'Purpose'" [value]="parentData?.fullData?.purposeOfPayment">
                        </app-label-value>
                    </ng-container>

                    <ng-container *ngIf="parentData?.fullData?.detailsOfPayment">
                        <app-label-value [label]="'Payment details'" [value]="parentData?.fullData?.detailsOfPayment">
                        </app-label-value>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>
    </app-master-container>
    <div fxLayout="row" fxLayoutGap="2rem">
        <mat-form-field *ngIf="data.type === 'reject'">
            <mat-label>Reason:</mat-label>
            <input matInput [(ngModel)]="comments" placeholder="Reason to reject..." />
        </mat-form-field>
        <button
            mat-button
            *ngIf="data.type === 'approve'"
            type="submit"
            class="mat-raised-button mat-primary"
            (click)="onAction('Approve', comments)"
        >
            APPROVE
        </button>

        <button
            mat-button
            [disabled]="!comments"
            type="submit"
            class="mat-raised-button mat-primary"
            (click)="onAction('Reject', comments)"
            *ngIf="data.type === 'reject'"
        >
            REJECT
        </button>
    </div>
</ng-container>
