<div fxFlex="100" fxFlex.sm="100" fxLayout="column">
    <div>
        <app-master-container>
            <ng-container header>{{ pageHeader }}</ng-container>
            <ng-container icons>
                <button *ngIf="lgList.length > 0 && status === 'QUEUE'" mat-icon-button (click)="generateExcel()">
                    <i class="las la-file-excel"></i>
                </button>
                <button mat-icon-button (click)="inquiryList()">
                    <i class="las la-sync"></i>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                    <i class="las la-search"></i>
                </button>
            </ng-container>
            <ng-container body>
                <app-cib-table [config]="tableConfig" (_clickCell)="onClickCell($event)" (_lazyLoad)="lazyLoad($event)">
                </app-cib-table>
            </ng-container>
        </app-master-container>
    </div>
</div>

<mat-menu #menu="matMenu" xPosition="after">
    <div class="filter-menu-item-container" (click)="$event.stopPropagation()">
        <div fxLayout="row" class="heading" fxLayoutAlign="space-between center">
            <span class="title">Filter {{ type }}'s</span>
            <button mat-icon-button color="primary" (click)="closeMatmenu()">
                <i class="las la-times"></i>
            </button>
        </div>
        <div class="divider"></div>
        <form [formGroup]="filterInquiryForm">
            <div class="filter-section">
                <mat-form-field (click)="picker.open()">
                    <input matInput [matDatepicker]="picker" formControlName="lcExpiryDate" placeholder="Expiry Date" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field *ngIf="type === 'LC'">
                    <input matInput type="number" min="0" formControlName="lcAmount" placeholder="Amount" />
                </mat-form-field>
                <mat-form-field *ngIf="type === 'BG'">
                    <input matInput type="number" min="0" formControlName="bgPrincipalAmount" placeholder="Amount" />
                </mat-form-field>
                <mat-form-field *ngIf="type === 'LC'">
                    <input matInput type="text" formControlName="lcApplicationId" placeholder="CIB Reference" />
                </mat-form-field>
                <mat-form-field *ngIf="type === 'BG'">
                    <input matInput type="text" formControlName="bgApplicationId" placeholder="CIB Reference" />
                </mat-form-field>
                <mat-form-field *ngIf="type === 'LC'">
                    <input matInput type="text" formControlName="txnRefNo" placeholder="TF Reference" />
                </mat-form-field>
                <mat-form-field *ngIf="type === 'BG'">
                    <input matInput type="text" formControlName="bankRef" placeholder="MD Reference" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" min="0" formControlName="rim" placeholder="Corprate RIM" />
                </mat-form-field>
                <mat-form-field *ngIf="type === 'LC' && status === 'HISTORY'">
                    <input matInput type="text" formControlName="lcRefNo" placeholder="LC Reference" />
                </mat-form-field>
                <mat-form-field *ngIf="type === 'BG' && status === 'HISTORY'">
                    <input matInput type="text" formControlName="bgRefNo" placeholder="BG Reference" />
                </mat-form-field>
                <div>
                    <button
                        [disabled]="diableFilterButton()"
                        class="filter-menu-item"
                        class="mat-raised-button mat-primary"
                        (click)="filterInquiry()"
                        mat-button
                        color="primary"
                    >
                        <span>Search</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</mat-menu>
