<mat-tab-group class="form-tabs">
    <mat-tab label="LC STATUS" *appHasEntitlementAccessTo="'TRADEFINANCE_IMPORT_LC_LIST'">
        <ng-template matTabContent>
            <app-lc-listing [type]="'LC'" [status]="'QUEUE'"></app-lc-listing>
        </ng-template>
    </mat-tab>
    <mat-tab label="AMENDMENT STATUS" *appHasEntitlementAccessTo="'TRADEFINANCE_LC_AMEND_LIST'">
        <ng-template matTabContent>
            <app-lc-listing [type]="'LC'" [status]="'AMEND'"></app-lc-listing>
        </ng-template>
    </mat-tab>
</mat-tab-group>
