<div fxLayout="row" fxLayoutGap="0.7rem" fxLayout.lt-md="column">
    <div fxFlex="40">
        <app-master-container>
            <ng-container header> DHAREEBA</ng-container>
            <ng-container icons *appHasEntitlementAccessTo="'PAYMENT_ADD_DHAREEBA_TIN_NUMBER'">
                <button mat-icon-button (click)="tinControlOpend = !tinControlOpend; selectedTin = null">
                    <ng-container *ngIf="!tinControlOpend; else minus">
                        <i class="las la-plus"></i>
                    </ng-container>
                    <ng-template #minus>
                        <i class="las la-minus"></i>
                    </ng-template>
                </button>
            </ng-container>
            <ng-container body>
                <div class="add-tin" *ngIf="tinControlOpend">
                    <mat-form-field>
                        <mat-label>Enter TIN Number</mat-label>
                        <input
                            matInput
                            type="number"
                            min="0"
                            maxlength="10"
                            [(ngModel)]="selectedTin"
                            placeholder="TIN Number"
                        />
                    </mat-form-field>

                    <button
                        mat-button
                        type="submit"
                        [disabled]="!selectedTin"
                        class="mat-raised-button mat-primary"
                        (click)="actOnRequest(DECISION.ADD, selectedTin, DECISION.VERIFY)"
                    >
                        Add
                    </button>
                </div>
                <ng-container body>
                    <app-cib-table
                        [config]="tableConfig"
                        (_clickCell)="onClickCell($event)"
                        (_lazyLoad)="lazyLoad($event)"
                    ></app-cib-table>
                </ng-container>
            </ng-container>
        </app-master-container>
    </div>
    <div fxFlex="60">
        <ng-container *ngIf="billList.length && selectedTin && !tinControlOpend">
            <app-dhareeba-details [selectedTin]="selectedTin" [billList]="billList"> </app-dhareeba-details>
        </ng-container>
    </div>
</div>
