<app-master-container>
    <ng-container header>CONFIGURE CUSTOM TEMPLATE</ng-container>
    <ng-container icons>
        <button
            *ngIf="searched"
            (click)="resetTemplate()"
            mat-icon-button
            #tooltip="matTooltip"
            matTooltip="CLEAR SEARCH RESULTS"
        >
            <i class="las la-sync-alt"></i>
        </button>
    </ng-container>
    <ng-container body>
        <mat-vertical-stepper class="vertical-stepper" [linear]="true" #stepper [animationDuration]="'500'">
            <mat-step class="step" *ngIf="mappings[0].form" [stepControl]="mappings[0].form" state="template">
                <ng-template matStepLabel>Custom template Mapping</ng-template>
                <div fxLayout="column" fxLayoutGap="1rem">
                    <br />

                    <div fxLayout="row wrap" fxLayoutGap="1rem">
                        <form [formGroup]="searchForm">
                            <mat-form-field>
                                <mat-label>RIM Number</mat-label>
                                <input
                                    type="text"
                                    formControlName="searchRim"
                                    autocomplete="off"
                                    autofill="off"
                                    aria-label="Group Name"
                                    matInput
                                />
                            </mat-form-field>
                            <div>
                                <button
                                    [disabled]="searchForm.invalid"
                                    class="mat-raised-button mat-primary"
                                    type="submit"
                                    mat-button
                                    color="primary"
                                    (click)="searchForCustomTemplate()"
                                >
                                    SEARCH
                                </button>
                            </div>
                        </form>
                        <!-- File Type Form -->
                        <ng-container *ngIf="searched">
                            <div fxLayout="row wrap" fxLayoutGap="2rem">
                                <form [formGroup]="dateAndDelimiterForm">
                                    <mat-form-field>
                                        <mat-label>Delimiter Type</mat-label>
                                        <mat-select formControlName="fileDelimiter">
                                            <mat-option *ngFor="let del of delimiterType; let i = index" [value]="del">
                                                {{ del.label }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Date Format</mat-label>
                                        <mat-select formControlName="paymentDateFormat">
                                            <mat-option
                                                *ngFor="let date of dateFormatType; let i = index"
                                                [value]="date"
                                            >
                                                {{ date }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </form>
                            </div>
                            <div>
                                <app-file-upload
                                    [label]="'Upload Template'"
                                    [maxSize]="5"
                                    [accept]="'.xls,.xlsx,.csv,.txt'"
                                    (_onUpload)="onFileSelected($event)"
                                >
                                </app-file-upload>
                            </div>
                        </ng-container>
                    </div>

                    <ng-container *ngIf="searched">
                        <ng-container *ngIf="customHeaderList.length === 0; else customMappingForm">
                            <div>No custom template is loaded for the mentioned RIM</div>
                        </ng-container>

                        <!-- Template Mapping Form -->
                        <ng-template #customMappingForm>
                            <ng-container *ngIf="mappings[0].form">
                                <div fxLayout="row">
                                    <form [formGroup]="mappings[0].form">
                                        <ng-container *ngFor="let control of mappings[0].controls">
                                            <mat-form-field>
                                                <input
                                                    matInput
                                                    type="text"
                                                    [formControlName]="control"
                                                    #formControl
                                                    [placeholder]="control"
                                                    [matAutocomplete]="headers"
                                                />
                                                <mat-autocomplete autoActiveFirstOption #headers="matAutocomplete">
                                                    <mat-option
                                                        *ngFor="let option of getFilteredControls(formControl.value)"
                                                        [value]="option"
                                                    >
                                                        {{ option }}
                                                    </mat-option>
                                                </mat-autocomplete>
                                                <i
                                                    matSuffix
                                                    *ngIf="validateControl(mappings[0].form, control).valid"
                                                    class="las la-check-circle status"
                                                ></i>

                                                <mat-error
                                                    class="error"
                                                    *ngIf="!validateControl(mappings[0].form, control).valid; success"
                                                >
                                                    {{ validateControl(mappings[0].form, control).message }}
                                                </mat-error>

                                                <mat-hint
                                                    #success
                                                    class="success"
                                                    [ngClass]="{
                                                        error:
                                                            validateControl(mappings[0].form, control).message ===
                                                            inValidDate
                                                    }"
                                                >
                                                    {{ validateControl(mappings[0].form, control).message }}
                                                </mat-hint>
                                            </mat-form-field>
                                        </ng-container>
                                    </form>

                                    <div fxFlex="20">
                                        <app-label-value [value]="'Template Header Names'"></app-label-value>
                                        <ng-container *ngFor="let header of customHeaderList">
                                            <app-label-value [label]="header" [isBold]="true"></app-label-value>
                                        </ng-container>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-template>
                    </ng-container>
                    <div>
                        <button mat-flat-button color="primary" [disabled]="mappings[0].form.invalid" matStepperNext>
                            Next
                        </button>
                    </div>
                </div>
            </mat-step>

            <!-- Transaction Type Form -->
            <mat-step *ngIf="mappings[1].form" [stepControl]="mappings[1].form" state="txnTypeMappingForm">
                <ng-template matStepLabel>Txn Type Mapping</ng-template>
                <div fxLayout="column" fxLayoutGap="1rem">
                    <ng-container *ngIf="mappings[1].form">
                        <form [formGroup]="mappings[1].form">
                            <ng-container *ngFor="let control of mappings[1].controls">
                                <mat-form-field>
                                    <input matInput type="text" [formControlName]="control" [placeholder]="control" />
                                    <i
                                        matSuffix
                                        *ngIf="validateOtherControl(mappings[1].form, control).valid"
                                        class="las la-check-circle status"
                                    ></i>
                                    <mat-hint #success class="success">
                                        {{ validateOtherControl(mappings[1].form, control).message }}
                                    </mat-hint>
                                </mat-form-field>
                            </ng-container>
                        </form>
                    </ng-container>
                    <div fxLayout="row" fxLayoutGap="0.6rem">
                        <button mat-flat-button matStepperPrevious>Previous</button>
                        <button mat-flat-button color="primary" matStepperNext>Next</button>
                    </div>
                </div>
            </mat-step>

            <!-- Purpose Code Domestic Form -->
            <mat-step *ngIf="mappings[2].form" [stepControl]="mappings[2].form" state="purposeCodeMappingDomesticForm">
                <ng-template matStepLabel> Purpose Code Mapping (Domestic/Internal)</ng-template>
                <div fxLayout="column" fxLayoutGap="1rem">
                    <ng-container *ngIf="mappings[2].form">
                        <form [formGroup]="mappings[2].form">
                            <ng-container *ngFor="let control of mappings[2].controls">
                                <mat-form-field>
                                    <input matInput type="text" [formControlName]="control" [placeholder]="control" />
                                    <i
                                        matSuffix
                                        *ngIf="validateOtherControl(mappings[2].form, control).valid"
                                        class="las la-check-circle status"
                                    ></i>
                                    <mat-hint #success class="success">
                                        {{ validateOtherControl(mappings[2].form, control).message }}
                                    </mat-hint>
                                </mat-form-field>
                            </ng-container>
                        </form>
                    </ng-container>
                    <div fxLayout="row" fxLayoutGap="0.6rem">
                        <button mat-flat-button matStepperPrevious>Previous</button>
                        <button mat-flat-button color="primary" matStepperNext>Next</button>
                    </div>
                </div>
            </mat-step>

            <!-- Purpose Code INTL Form -->
            <mat-step *ngIf="mappings[3].form" [stepControl]="mappings[3].form" state="purposeCodeMappingIntlForm">
                <ng-template matStepLabel> Purpose Code Mapping (International)</ng-template>
                <div fxLayout="column" fxLayoutGap="1rem">
                    <ng-container *ngIf="mappings[3].form">
                        <form [formGroup]="mappings[3].form">
                            <ng-container *ngFor="let control of mappings[3].controls">
                                <mat-form-field>
                                    <input matInput type="text" [formControlName]="control" [placeholder]="control" />
                                    <i
                                        matSuffix
                                        *ngIf="validateOtherControl(mappings[3].form, control).valid"
                                        class="las la-check-circle status"
                                    ></i>
                                    <mat-hint #success class="success">
                                        {{ validateOtherControl(mappings[3].form, control).message }}
                                    </mat-hint>
                                </mat-form-field>
                            </ng-container>
                        </form>
                    </ng-container>

                    <div fxLayout="row" fxLayoutGap="0.6rem">
                        <button mat-flat-button matStepperPrevious>Previous</button>
                        <button mat-flat-button color="primary" matStepperNext (click)="updateTemplate()">
                            UPDATE
                        </button>
                    </div>
                </div>
            </mat-step>

            <ng-template matStepperIcon="template">
                <span>1</span>
            </ng-template>

            <ng-template matStepperIcon="txnTypeMappingForm">
                <span>2</span>
            </ng-template>

            <ng-template matStepperIcon="purposeCodeMappingDomesticForm">
                <span>3</span>
            </ng-template>
            <ng-template matStepperIcon="purposeCodeMappingIntlForm">
                <span>4</span>
            </ng-template>

            <ng-template matStepperIcon="done">
                <i class="las la-check-double"></i>
            </ng-template>
            <ng-template matStepperIcon="edit">
                <i class="las la-pencil-alt"></i>
            </ng-template>
        </mat-vertical-stepper>
    </ng-container>
</app-master-container>
