@import 'variables';
.error {
    font-size: 0.8rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.status {
    color: $qib-green;
}

.success {
    color: $qib-green;
    font-weight: bold;
}

.error {
    font-size: 0.6rem;
    color: $qib-red;
}

label {
    margin-right: 4px;
}
