<app-master-container>
    <ng-container header> Search Corporate User </ng-container>
    <ng-container icons>
        <div class="table-header">
            <button *ngIf="users.length > 0" mat-icon-button (click)="generateExcel()">
                <i class="las la-file-excel"></i>
            </button>
        </div>
    </ng-container>

    <ng-container body>
        <form class="row" [formGroup]="form" action="">
            <mat-form-field *appHasAccessToUser="[USER_TYPE.BANK_ADMIN]">
                <mat-label>RIM Number</mat-label>
                <input
                    type="text"
                    placeholder="Enter RIM"
                    aria-label="Enter RIM"
                    matInput
                    formControlName="rimNumber"
                    [matAutocomplete]="rims"
                />
                <mat-autocomplete autoActiveFirstOption #rims="matAutocomplete">
                    <mat-option *ngFor="let option of filteredRIMs | async" [value]="option.uniqueUserId">
                        {{ option.uniqueUserId }} - {{ option.firstnameeng }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="email" placeholder="Enter Username" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email ID</mat-label>
                <input matInput type="text" formControlName="email" placeholder="Enter Email ID" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Mobile Number</mat-label>
                <input
                    matInput
                    type="number"
                    min="0"
                    pattern="^.{8,8}$"
                    formControlName="mobilePhone"
                    placeholder="Enter Mobile Number"
                />
            </mat-form-field>
            <button
                mat-flat-button
                color="primary"
                (click)="onSearch()"
                [disabled]="
                    form.invalid ||
                    !(form.value.uniqueUserId || form.value.email || form.value.email || form.value.mobilePhone)
                "
            >
                Search
            </button>
        </form>
        <div class="row">
            <app-cib-table [config]="tableConfig" (_clickCell)="onClickCell($event)" (_lazyLoad)="lazyLoad($event)">
            </app-cib-table>
        </div>
    </ng-container>
</app-master-container>
