@import 'variables';

.beneficiary-list {
    width: 100%;
    .name {
        font-size: 0.875rem;
        color: $qib-primary-color;
    }
    .account-number,
    .address {
        font-size: 0.75rem;
        color: $qib-text-color;
    }
}
