<div fxFlex="100" fxFlex.sm="100">
    <app-master-container>
        <ng-container header>LC Drafts</ng-container>

        <ng-container body>
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
                <div class="page-heading">SAVED LC's</div>
                <div fxLayout="row">
                    <!-- <button class="header-icons" mat-icon-button (click)="getLcDrafts()">
                        <i class="las la-sync-alt"></i>
                    </button> -->
                    <!-- <button
                        class="header-icons"
                        mat-icon-button
                        [matMenuTriggerFor]="menu"
                        #menuTrigger="matMenuTrigger"
                    >
                        <i class="las la-search"></i>
                    </button> -->
                </div>
            </div>
            <app-cib-table
                [config]="tableConfig"
                (_clickCell)="onClickCell($event)"
                (_lazyLoad)="lazyLoad($event)"
            ></app-cib-table>
        </ng-container>
    </app-master-container>
</div>

<!-- <mat-menu #menu="matMenu" xPosition="after">
    <div class="filter-menu-item-container" (click)="$event.stopPropagation()">
        <form [formGroup]="filterForm">
            <div class="filter-section" fxLayoutGap="1rem">
                <mat-form-field>
                    <input matInput type="text" formControlName="name" placeholder="Beneficiary Name" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" formControlName="type" placeholder="LC Type" />
                </mat-form-field>

                <div>
                    <button
                        [disabled]="diableFilterButton()"
                        class="filter-menu-item"
                        class="mat-raised-button mat-primary"
                        (click)="filterTable()"
                        mat-button
                        color="primary"
                    >
                        <span>Search</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</mat-menu> -->
