<app-master-container *ngIf="entitlement.accounts.length" [variant]="'selected'" [opened]="true">
    <ng-container header> Assign Accounts </ng-container>
    <ng-container *ngIf="!fullAccountPrivilege" icons>
        <mat-slide-toggle
            *ngIf="screenMode === SCREEN_MODE.CREATE || fromNewRim"
            #selected
            (ngModelChange)="selectAllAccounts($event, entitlement)"
            [(ngModel)]="entitlement.allAccountsSelected"
        >
        </mat-slide-toggle>
    </ng-container>
    <ng-container body>
        <div class="entitlement-group">
            <ng-container *ngIf="!fullAccountPrivilege; else accountSelection">
                <ng-container *ngFor="let account of entitlement.accounts; let i = index">
                    <ng-container *ngIf="evaluate(account); else disabledButton">
                        <div matRipple>
                            <ng-container *ngTemplateOutlet="accountButton"></ng-container>
                        </div>
                    </ng-container>

                    <ng-template #disabledButton>
                        <ng-container *ngTemplateOutlet="accountButton"></ng-container>
                    </ng-template>

                    <ng-template #accountButton> </ng-template>
                    <div
                        (click)="onClickAccount(entitlement, account)"
                        [ngClass]="{
                            'menu-item': true,
                            'menu-item-committed': evaluate(account)
                        }"
                    >
                        <div>{{ account.data.account_no }}</div>
                        <div>{{ account.data.category.description }}</div>
                        <div class="status">
                            <div *ngIf="account.selected" class="selected">
                                <i class="las la-check"></i>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <ng-template #accountSelection>
                <span class="full-account">Full account privilege has been provided.</span>
            </ng-template>
        </div>
    </ng-container>
</app-master-container>
