<app-outlet-container>
    <div fxLayout="row" fxLayoutGap="0.7rem" fxLayout.lt-md="column" fxLayoutWrap>
        <div fxFlex="35" *ngIf="!isBulkPayment">
            <app-master-container>
                <ng-container header>Credit Cards List</ng-container>
                <ng-container icons>
                    <button
                        mat-icon-button
                        [routerLink]="app_routes.CREDIT_CARDS + '/card-due'"
                        *appHasEntitlementAccessTo="'CREDIT_CARD_BULK_PAYMENT'"
                        #tooltip="matTooltip"
                        matTooltip="Bulk Payment"
                    >
                        <i class="las la-clipboard-list"></i>
                    </button>
                </ng-container>
                <ng-container body>
                    <div class="cards-list">
                        <ng-container *ngFor="let card of cards; let i = index">
                            <app-cib-card
                                (_click)="setActiveCard(card, i)"
                                [isActive]="card.cardNumber === selectedCard.cardNumber"
                            >
                                <div class="card-details">
                                    <div class="name">
                                        {{ card.cardName }}
                                        <div class="card-number">
                                            {{ card.cardNumber }}
                                        </div>
                                    </div>
                                    <div class="status">
                                        <div>
                                            <img class="card-image" src="assets/images/{{ card.cardImageName }}" />
                                        </div>
                                        <span class="card-status" [ngClass]="card.statusDesc">{{
                                            card.cardStatus
                                        }}</span>
                                        <div class="dot" [ngStyle]="card.dotStyles"></div>
                                    </div>
                                </div>
                            </app-cib-card>
                        </ng-container>
                        <div fxLayout="column" *ngIf="cards.length === 0">
                            <div>No Cards available</div>
                        </div>
                    </div>
                </ng-container>
            </app-master-container>
        </div>
        <div [fxFlex]="isBulkPayment ? 100 : 65" *ngIf="cards.length > 0">
            <app-outlet-container *ngIf="!isBulkPayment">
                <ng-container menu>
                    <div class="menu">
                        <app-horizontal-menu [menu]="menu"></app-horizontal-menu>
                    </div>
                </ng-container>
            </app-outlet-container>
            <router-outlet></router-outlet>
        </div>
    </div>
</app-outlet-container>
