<ng-container *ngIf="screenMode === SCREEN_MODE.CREATE; else update">
    <app-master-container>
        <ng-container header>Create User</ng-container>
        <ng-container body>
            <ng-container *ngTemplateOutlet="userTemplate"></ng-container>
        </ng-container>
    </app-master-container>
</ng-container>

<ng-template #update>
    <ng-container *ngTemplateOutlet="userTemplate"></ng-container>
</ng-template>

<ng-template #userTemplate>
    <mat-vertical-stepper
        class="vertical-stepper"
        [linear]="screenMode === SCREEN_MODE.CREATE"
        #stepper
        [animationDuration]="'500'"
    >
        <mat-step *ngIf="personalInfo" class="step" [stepControl]="personalInfo" state="personalInfo">
            <ng-template matStepLabel>Basic Information</ng-template>
            <app-basic-information
                [form]="personalInfo"
                [userRimInfo]="userData?.userRim"
                [screenMode]="screenMode"
                [options]="options"
            >
            </app-basic-information>
            <ng-container *ngIf="currentUser.userType === USER_TYPE.BANK_ADMIN; else createUserTemp">
                <button
                    *ngIf="screenMode === SCREEN_MODE.CREATE"
                    mat-flat-button
                    color="primary"
                    [disabled]="personalInfo.invalid"
                    matStepperNext
                >
                    Next
                    <i class="las la-angle-right"></i>
                </button>

                <button
                    *ngIf="screenMode === SCREEN_MODE.EDIT"
                    mat-flat-button
                    color="primary"
                    [disabled]="!(personalInfo.valid && checkPersonalInfoChanges())"
                    (click)="updateUser()"
                >
                    Update Basic Information
                </button>
            </ng-container>
            <ng-template #createUserTemp>
                <button
                    mat-flat-button
                    color="primary"
                    *ngIf="screenMode === SCREEN_MODE.CREATE; else updateUserTypes"
                    [disabled]="!(personalInfo.valid && personalInfo.value.userType)"
                    (click)="submit()"
                >
                    Create User
                </button>
                <ng-template #updateUserTypes>
                    <button
                        mat-flat-button
                        color="primary"
                        [disabled]="!(personalInfo.valid && personalInfo.value.userType)"
                        (click)="updateUser()"
                    >
                        Update User
                    </button>
                </ng-template>
            </ng-template>
        </mat-step>
        <ng-container *appHasAccessToUser="[USER_TYPE.BANK_ADMIN]">
            <mat-step *ngIf="entitlementInfo && allSet" state="assingEntitlements">
                <ng-template matStepLabel>Assign Entitlements</ng-template>
                <app-assign-entitlements
                    [entitlements]="entitlements"
                    [form]="entitlementInfo"
                    [personalInfo]="personalInfo"
                    [userTypes]="userTypes"
                    [userRimInfo]="userRIMs.selected"
                    [corporateGroups]="corporateGroups"
                    [screenMode]="screenMode"
                    [step]="'personalInfo'"
                    [userData]="userData"
                    [step]="'assingEntitlements'"
                    (rimLinkingEvent)="linkRim($event)"
                >
                </app-assign-entitlements>
                <div class="row">
                    <ng-container *ngIf="screenMode === SCREEN_MODE.CREATE">
                        <button mat-flat-button matStepperPrevious>
                            <i class="las la-angle-left"></i>
                            Back
                        </button>
                        <button mat-flat-button color="primary" [disabled]="!validateFormSubmit()" (click)="submit()">
                            Create User
                        </button>
                    </ng-container>
                    <button
                        *ngIf="screenMode === SCREEN_MODE.EDIT && entitlementInfo.value.updateMode"
                        mat-flat-button
                        color="primary"
                        [disabled]="
                            entitlementInfo.value.updateMode.value === 'DELETE'
                                ? false
                                : entitlementInfo.invalid || !isValidEntitlements(entitlementInfo)
                        "
                        (click)="updateUserEntitlements(entitlementInfo.value.updateMode.value)"
                    >
                        Confirm
                    </button>
                </div>
            </mat-step>

            <mat-step *ngIf="screenMode === SCREEN_MODE.EDIT && newRoleInfo && allSet" state="addNewRole">
                <ng-template matStepLabel>Add New Role</ng-template>
                <app-assign-entitlements
                    [entitlements]="entitlements"
                    [form]="newRoleInfo"
                    [personalInfo]="personalInfo"
                    [userRimInfo]="userRIMs.unselected"
                    [selectedUserRim]="userRIMs.selected"
                    [userRimInfoSelected]="userRIMs.selected"
                    [step]="'addNewRole'"
                    [corporateGroups]="corporateGroups"
                    [screenMode]="screenMode"
                    [userTypes]="userTypes"
                    [fromNewRim]="true"
                    [userRimInfoSelected]="userRIMs.selected"
                    [step]="'addNewRole'"
                >
                </app-assign-entitlements>
                <div class="row">
                    <button
                        mat-flat-button
                        color="primary"
                        [disabled]="newRoleInfo.invalid || !isValidEntitlements(newRoleInfo)"
                        (click)="addNewRole()"
                    >
                        Add Role
                    </button>
                </div>
            </mat-step>
        </ng-container>

        <ng-template matStepperIcon="personalInfo">
            <i class="las la-user-tie"></i>
        </ng-template>
        <ng-template matStepperIcon="assingEntitlements">
            <i class="las la-list"></i>
        </ng-template>
        <ng-template matStepperIcon="addNewRole">
            <i class="las la-list"></i>
        </ng-template>
        <ng-template matStepperIcon="assignAccounts">
            <i class="las la-money-bill"></i>
        </ng-template>
        <ng-template matStepperIcon="done">
            <i class="las la-check-double"></i>
        </ng-template>
        <ng-template matStepperIcon="edit">
            <i class="las la-pencil-alt"></i>
        </ng-template>
    </mat-vertical-stepper>
</ng-template>
