<ng-container *ngIf="!showForm">
    <app-master-container>
        <ng-container header>
            <div>LAST 20 TRANSACTIONS</div>
        </ng-container>
        <ng-container icons>
            <button mat-icon-button *ngIf="searchFilterApplied" (click)="resetTheSearchCriteria()">
                <i class="las la-sync-alt"></i>
            </button>
            <button *ngIf="transactions.length > 0" mat-icon-button (click)="generateLastTransactionExcel()">
                <i class="las la-file-excel"></i>
            </button>
            <button *ngIf="transactions.length > 0" mat-icon-button (click)="generateLastTransactionPdf()">
                <i class="las la-file-pdf"></i>
            </button>
            <button
                *ngIf="transactions.length > 0"
                mat-icon-button
                [matMenuTriggerFor]="menu"
                #menuTrigger="matMenuTrigger"
            >
                <i class="las la-search"></i>
            </button>
        </ng-container>
        <ng-container body>
            <app-cib-table [config]="tableConfig" (_lazyLoad)="lazyLoad($event, 'transaction')"></app-cib-table>
            <div class="divider"></div>
            <ng-container>
                <div
                    fxLayout="row"
                    fxFlex="100"
                    fxLayout.lt-md="column"
                    *appHasEntitlementAccessTo="'CREDIT_CARD_STATEMENT'"
                >
                    <div fxFlex="80" class="transaction-disclaimer">
                        Note: Last 6 months transactions and statements can be viewed and downloaded here
                    </div>
                    <button
                        fxFlex="20"
                        class="mat-raised-button mat-primary"
                        type="button"
                        (click)="showForm = !showForm"
                        mat-stroked-button
                        color="primary"
                    >
                        CARD STATEMENT
                    </button>
                </div>
            </ng-container>
        </ng-container>
    </app-master-container>
</ng-container>
<ng-container *ngIf="showForm">
    <app-master-container>
        <ng-container header>
            <div>STATEMENT DOWNLOAD</div>
        </ng-container>
        <ng-container icons>
            <button mat-icon-button (click)="goBack()">
                <i class="las la-times"></i>
            </button>
        </ng-container>
        <ng-container body>
            <div fxLayout="column" fxFlex="100">
                <form [formGroup]="transactionsForm">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <mat-form-field>
                            <mat-label>Select Month</mat-label>
                            <mat-select formControlName="duration" required>
                                <mat-option *ngFor="let d of durations; let i = index" [value]="i">
                                    {{ d.name }}</mat-option
                                >
                            </mat-select>
                        </mat-form-field>
                        <button
                            class="mat-raised-button mat-primary mr-2rem"
                            (click)="getTransactionsList(card_types.CREDIT)"
                            [disabled]="transactionsForm.invalid"
                            type="button"
                            mat-stroked-button
                            color="primary"
                        >
                            VIEW STATEMENT
                        </button>
                    </div>
                </form>
                <div fxLayout="row" fxLayoutAlign="end center">
                    <button *ngIf="statements.length > 0" mat-icon-button (click)="generateExcel()">
                        <i class="las la-file-excel"></i>
                    </button>
                    <ng-container *appHasEntitlementAccessTo="'CREDIT_CARD_STATEMENT_DOWNLOAD'">
                        <button *ngIf="statements.length > 0" mat-icon-button (click)="generatePdf()">
                            <i class="las la-file-pdf"></i>
                        </button>
                    </ng-container>
                </div>
                <app-cib-table [config]="tableConfig2" (_lazyLoad)="lazyLoad($event, 'statement')"></app-cib-table>
            </div>
        </ng-container>
    </app-master-container>
</ng-container>

<!-- Search menu -->

<mat-menu #menu="matMenu" xPosition="after">
    <div class="filter-menu-item-container" (click)="$event.stopPropagation()">
        <div fxLayout="row" class="heading" fxLayoutAlign="space-between center">
            <span class="title">Filter Transaction</span>
            <button mat-icon-button (click)="closeMatmenu()">
                <i class="las la-times"></i>
            </button>
        </div>
        <div class="divider"></div>
        <form [formGroup]="filterstatementForm">
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field fxFlex="40" (click)="picker.open()">
                    <input
                        matInput
                        [matDatepicker]="picker"
                        formControlName="fromDate"
                        [min]="minDate"
                        [max]="maxDate"
                        placeholder="From Date"
                    />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field fxFlex="40" (click)="picker2.open()">
                    <input
                        matInput
                        [matDatepicker]="picker2"
                        formControlName="toDate"
                        [min]="minDate"
                        [max]="maxDate"
                        placeholder="To Date"
                    />
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field fxFlex="40">
                    <input matInput type="text" formControlName="amount" placeholder="Amount" />
                </mat-form-field>
                <mat-form-field fxFlex="40">
                    <input matInput type="text" formControlName="referenceNumber" placeholder="Reference Number" />
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <div fxFlex="40">
                    <button
                        [disabled]="!enableFilterButton()"
                        class="filter-menu-item"
                        class="mat-raised-button mat-primary"
                        (click)="filterStatements()"
                        mat-button
                        color="primary"
                    >
                        <span>Search</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</mat-menu>
