<app-master-container>
    <ng-container header>Finance Summary</ng-container>
    <ng-container icons>
        <button mat-icon-button (click)="goBack()">
            <i class="las la-times"></i>
        </button>
    </ng-container>
    <ng-container body>
        <div fxLayout="column" fxFlex="100">
            <div fxLayout="row" fxLayoutGap="2.25rem" fxLayout="row wrap">
                <div *ngIf="sandBox.selectedAccount?.category.description">
                    <app-label-value
                        [label]="'Finance Product'"
                        [value]="sandBox.selectedAccount?.category.description"
                    >
                    </app-label-value>
                </div>

                <div *ngIf="sandBox.selectedAccount?.account_no">
                    <app-label-value [label]="'Contract Reference'" [value]="sandBox.selectedAccount?.account_no">
                    </app-label-value>
                </div>

                <div *ngIf="sandBox.selectedAccount?.finance_amount">
                    <app-label-value
                        [label]="'Total Finance Amount'"
                        [value]="
                            sandBox.selectedAccount?.currency +
                            ' ' +
                            (sandBox.selectedAccount?.finance_amount | number: '1.2-4')
                        "
                    >
                    </app-label-value>
                </div>

                <div *ngIf="sandBox.selectedAccount?.instl_paid">
                    <app-label-value [label]="'No Of Installments Paid'" [value]="sandBox.selectedAccount?.instl_paid">
                    </app-label-value>
                </div>

                <div *ngIf="sandBox.selectedAccount?.instl_remain">
                    <app-label-value
                        [label]="'No Of Installments Pending'"
                        [value]="sandBox.selectedAccount?.instl_remain"
                    >
                    </app-label-value>
                </div>

                <div *ngIf="sandBox.selectedAccount?.total_installments">
                    <app-label-value
                        [label]="'Total No Of Installments'"
                        [value]="sandBox.selectedAccount?.total_installments"
                    >
                    </app-label-value>
                </div>

                <div *ngIf="financeDetails?.currentOutStandings">
                    <app-label-value [label]="'Current Outstanding'" [value]="financeDetails?.currentOutStandings">
                    </app-label-value>
                </div>

                <div *ngIf="financeDetails?.totalProfitAmount">
                    <app-label-value
                        [label]="'Total Profit Amount'"
                        [value]="
                            sandBox.selectedAccount?.currency +
                            ' ' +
                            (financeDetails?.totalProfitAmount | number: '1.2-4')
                        "
                    >
                    </app-label-value>
                </div>

                <div *ngIf="financeDetails?.currentProfitRate">
                    <app-label-value [label]="'Current Profit Rate'" [value]="financeDetails?.currentProfitRate + ' %'">
                    </app-label-value>
                </div>
            </div>
            <div class="divider"></div>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <div class="header-info">Pending Finance Transactions</div>
                <div *ngIf="ldScheduleData.length > 0">
                    <button mat-icon-button (click)="generateExcel()">
                        <i class="las la-file-excel"></i>
                    </button>
                    <button mat-icon-button (click)="generatePdf()">
                        <i class="las la-file-pdf"></i>
                    </button>
                </div>
            </div>
            <div fxLayout="row" class="transaction-disclaimer" *ngIf="ldScheduleData.length > 0">
                Disclaimer: This is not an official Bank account statement and cannot be treated as such
            </div>
            <app-cib-table [config]="tableConfig" (_lazyLoad)="lazyLoad($event)"> </app-cib-table>
        </div>
    </ng-container>
</app-master-container>
