@import 'variables';
.las {
    font-size: 32px;
}
.currency-field {
    max-width: 2rem !important;
}

div.added-sweep {
    border: 1px solid $qib-border-color;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
}
