<div>
    <div *ngIf="edit; else add_form">
        <app-beneficiary-edit
            [selectedBeneficiary]="selectedBeneficiary"
            [countryList]="countryList"
            [beneficiaryRelations]="beneficiaryRelations"
        ></app-beneficiary-edit>
    </div>
    <ng-template #add_form>
        <app-beneficiary-add
            [countryList]="countryList"
            [beneficiaryRelations]="beneficiaryRelations"
        ></app-beneficiary-add>
    </ng-template>
</div>
