@import 'variables';
.rate {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 0.9125em;
    color: $qib-primary-color;
    padding: 0.5rem;
    justify-content: space-between;
    border-bottom: 0.0625rem solid $qib-divider-color;
}

.rate:last-child {
    border-bottom: none;
}
