<app-master-container>
    <ng-container header> Edit / Delete Drafts </ng-container>
    <ng-container body>
        <div fxLayout="column" fxFlex="100">
            <mat-tab-group class="form-tabs">
                <mat-tab label="Single Transfers">
                    <ng-template matTabContent>
                        <app-transfer-drafts></app-transfer-drafts>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Multiple Transfers">
                    <ng-template matTabContent>
                        <app-multiple-transfer-drafts></app-multiple-transfer-drafts>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Bulk Transfers">
                    <ng-template matTabContent>
                        <app-bulk-transfer-drafts></app-bulk-transfer-drafts>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </ng-container>
</app-master-container>
