<mat-tab-group>
    <mat-tab label="Details">
        <ng-container body>
            <div fxFlex="column">
                <div class="inquiry-details" *ngIf="status !== 'AMEND'">
                    <app-label-value [label]="'CIB Reference'" [value]="parentData?.id || parentData.details1">
                    </app-label-value>
                    <app-label-value [label]="'BG Reference'" *ngIf="parentData?.bgRefNo" [value]="parentData?.bgRefNo">
                    </app-label-value>
                    <app-label-value [label]="'MD Reference'" *ngIf="parentData?.bankRef" [value]="parentData?.bankRef">
                    </app-label-value>
                    <app-label-value
                        [label]="'Amendments'"
                        *ngIf="parentData?.details2"
                        [value]="parentData?.details2"
                    ></app-label-value>
                    <app-label-value
                        [label]="'BG Status'"
                        *ngIf="parentData?.status.statusDesc.toLowerCase() !== 'rejected'"
                        [value]="parentData?.status.statusDesc"
                    >
                    </app-label-value>
                    <app-label-value
                        [label]="'Product Type'"
                        *ngIf="parentData?.bgProductTypeText"
                        [value]="parentData?.bgProductTypeText"
                    >
                    </app-label-value>
                    <app-label-value [label]="'Currency'" *ngIf="parentData?.currency" [value]="parentData?.currency">
                    </app-label-value>
                    <app-label-value
                        [label]="'Principal Amount'"
                        *ngIf="parentData?.isAmmended !== 'BG Amendment Request'"
                        [value]="parentData?.principalAmount"
                        [type]="'amount'"
                    ></app-label-value>
                    <app-label-value
                        [label]="'New Principal Amount'"
                        *ngIf="parentData?.isAmmended === 'BG Amendment Request'"
                        [value]="parentData?.principalAmount"
                        [type]="'amount'"
                    ></app-label-value>

                    <app-label-value
                        [label]="'Issue Date'"
                        *ngIf="parentData?.dealDate"
                        [value]="parentData?.dealDate"
                        [type]="'date'"
                    ></app-label-value>
                    <app-label-value
                        [label]="'Expiry Date'"
                        *ngIf="parentData?.expiryDate"
                        [value]="parentData?.expiryDate"
                        [type]="'date'"
                    ></app-label-value>
                    <app-label-value [label]="'Tenor'" *ngIf="parentData?.tenor" [value]="parentData?.tenor">
                    </app-label-value>
                    <app-label-value
                        [label]="'Beneficiary Name'"
                        *ngIf="parentData?.beneficiaryName"
                        [value]="parentData?.beneficiaryName"
                    ></app-label-value>
                    <app-label-value
                        [label]="'Contract Type'"
                        *ngIf="parentData?.contractType"
                        [value]="parentData?.contractType"
                    ></app-label-value>
                    <app-label-value
                        [label]="'Guarantee to be Issued in'"
                        *ngIf="parentData?.bgGuaranteeIssuedIn"
                        [value]="parentData?.bgGuaranteeIssuedIn"
                    ></app-label-value>
                    <app-label-value
                        [label]="'Guarantee to be Issued in favor of'"
                        *ngIf="parentData?.guaranteeInFavourOf"
                        [value]="parentData?.guaranteeInFavourOf"
                    ></app-label-value>
                    <app-label-value
                        [label]="'Guarantee to be issued against'"
                        *ngIf="parentData?.bgGuaranteeIssuedAgainst"
                        [value]="parentData?.bgGuaranteeIssuedAgainst"
                    >
                    </app-label-value>
                    <app-label-value
                        [label]="'Guarantee in connection with'"
                        *ngIf="parentData?.bgGuaranteeInConnectionWith"
                        [value]="parentData?.bgGuaranteeInConnectionWith"
                    ></app-label-value>
                </div>

                <div class="inquiry-details" *ngIf="status === 'AMEND'">
                    <app-label-value [label]="'CIB Reference'" [value]="parentData?.id || parentData?.details1">
                    </app-label-value>
                    <app-label-value [label]="'BG Reference'" *ngIf="parentData?.bgRefNo" [value]="parentData?.bgRefNo">
                    </app-label-value>
                    <app-label-value
                        [label]="'BG Status'"
                        *ngIf="parentData?.status.statusDesc.toLowerCase() !== 'rejected'"
                        [value]="parentData?.status.statusDesc"
                    ></app-label-value>

                    <app-label-value [label]="'MD Reference'" *ngIf="parentData?.bankRef" [value]="parentData?.bankRef">
                    </app-label-value>

                    <app-label-value
                        [label]="'Product Type'"
                        *ngIf="parentData?.bgProductTypeText"
                        [value]="parentData?.bgProductTypeText"
                    >
                    </app-label-value>
                    <app-label-value [label]="'Currency'" *ngIf="parentData?.currency" [value]="parentData?.currency">
                    </app-label-value>
                    <app-label-value
                        [label]="'Decrease Guarantee Amount by'"
                        *ngIf="parentData?.principalAmount < 0"
                        [value]="parentData?.principalAmount"
                        [type]="'amount'"
                    ></app-label-value>
                    <app-label-value
                        [label]="'Increase Guarantee Amount by'"
                        *ngIf="parentData?.principalAmount > 0"
                        [value]="parentData?.principalAmount"
                        [type]="'amount'"
                    ></app-label-value>
                    <app-label-value
                        [label]="'New Expiry Date'"
                        *ngIf="parentData?.expiryDate"
                        [value]="parentData?.expiryDate"
                        [type]="'date'"
                    ></app-label-value>

                    <app-label-value
                        [label]="'Additional Amendment details'"
                        *ngIf="parentData?.guaranteeDetails"
                        [value]="parentData?.guaranteeDetails"
                    ></app-label-value>
                </div>
            </div>
        </ng-container>
        <app-comments-history [comments]="parentData?.bankGuaranteeNotes" *ngIf="parentData?.bankGuaranteeNotes">
        </app-comments-history>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span>History & Attachments</span>
        </ng-template>
        <ng-container *ngIf="showHistory">
            <app-master-container
                *ngFor="let parentData of transactionsHistory; let i = index"
                [variant]="'secondary'"
                [opened]="i === 0"
                [collapsable]="true"
            >
                <ng-container header>
                    <div class="inquiry-details">
                        <span>CIB Reference : {{ parentData?.id }}</span>
                    </div>
                </ng-container>
                <ng-container icons>
                    <span [appTextHighlight]="parentData?.status.statusDesc.toLowerCase()">{{
                        parentData?.status.statusDesc
                    }}</span>
                    <button mat-icon-button *ngIf="parentData.documents.length > 0">
                        <i class="las la-paperclip" [matMenuTriggerFor]="menu"></i>
                        <span class="hilight-medium" [matMenuTriggerFor]="menu"
                            >{{ parentData?.documents.length }}
                        </span>
                    </button>
                </ng-container>
                <ng-container body>
                    <div fxFlex="column">
                        <ng-container *ngIf="parentData">
                            <div class="inquiry-details" *ngIf="parentData?.isAmmended !== 'Y'">
                                <app-label-value
                                    [label]="'Created Date'"
                                    *ngIf="parentData?.created"
                                    [value]="parentData?.created"
                                    [type]="'date'"
                                ></app-label-value>

                                <app-label-value
                                    [label]="'Request Date'"
                                    *ngIf="parentData?.updated"
                                    [value]="parentData?.updated"
                                    [type]="'date'"
                                >
                                </app-label-value>

                                <app-label-value
                                    [label]="'CIB Reference'"
                                    *ngIf="parentData.id"
                                    [value]="parentData.id"
                                >
                                </app-label-value>

                                <app-label-value
                                    [label]="'MD REFERENCE'"
                                    *ngIf="parentData.bankRef"
                                    [value]="parentData.bankRef"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'BG Reference'"
                                    *ngIf="parentData?.bgRefNo"
                                    [value]="parentData?.bgRefNo"
                                >
                                </app-label-value>

                                <app-label-value
                                    *ngIf="parentData.request_type"
                                    [label]="'REQUEST TYPE'"
                                    [value]="parentData.request_type"
                                >
                                </app-label-value>

                                <app-label-value
                                    [label]="'Status'"
                                    *ngIf="parentData?.status.statusDesc.toLowerCase() !== 'rejected'"
                                    [value]="parentData.status.statusDesc"
                                ></app-label-value>

                                <app-label-value
                                    [label]="'Product Type'"
                                    *ngIf="parentData?.bgProductTypeText"
                                    [value]="parentData?.bgProductTypeText"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Currency'"
                                    *ngIf="parentData?.currency"
                                    [value]="parentData?.currency"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Principal Amount'"
                                    [value]="parentData?.principalAmount"
                                    [type]="'amount'"
                                >
                                </app-label-value>

                                <app-label-value
                                    [label]="'Amount in Words'"
                                    *ngIf="parentData?.principalAmountInWords"
                                    [value]="parentData.principalAmountInWords"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Issue Date'"
                                    *ngIf="parentData?.dealDate"
                                    [value]="parentData?.dealDate"
                                    [type]="'date'"
                                ></app-label-value>

                                <app-label-value
                                    [label]="'Expiry Date'"
                                    *ngIf="parentData?.expiryDate"
                                    [value]="parentData?.expiryDate"
                                    [type]="'date'"
                                ></app-label-value>
                                <app-label-value
                                    [label]="'Tenor'"
                                    *ngIf="parentData?.tenor"
                                    [value]="parentData?.tenor"
                                >
                                </app-label-value>

                                <app-label-value
                                    [label]="'Beneficiary Name'"
                                    *ngIf="parentData?.beneficiaryName"
                                    [value]="parentData?.beneficiaryName"
                                ></app-label-value>
                                <app-label-value
                                    [label]="'Contract Type'"
                                    *ngIf="parentData?.contractType"
                                    [value]="parentData?.contractType"
                                ></app-label-value>
                                <app-label-value
                                    [label]="'Guarantee to be Issued in'"
                                    *ngIf="parentData?.bgGuaranteeIssuedIn"
                                    [value]="parentData?.bgGuaranteeIssuedIn"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Guarantee to be issued against'"
                                    *ngIf="parentData?.bgGuaranteeIssuedAgainst"
                                    [value]="parentData?.bgGuaranteeIssuedAgainst"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Guarantee in connection with'"
                                    *ngIf="parentData?.bgGuaranteeInConnectionWith"
                                    [value]="parentData?.bgGuaranteeInConnectionWith"
                                ></app-label-value>
                                <app-label-value
                                    [label]="'Guarantee to be Issued in favor of'"
                                    *ngIf="parentData?.guaranteeInFavourOf"
                                    [value]="parentData?.guaranteeInFavourOf"
                                >
                                </app-label-value>
                            </div>

                            <div class="inquiry-details" *ngIf="parentData?.isAmmended === 'Y'">
                                <app-label-value [label]="'Created Date'" [value]="parentData.created" [type]="'date'">
                                </app-label-value>

                                <app-label-value [label]="'Request Date'" [value]="parentData?.updated" [type]="'date'">
                                </app-label-value>

                                <app-label-value
                                    [label]="'CIB Reference'"
                                    [value]="parentData.id || parentData.details1"
                                >
                                </app-label-value>

                                <app-label-value
                                    [label]="'BG Reference'"
                                    *ngIf="parentData?.bgRefNo"
                                    [value]="parentData?.bgRefNo"
                                >
                                </app-label-value>
                                <app-label-value
                                    *ngIf="parentData.request_type"
                                    [label]="'REQUEST TYPE'"
                                    [value]="parentData.request_type"
                                >
                                </app-label-value>

                                <app-label-value
                                    [label]="'Status'"
                                    *ngIf="parentData?.status.statusDesc.toLowerCase() !== 'rejected'"
                                    [value]="parentData.status.statusDesc"
                                ></app-label-value>

                                <app-label-value [label]="'MD REFERENCE'" [value]="parentData.bankRef">
                                </app-label-value>

                                <app-label-value
                                    [label]="'Product Type'"
                                    *ngIf="parentData?.bgProductTypeText"
                                    [value]="parentData?.bgProductTypeText"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Currency'"
                                    *ngIf="parentData?.currency"
                                    [value]="parentData?.currency"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Increase Guarantee Amount by'"
                                    *ngIf="parentData?.principalAmount > 0"
                                    [value]="parentData?.principalAmount"
                                    [type]="'amount'"
                                >
                                </app-label-value>
                                <app-label-value
                                    [label]="'Decrease Guarantee Amount by'"
                                    *ngIf="parentData?.principalAmount < 0"
                                    [value]="parentData?.principalAmount"
                                    [type]="'amount'"
                                >
                                </app-label-value>

                                <app-label-value
                                    [label]="'Expiry Date'"
                                    *ngIf="parentData?.expiryDate"
                                    [value]="parentData?.expiryDate"
                                    [type]="'date'"
                                ></app-label-value>
                                <app-label-value
                                    [label]="'Additional Amendment details'"
                                    *ngIf="parentData?.guaranteeDetails"
                                    [value]="parentData?.guaranteeDetails"
                                >
                                </app-label-value>
                            </div>
                        </ng-container>

                        <app-comments-history
                            [comments]="parentData?.bankGuaranteeNotes"
                            *ngIf="parentData?.bankGuaranteeNotes"
                        >
                        </app-comments-history>
                    </div>
                </ng-container>

                <mat-menu #menu="matMenu" xPosition="before" class="mat-menu-container">
                    <app-cib-filter-menu
                        (_select)="getDownload(parentData.documents[$event])"
                        title="Attachments"
                        [options]="getFileName(parentData.documents)"
                    ></app-cib-filter-menu>
                </mat-menu>
            </app-master-container>
        </ng-container>
    </mat-tab>
</mat-tab-group>
