<div fxFlex="100" fxFlex.sm="100">
    <app-master-container>
        <ng-container header>Bills for collection</ng-container>

        <ng-container body>
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
                <div class="page-heading">RECEIVED DOCUMENTS UNDER COLLECTION</div>
                <div fxLayout="row">
                    <span *appHasEntitlementAccessTo="'TRADEFINANCE_DOCUMENT_DOWNLOAD'">
                        <button
                            class="header-icons"
                            *ngIf="lcdocuments?.length > 0"
                            mat-icon-button
                            (click)="generateExcel()"
                        >
                            <i class="las la-file-excel"></i></button
                    ></span>
                    <button class="header-icons" mat-icon-button (click)="getBcList()">
                        <i class="las la-sync-alt"></i>
                    </button>
                    <button
                        class="header-icons"
                        mat-icon-button
                        [matMenuTriggerFor]="menu"
                        #menuTrigger="matMenuTrigger"
                    >
                        <i class="las la-search"></i>
                    </button>
                </div>
            </div>
            <app-cib-table
                [config]="tableConfig"
                (_clickCell)="onClickCell($event)"
                (_lazyLoad)="lazyLoad($event)"
            ></app-cib-table>
        </ng-container>
    </app-master-container>
</div>

<mat-menu #menu="matMenu" xPosition="after">
    <div class="filter-menu-item-container" (click)="$event.stopPropagation()">
        <form [formGroup]="filterForm">
            <div class="filter-section">
                <mat-form-field>
                    <input matInput type="text" formControlName="lcRefNo" placeholder="BC Reference" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" formControlName="beneficiary" placeholder="Drawer Name" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="number" min="0" formControlName="lc_amount" placeholder="Amount" />
                </mat-form-field>

                <div>
                    <button
                        [disabled]="diableFilterButton()"
                        class="filter-menu-item"
                        class="mat-raised-button mat-primary"
                        (click)="filterTable()"
                        mat-button
                        color="primary"
                    >
                        <span>Search</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</mat-menu>
