<app-master-container *ngIf="selectedAccount">
    <ng-container header>
        <div>{{ selectedAccount?.category.description }}</div>
    </ng-container>
    <ng-container body>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between" fxLayout="row wrap">
            <app-label-value [label]="'Account Type'" [value]="'Deposit Account'"></app-label-value>
            <ng-container *ngIf="selectedAccount?.account_no">
                <app-label-value [label]="'Deposit Number'" [value]="selectedAccount?.account_no"> </app-label-value>
            </ng-container>
            <ng-container *ngIf="selectedAccount?.mat_date">
                <app-label-value [label]="'Maturity Date'" [value]="formatDate(selectedAccount?.mat_date)">
                </app-label-value>
            </ng-container>
            <ng-container *ngIf="selectedAccount?.create_date">
                <app-label-value [label]="'Booking Date'" [value]="formatDate(selectedAccount?.create_date)">
                </app-label-value>
            </ng-container>
            <ng-container *ngIf="selectedAccount?.current_balance">
                <app-label-value
                    [label]="'Amount'"
                    [value]="selectedAccount?.currency + ' ' + (selectedAccount?.current_balance | number: '1.2-4')"
                >
                </app-label-value>
            </ng-container>
        </div>
        <div fxLayout="row" fxFlex="100" *ngIf="selectedAccount.legacy_no">
            <button
                mat-button
                *appHasEntitlementAccessTo="'MUDHARABA_LIST'"
                class="mat-raised-button mat-primary"
                type="submit"
                color="primary"
                (click)="openDialog()"
            >
                View Deals
            </button>
        </div>
        <div class="divider"></div>
        <div fxLayout="column" fxFlex="100" *ngIf="hasDeals && deals.length > 0">
            <div class="header-info">Deals data</div>
            <ng-container *ngFor="let deal of deals; let i = index">
                <app-cib-card>
                    <div fxLayout="row" fxLayoutGap="2.25rem" fxLayout.lt-md="column" fxLayout="row wrap">
                        <app-label-value
                            *ngIf="deal.dealNo"
                            [label]="'Deal No'"
                            [value]="deal.dealNo"
                        ></app-label-value>

                        <app-label-value
                            *ngIf="deal.dealStartDate"
                            [label]="'Deal Start Date'"
                            [value]="deal.dealStartDate"
                        ></app-label-value>

                        <app-label-value
                            *ngIf="deal.maturityDate"
                            [label]="'Deal Maturity Date'"
                            [value]="deal.maturityDate"
                        ></app-label-value>

                        <app-label-value
                            *ngIf="deal.tenor"
                            [label]="'Tenor (Days)'"
                            [value]="deal.tenor"
                        ></app-label-value>

                        <app-label-value
                            *ngIf="deal.profitRate"
                            [label]="'Expected Profit Rate'"
                            [value]="deal.profitRate + ' %'"
                        ></app-label-value>

                        <app-label-value
                            *ngIf="deal.currencyOfDeposit"
                            [label]="'Currency Of Deposit'"
                            [value]="deal.currencyOfDeposit"
                        ></app-label-value>

                        <app-label-value
                            *ngIf="deal.depositAmount"
                            [label]="'Face Value'"
                            [value]="deal.depositAmount"
                            [type]="'amount'"
                        ></app-label-value>

                        <app-label-value
                            *ngIf="deal.profitAmount"
                            [label]="'Expected Profit Amount'"
                            [value]="deal.profitAmount"
                            [type]="'amount'"
                        ></app-label-value>

                        <app-label-value
                            *ngIf="deal.totalExpectedAmt"
                            [label]="'Total Expected Maturity Amount'"
                            [value]="deal.totalExpectedAmt"
                            [type]="'amount'"
                        ></app-label-value>
                    </div>
                </app-cib-card>
            </ng-container>
            <div fxLayout="row" *ngIf="deals.length === 0">
                <div>No deals data available</div>
            </div>
        </div>
    </ng-container>
</app-master-container>
