<div fxFlex="100" fxFlex.sm="100" fxLayout="column">
    <app-master-container>
        <ng-container header>
            <div>MANUAL TRANSFERS</div>
            <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                <i class="las la-search"></i>
            </button>
        </ng-container>
        <ng-container icons>
            <button mat-icon-button (click)="getManualTransferList()" #tooltip="matTooltip" matTooltip="REFRESH LIST">
                <i class="las la-sync"></i>
            </button>
        </ng-container>
        <ng-container body>
            <div fxFlex="100">
                <app-cib-table
                    [config]="tableConfig"
                    (_clickCell)="onClickCell($event)"
                    (_lazyLoad)="lazyLoad($event)"
                ></app-cib-table>
            </div>
        </ng-container>
    </app-master-container>
    <mat-menu #menu="matMenu" xPosition="after">
        <div class="filter-menu-item-container" (click)="$event.stopPropagation()">
            <div fxLayout="row" class="heading" fxLayoutAlign="space-between center">
                <span class="title">SEARCH</span>
                <button mat-icon-button color="primary" (click)="closeMatmenu()">
                    <i class="las la-times"></i>
                </button>
            </div>
            <div class="divider"></div>
            <form [formGroup]="filterCsdForm">
                <div fxLayout="column">
                    <mat-form-field>
                        <input matInput type="text" formControlName="trnRef" placeholder="REFERENCE NO." />
                    </mat-form-field>
                    <button
                        [disabled]="filterCsdForm.invalid"
                        class="filter-menu-item"
                        class="mat-raised-button mat-primary"
                        (click)="filterInquiry()"
                        mat-button
                        color="primary"
                    >
                        Search
                    </button>
                </div>
            </form>
        </div>
    </mat-menu>
</div>
