<app-master-container>
    <ng-container header>NEW CD ACCOUNT</ng-container>
    <ng-container body>
        <form
            [formGroup]="openNewAccountForm"
            fxLayout="column"
            fxFlex="100"
            autocomplete="off"
            novalidate="novalidate"
        >
            <div fxLayout="row" fxFlex="100" fxLayout.sm="column" fxLayoutGap="2.25rem">
                <mat-form-field fxFlex="50">
                    <mat-label>Select Account</mat-label>
                    <mat-select aria-label="Account" formControlName="account">
                        <mat-option
                            (onSelectionChange)="onAccountChange($event, acc)"
                            *ngFor="let acc of accountList"
                            [value]="acc.account_no"
                        >
                            <div fxLayout="row" fxLayoutAlign="space-between">
                                <span>{{ acc.account_no + ' - ' + acc.category.description }}</span>
                                <span> {{ acc.currency + ' ' + (acc.current_balance | number: '1.2-4') }}</span>
                            </div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <span class="currency-label">{{ curncy }}</span>

                <mat-form-field fxFlex="20">
                    <mat-label>Enter Amount</mat-label>
                    <input type="text" aria-label="Amount" matInput formControlName="amount" />

                    <mat-error *ngIf="openNewAccountForm.controls['amount']?.errors?.['multiple']">
                        Amount should be in multiples 20,000 QAR or 5,000 USD
                    </mat-error>
                    <mat-error *ngIf="openNewAccountForm.controls['amount']?.errors?.['minimunCheck']">
                        Amount should be greater than 100,000 QAR or 25,000 USD</mat-error
                    >
                </mat-form-field>

                <mat-form-field fxFlex="20">
                    <mat-label>Tenor</mat-label>
                    <mat-select aria-label="Tenor" required formControlName="tenor">
                        <mat-option *ngFor="let tenor of tenorListCd" [value]="tenor">
                            <span>{{ tenor | cibDefinition: 'TENOR' }}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex="100">
                <button
                    fxFlex="20"
                    mat-button
                    [disabled]="openNewAccountForm.invalid"
                    class="mat-raised-button mat-primary"
                    aria-label="Submit"
                    (click)="opnAccount('VERIFY')"
                >
                    SUBMIT
                </button>
            </div>
        </form>
        <div class="divider"></div>
        <div fxLayout="column" fxFlex="100">
            <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
                <div>Certificate of Deposits</div>
                <div *ngIf="investmentList.length > 0">
                    <button mat-icon-button (click)="generateExcel()">
                        <i class="las la-file-excel"></i>
                    </button>
                    <button mat-icon-button (click)="generatePdf()">
                        <i class="las la-file-pdf"></i>
                    </button>
                </div>
            </div>
        </div>
        <app-cib-table
            [config]="tableConfig"
            (_lazyLoad)="lazyLoad($event)"
            (_clickCell)="onClickCell($event)"
        ></app-cib-table>
    </ng-container>
</app-master-container>
