<div fxFlex="100" fxFlex.sm="100" fxLayout="column">
    <div>
        <app-master-container>
            <ng-container header>Pending Requests</ng-container>
            <ng-container icons>
                <form action="" class="search-group" [formGroup]="searchForm">
                    <mat-form-field>
                        <mat-label>Select Request Type</mat-label>
                        <mat-select
                            formControlName="type"
                            aria-label="type"
                            multiple
                            (selectionChange)="onTypeChange($event)"
                        >
                            <mat-option *ngFor="let s of types" [value]="s">{{
                                s | cibDefinition: 'ADMIN_REQUEST_TYPES'
                            }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
                <button
                    mat-icon-button
                    #tooltip="matTooltip"
                    matTooltip="Refresh Queue"
                    (click)="resetTheSearchCriteria()"
                >
                    <i class="las la-sync-alt"></i>
                </button>
            </ng-container>
            <ng-container body>
                <div fxFlex="100">
                    <app-cib-table
                        [config]="tableConfig"
                        (_clickCell)="onClickCell($event)"
                        (_lazyLoad)="lazyLoad($event)"
                    ></app-cib-table>
                </div>
            </ng-container>
        </app-master-container>
    </div>
</div>
