<form *ngIf="form" [formGroup]="form" class="container">
    <div class="row" *ngIf="screenMode === SCREEN_MODE.CREATE; else modeDisplay">
        <mat-form-field>
            <mat-label>Business Group</mat-label>
            <input
                type="text"
                placeholder="Select the business group"
                aria-label="Business Group"
                matInput
                formControlName="group"
                [matAutocomplete]="group"
            />
            <mat-autocomplete autoActiveFirstOption #group="matAutocomplete">
                <mat-option *ngFor="let option of filteredGroups | async" [value]="option.businessName">
                    {{ option.businessName }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button
            mat-flat-button
            type="submit"
            color="primary"
            (click)="onSelectGroup()"
            [disabled]="!form.controls['group'].value"
        >
            Search
        </button>
    </div>

    <ng-template #modeDisplay>
        <app-cib-toggle-group
            *ngIf="!fromNewRim"
            ngDefaultControl
            [formGroup]="form"
            formControlName="updateMode"
            [options]="entitlementModes"
        ></app-cib-toggle-group>
    </ng-template>

    <div class="info-message" *ngIf="form.value.updateMode">
        <i class="las la-exclamation-circle"></i> {{ form.value.updateMode.info }}
    </div>

    <div class="column" *ngIf="screenMode === SCREEN_MODE.EDIT && !fromNewRim ? form.value.updateMode : true">
        <ng-container formArrayName="rimInfo">
            <ng-container *ngFor="let formGroup of rimInfo.controls; index as i; let last = last">
                <app-master-container
                    [formGroupName]="i"
                    [opened]="
                        screenMode === SCREEN_MODE.CREATE || fromNewRim
                            ? getRimInfoGroup(i).value.checked && getRimInfoGroup(i).value.role
                            : false
                    "
                    [variant]="
                        getRimInfoGroup(i).value.checked && getRimInfoGroup(i).value.role ? 'selected' : 'tertiary'
                    "
                    [collapsable]="getRimInfoGroup(i).value.checked && getRimInfoGroup(i).value.role"
                >
                    <ng-container header>
                        <div class="rim-info">
                            <!-- (change)="setEntitlements($event, getRimInfoGroup(i).value)" -->
                            <mat-slide-toggle
                                *ngIf="getRimInfoGroup(i).value.isNew"
                                formControlName="checked"
                                (change)="setEntitlements($event, getRimInfoGroup(i).value, i)"
                            >
                            </mat-slide-toggle>
                            <div>{{ getRimInfoGroup(i).value.uniqueUserId }}</div>
                        </div>
                    </ng-container>
                    <ng-container icons>
                        <div class="rim-info">
                            <app-cib-toggle-group
                                *ngIf="
                                    (form.value.updateMode && form.value.updateMode.value === 'UPDATE') ||
                                    screenMode === SCREEN_MODE.CREATE ||
                                    fromNewRim
                                "
                                ngDefaultControl
                                [formGroup]="getRimInfoGroup(i)"
                                formControlName="role"
                                [options]="userTypes"
                            >
                            </app-cib-toggle-group>
                            <mat-slide-toggle formControlName="fullAccountPrivilege"
                                >Full Account Privilege
                            </mat-slide-toggle>

                            <button
                                class="mat-raised-button mat-primary action-deactivate mat-button"
                                mat-stroked-button
                                color="primary"
                                *ngIf="
                                    screenMode === SCREEN_MODE.EDIT &&
                                    form.value.updateMode?.value === 'UPDATE' &&
                                    rimInfo.controls.length !== 1
                                "
                                (click)="delinkAccount(getRimInfoGroup(i).value.uniqueUserId)"
                                value="{{ getRimInfoGroup(i).value.uniqueUserId }}"
                            >
                                DE-LINK
                            </button>
                        </div>
                    </ng-container>
                    <ng-container> </ng-container>
                    <ng-container body>
                        <app-entitlement-list
                            [screenMode]="screenMode"
                            [role]="step === 'addNewRole' ? userRimInfo[i].role : getRimInfoGroup(i).value.role"
                            [fromNewRim]="fromNewRim"
                            [updateMode]="form.value.updateMode || {}"
                            [entitlement]="
                                step === 'addNewRole'
                                    ? getRimInfoGroup(i).value.entitlement
                                    : getRimInfoGroup(i).value.entitlement
                            "
                            [fullAccountPrivilege]="
                                step === 'addNewRole'
                                    ? getRimInfoGroup(i).controls['fullAccountPrivilege'].value
                                    : getRimInfoGroup(i).controls['fullAccountPrivilege'].value
                            "
                        >
                        </app-entitlement-list>
                    </ng-container>
                </app-master-container>
            </ng-container>
        </ng-container>
    </div>
</form>
