<app-master-container>
    <ng-container header>Delink To device</ng-container>
    <ng-container body>
        <div fxLayout="column" fxFlex="100">
            <div fxFlex="100" fxLayout="column" fxLayoutGap="2rem">
                <form
                    fxLayout="column"
                    fxFlex="100"
                    autocomplete="off"
                    novalidate="novalidate"
                    [formGroup]="searchForm"
                >
                    <div fxLayout="row" fxFlex="100" fxLayoutGap="1.5rem" fxLayout.sm="column">
                        <mat-form-field fxFlex="15">
                            <mat-label>RIM Number</mat-label>
                            <input type="number" aria-label="rimNumber" formControlName="rimNumber" matInput />
                        </mat-form-field>
                        <mat-form-field fxFlex="15">
                            <mat-label>User Name</mat-label>
                            <input type="text" aria-label="userName" formControlName="userName" matInput />
                        </mat-form-field>
                        <mat-form-field fxFlex="15">
                            <mat-label>Device Model</mat-label>
                            <input type="text" aria-label="deviceModel" formControlName="deviceModel" matInput />
                        </mat-form-field>
                        <button
                            fxFlex="10"
                            mat-button
                            [disabled]="
                                !searchForm.controls['rimNumber'].value &&
                                !searchForm.controls['userName'].value &&
                                !searchForm.controls['deviceModel'].value
                            "
                            class="mat-raised-button mat-primary"
                            (click)="searchDevice()"
                            aria-label="Submit"
                        >
                            SEARCH
                        </button>
                    </div>
                    <div fxFlex="100"></div>
                </form>
            </div>
        </div>

        <div class="divider"></div>
        <div fxLayout="column" fxLayoutGap="0.625rem" fxFlex="100">
            <div class="header-info" *ngIf="devicesList.length === 0">
                <i class="las la-info-circle"></i> No device found
            </div>
            <div *ngIf="devicesList.length > 0" fxLayout="row" fxLayoutGap="2rem" fxLayoutAlign="start center">
                <div *ngFor="let device of devicesList" class="device-item">
                    <div class="device-info-sec">
                        <i class="lab" [ngClass]="device.osType === 'Android' ? 'la-android' : 'la-apple'"> </i>
                        <div class="info-item-title">
                            <span>Model :</span><span>{{ device.deviceModel }}</span>
                        </div>
                        <div class="info-item">
                            <span>Version :</span><span>{{ device.osVersion }}</span>
                        </div>
                        <div class="info-item">
                            <span>Device Id :</span> <span>{{ device.deviceId }}</span>
                        </div>
                        <button
                            class="mat-raised-button mat-primary action-deactivate mat-button"
                            mat-stroked-button
                            color="primary"
                            (click)="onDlinkClick(device)"
                        >
                            DE-LINK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</app-master-container>
