@import 'variables';
.authentication {
    position: absolute;
    top: $qib-header-height;
    bottom: $qib-footer-height;
    overflow-y: auto;
    background: $qib-divider-color;
    z-index: 1;
    width: 100%;
    background-image: url('../../../assets/images/login_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .auth-container {
        background: $qib-divider-color;
        border-radius: 6px;
        min-height: 480px;
        margin: auto;
        height: auto;
        width: 80%;
        .router-outlet {
            background: $qib-white;
            border-left: 5px solid $qib-primary-color;
            margin-left: 1px;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }
    }
}
