<app-pre-login-header></app-pre-login-header>
<div class="authentication" fxLayout="column" fxLayoutAlign="center center">
    <div class="auth-container">
        <div class="auth-outlet" fxLayout="row" fxLayout.lt-md="column">
            <div class="router-outlet" fxFlex="100">
                <router-outlet></router-outlet>
            </div>
            <!-- <app-know-more fxFlex="50"></app-know-more> -->
        </div>
        <app-verticle-slider></app-verticle-slider>
    </div>
</div>
