.orders{
    span.title{
        color:#000;
    }
    .total-amount{
        color: #000;
        font-weight: bold;
    }
    .order-date{
        color:#2a27db;
    }
    .green{
        background-color: #0f8123 !important;
    }
}
.cart-item{
    align-items: baseline;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background: #fff;
    img{
        width: 2rem;
        height: 2rem;
    }
    .title{
        font-size: 0.8rem;
    }
}
.checkout{
    .title{
        color:#000;
    }
}