<div fxFlex="100" fxLayout="column" fxLayoutGap="2rem">
    <form fxLayout="column" fxFlex="100" autocomplete="off" novalidate="novalidate" [formGroup]="searchForm">
        <div fxLayout="row" fxFlex="100" fxLayoutGap="1.5rem" fxLayout.sm="column">
            <mat-form-field fxFlex="30">
                <mat-label>RIM Number</mat-label>
                <input type="number" min="0" aria-label="rimNumber" formControlName="rimNumber" matInput />
            </mat-form-field>
            <mat-form-field fxFlex="30">
                <mat-label>File Name</mat-label>
                <input type="text" aria-label="serviceNumber" formControlName="fileName" matInput />
            </mat-form-field>
            <mat-form-field fxFlex="20">
                <mat-label>Status</mat-label>
                <mat-select aria-label="names" formControlName="status" multiple>
                    <mat-option *ngFor="let st of status" [value]="st">{{ st }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="100">
            <button
                fxFlex="20"
                mat-button
                [disabled]="!searchForm.valid"
                class="mat-raised-button mat-primary"
                (click)="searchFiles()"
                aria-label="Submit"
            >
                SEARCH
            </button>
        </div>
    </form>

    <app-cib-table
        [config]="tableConfig"
        (_clickCell)="onClickCell($event)"
        (_lazyLoad)="lazyLoad($event)"
    ></app-cib-table>
</div>
