
<app-outlet-container>
    <app-master-container>
        <ng-container header>
              Super Employees
        </ng-container>
        <ng-container icons>
            <mat-form-field>
                <mat-label>Select Status</mat-label>
                <mat-select [(ngModel)]="selectedStatus">
                    <mat-option 
                    (onSelectionChange)="updateStatus($event,status)"
                    *ngFor="let status of statuses" [value]="status">{{
                        status
                    }}</mat-option>
                </mat-select>
            </mat-form-field>
           <!-- <button mat-icon-button  *ngIf="sortedData.length>0"   (click)="downloadExcel()">
                <i class="las la-file-excel"></i>
            </button>
             <button mat-icon-button >
                <i class="las la-file-pdf"></i>
            </button> -->
            <button  mat-icon-button (click)="addUsers()">
                <i class="las la-plus"></i>
            </button>
        </ng-container>
        <ng-container body>
            <div fxLayout="column" fxFlex="100">
                <app-sgs-table
                    [config]="tableConfig"
                    (_lazyLoad)="lazyLoad($event)"
                    (_select)="onSelect($event)"
                    (_clickCell)="onClickCell($event)"
                ></app-sgs-table>
            </div>
        </ng-container>
    </app-master-container>
</app-outlet-container>

