<div fxLayout="row" fxLayoutGap="0.7rem" fxLayout.lt-md="column">
    <div fxFlex="35">
        <app-master-container>
            <ng-container header>Deposit Accounts</ng-container>
            <ng-container icons>
                <button mat-icon-button (click)="showSearch()">
                    <i class="las la-search"></i>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <i class="las la-filter"></i>
                </button>
            </ng-container>
            <ng-container body>
                <div class="account-list">
                    <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="showsearch">
                        <mat-form-field fxFlex="40">
                            <mat-label>By Currency</mat-label>
                            <mat-select [(value)]="selectedCurrency" (selectionChange)="filterListByCurrency($event)">
                                <mat-option value="all">ALL</mat-option>
                                <mat-option *ngFor="let currency of currenciesList; let i = index" [value]="currency">
                                    {{ currency }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <ng-container *ngFor="let accounts of investmentList; let i = index">
                        <app-cib-card [isActive]="i === activeIndex" (_click)="activeIndex = i">
                            <div class="account-details">
                                <div class="name">{{ accounts.category.description }}</div>
                                <div class="amount">
                                    {{ accounts.currency }} {{ accounts.current_balance | number: '1.2-4' }}
                                </div>
                            </div>
                            <div class="account-no" *ngIf="accounts.account_no">{{ accounts.account_no }}</div>
                        </app-cib-card>
                    </ng-container>
                    <div fxLayout="column" *ngIf="investmentList?.length === 0">
                        <div>No Investments available</div>
                    </div>
                </div>
            </ng-container>
        </app-master-container>
    </div>
    <div fxFlex="65">
        <app-investment-details [selectedAccount]="investmentList[activeIndex]"></app-investment-details>
    </div>
</div>

<mat-menu #menu="matMenu" xPosition="before" class="mat-menu-container">
    <app-cib-filter-menu
        (_select)="filterAccountByType(accountTypes[$event])"
        title="Account Type"
        [options]="accountTypes"
    ></app-cib-filter-menu>
</mat-menu>
