@import 'variables';
.login-wrapper {
    background: $sweety-white;
    padding: 15px;
    border-radius: 0.5rem;
    .login-title {
        mat-label {
            font-size: 1rem;
        }
        align-self: center;
    }
    .login-form {
        .md-block {
            mat-label {
                font-size: 0.875rem;
            }
            i {
                font-size: 1rem;
                color: $sweety-badge-background;
                font-weight: bold;
            }
        }
        .login-forgotpass-link {
            text-decoration: underline;
            color: $sweety-primary-color;
            cursor: pointer;
            font-size: 0.75rem;
        }
        .login-btn {
            margin-top: 0.313rem;
        }
        .body-card-login-form {
            .md-block {
                color: $sweety-primary-color;
                i {
                    font-size: 1rem;
                    color: $sweety-badge-background;
                    font-weight: bold;
                }
                mat-label {
                    font-size: 0.875rem;
                }
            }
        }
        .reset-password {
            gap: 1rem;
        }
    }
}
