<div class="login-wrapper">
    <div fxLayout="column" fxFlex fxLayoutAlign="center center">
        <div class="login-title">
            <mat-label>Login</mat-label>
        </div>
        <div class="login-form">
            <form
                autocomplete="nope"
                [formGroup]="userLoginForm"
                novalidate="novalidate"
                (ngSubmit)="login()"
                fxLayout="column"
            >
                <mat-form-field class="md-block">
                    <mat-label>User Id</mat-label>
                    <input formControlName="email" required matInput type="text" name="email" />
                    <i matSuffix class="las la-user-tie"></i>
                </mat-form-field>
                <mat-form-field class="md-block">
                    <mat-label>Password</mat-label>
                    <input
                        required
                        formControlName="password"
                        matInput
                        type="password"
                        maxlength="64"
                        name="password"
                    />
                    <i matSuffix class="las la-unlock-alt"></i>
                </mat-form-field>
                <div fxFlex fxLayoutAlign="end" class="reset-password">
                    <span class="login-forgotpass-link" (click)="onForgotPasswordClick()">Forgot Password?</span>
                    <!-- <span class="login-forgotpass-link">| </span> -->
                    <!-- <span class="login-forgotpass-link" (click)="onUnlockPasswordClick()">Unlock User?</span> -->
                </div>
                <div class="login-btn">
                    <button
                        mat-flat-button
                        fxFlex="100"
                        type="submit"
                        color="primary"
                        [disabled]="userLoginForm.invalid"
                    >
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
