<ng-container
    *appHasEntitlementAccessTo="
        'TRANSFER_WITH_IN_ACCOUNT, TRANSFER_WITH_IN_QATAR, TRANSFER_INTERNATIONAL';
        showBanner: true
    "
>
    <ng-container *ngIf="mode !== SCREEN_MODE.SUCCESS; else successTemplate">
        <form *ngIf="form" [formGroup]="form">
            <app-master-container>
                <ng-container header>
                    {{ mode }} {{ form.value.transfers.length > 1 ? 'Multiple' : 'Single' }} Transfer
                </ng-container>
                <ng-container icons>
                    <button mat-icon-button (click)="clear()" *ngIf="mode === SCREEN_MODE.EDIT">
                        <i class="las la-times"></i>
                    </button>
                </ng-container>

                <ng-container body>
                    <div class="transfer-list">
                        <ng-container formArrayName="transfers">
                            <ng-container
                                *ngFor="let formGroup of transfersFormArray.controls; index as i; let last = last"
                            >
                                <app-master-container
                                    variant="secondary"
                                    [opened]="last"
                                    #container
                                    [collapsable]="true"
                                >
                                    <ng-container *ngIf="!container.opened; else editTemplate" header>
                                        <app-transfer-header-info
                                            *ngIf="getTransferValue(i)"
                                            [transfer]="getTransferValue(i)"
                                        >
                                        </app-transfer-header-info>
                                    </ng-container>
                                    <ng-template #editTemplate>
                                        <ng-container header> TRANSFER DATA </ng-container>
                                    </ng-template>
                                    <ng-container icons>
                                        <div class="form-status valid" *ngIf="getFormGroup(i).valid; else invalid">
                                            <i class="las la-check-circle"></i> Valid
                                        </div>
                                        <ng-template #invalid>
                                            <div class="form-status invalid">
                                                <i class="las la-exclamation-triangle"></i> Fields marked in * are
                                                mandatory
                                            </div>
                                        </ng-template>
                                        <button
                                            *ngIf="
                                                mode === SCREEN_MODE.CREATE && transfersFormArray.controls.length > 1
                                            "
                                            (click)="deleteTransfer(i)"
                                            mat-icon-button
                                        >
                                            <i class="las la-trash"></i>
                                        </button>
                                    </ng-container>
                                    <ng-container body>
                                        <ng-container [formGroupName]="i">
                                            <div class="container">
                                                <mat-button-toggle-group
                                                    (change)="onChangeTransferType($event.value, i)"
                                                    formControlName="transferType"
                                                    aria-label="Transfer type"
                                                >
                                                    <mat-button-toggle
                                                        value="WQIB"
                                                        *appHasEntitlementAccessTo="'TRANSFER_WITH_IN_ACCOUNT'"
                                                        >Within Account
                                                    </mat-button-toggle>
                                                    <mat-button-toggle
                                                        value="WQAR"
                                                        *appHasEntitlementAccessTo="'TRANSFER_WITH_IN_QATAR'"
                                                        >Within Qatar
                                                    </mat-button-toggle>
                                                    <mat-button-toggle
                                                        value="INTL"
                                                        *appHasEntitlementAccessTo="'TRANSFER_INTERNATIONAL'"
                                                    >
                                                        International
                                                    </mat-button-toggle>
                                                </mat-button-toggle-group>
                                                <div class="controls">
                                                    <app-account-select
                                                        ngDefaultControl
                                                        [formGroup]="getFormGroup(i)"
                                                        (selectionChange)="onChangeFromAccount($event, i)"
                                                        formControlName="fromAccount"
                                                        label="From Account"
                                                        [options]="fromAccounts"
                                                    >
                                                    </app-account-select>
                                                    <app-account-select
                                                        ngDefaultControl
                                                        [formGroup]="getFormGroup(i)"
                                                        formControlName="toAccount"
                                                        (selectionChange)="onChangeToAccount($event, i)"
                                                        label="To Account"
                                                        [options]="filteredToAccounts[i]"
                                                    >
                                                    </app-account-select>
                                                </div>

                                                <div class="controls">
                                                    <ng-container *ngIf="getTransferValue(i).transferType !== 'WQIB'">
                                                        <mat-form-field>
                                                            <mat-label>Charge Type</mat-label>
                                                            <mat-select formControlName="chargeDetails">
                                                                <mat-option
                                                                    *ngIf="getTransferValue(i).transferType !== 'WQAR'"
                                                                    value="SHA"
                                                                    >SHA (Shared)</mat-option
                                                                >
                                                                <mat-option value="OUR">OUR (On Us)</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>

                                                        <mat-form-field>
                                                            <mat-label>Purpose</mat-label>
                                                            <mat-select formControlName="purpose">
                                                                <mat-option
                                                                    *ngFor="
                                                                        let purpose of purposeCodes[
                                                                            getTransferValue(i).transferType
                                                                        ];
                                                                        let i = index
                                                                    "
                                                                    [value]="purpose.type"
                                                                >
                                                                    {{ purpose.value }}</mat-option
                                                                >
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </ng-container>
                                                    <mat-form-field>
                                                        <mat-label>Source Of Income</mat-label>
                                                        <mat-select formControlName="incomeSource">
                                                            <mat-option
                                                                *ngFor="
                                                                    let incomeSource of incomeSources;
                                                                    let i = index
                                                                "
                                                                [value]="incomeSource"
                                                            >
                                                                {{ incomeSource }}</mat-option
                                                            >
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <span matPrefix
                                                            >{{ getTransferValue(i).toAccount?.currency }} &nbsp;</span
                                                        >
                                                        <mat-label>Amount</mat-label>
                                                        <input
                                                            type="number"
                                                            min="0"
                                                            aria-label="Amount"
                                                            matInput
                                                            formControlName="amount"
                                                        />
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <mat-label>Payment Details</mat-label>
                                                        <input
                                                            type="text"
                                                            aria-label="Payment Details"
                                                            matInput
                                                            formControlName="description"
                                                            maxlength="{{
                                                                getTransferValue(i).transferType === 'INTL' ? '140' : 65
                                                            }}"
                                                        />
                                                        <mat-error
                                                            *ngIf="getFormGroup(i).controls['description']?.errors?.['forbiddenDescription']"
                                                        >
                                                            Invalid use of special characters.
                                                        </mat-error>
                                                    </mat-form-field>
                                                    <mat-form-field
                                                        *ngIf="getTransferValue(i)?.toAccount?.bankCountry === 'ID'"
                                                    >
                                                        <mat-label>Invoice Number</mat-label>
                                                        <input
                                                            aria-label="Invoice Number"
                                                            matInput
                                                            formControlName="invoiceNumber"
                                                            (click)="addInvoice(i)"
                                                        />
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </app-master-container>
                            </ng-container>
                        </ng-container>

                        <div class="action-buttons">
                            <div class="group">
                                <ng-container *appHasEntitlementAccessTo="'TRANSFER_UPDATE_DRAFT'">
                                    <button
                                        *ngIf="mode === SCREEN_MODE.CREATE"
                                        mat-flat-button
                                        (click)="saveTransfers()"
                                    >
                                        Save as Draft
                                    </button>
                                </ng-container>
                                <button
                                    [disabled]="form.invalid"
                                    mat-flat-button
                                    (click)="createTransfer(DECISION.VERIFY)"
                                    color="primary"
                                >
                                    Make Transfer
                                </button>
                            </div>
                            <div *ngIf="mode === SCREEN_MODE.CREATE" class="group">
                                <button
                                    [disabled]="form.invalid"
                                    (click)="pushTransferForm({}, form.value.transfers.length)"
                                    mat-flat-button
                                    color="primary"
                                >
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </app-master-container>
        </form>
    </ng-container>
</ng-container>

<ng-template #successTemplate>
    <app-cib-notification
        headerTitle="Transaction Status"
        [title]="successData.title"
        [subtitle]="successData.confirmationSubtitle"
        [variant]="'success'"
    >
        <ng-container body>
            <app-transfer-info [transfers]="successData.transfers"></app-transfer-info>
            <div class="divider"></div>
            <div fxLayout="row" fxFlex="100">
                <button fxFlex="20" mat-flat-button class="mat-primary" (click)="clear()">OK</button>
            </div>
        </ng-container>
    </app-cib-notification>
</ng-template>
