<div class="pending-requests">
    <ng-container *ngIf="!isStpUser">
        <app-master-container
            *appHasAccessToRole="[ROLE_NAME.USER, ROLE_NAME.ROLE_USER_MAKER_CHECKER]"
            #approved
            [opened]="true"
            [collapsable]="true"
        >
            <ng-container header>
                <span class="count" *ngIf="myRequests.config">{{ myRequests.config.totalRecords }}</span> Payments Pending
            </ng-container>

            <ng-container icons>
                <mat-form-field>
                    <mat-select [(value)]="selectedDuration">
                        <mat-option *ngFor="let duration of durationList; let i = index" [value]="duration">
                            {{ duration }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>
            <ng-container body>
                <app-my-requests [status]="'PENDING'" [durationType]="selectedDuration" #myRequests></app-my-requests>
            </ng-container>
        </app-master-container>
    </ng-container>
</div>
