<div fxFlex="100" fxFlex.sm="100" fxLayout="column">
    <div>
        <app-master-container>
            <ng-container header>{{ pageHeader }}</ng-container>
            <ng-container icons>
                <form action="" class="search-group" [formGroup]="searchForm">
                    <mat-form-field *ngIf="lcdocuments?.length > 0">
                        <mat-label>Filter By Status</mat-label>
                        <mat-select
                            formControlName="filterStatus"
                            aria-label="type"
                            (selectionChange)="onStatusChange($event)"
                        >
                            <mat-option *ngFor="let s of filterStatus" [value]="s">{{
                                s | cibDefinition: 'LC_BG_STATUS'
                            }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
                <span *appHasEntitlementAccessTo="'TRADEFINANCE_DOCUMENT_DOWNLOAD'"
                    ><button *ngIf="lcdocuments?.length > 0" mat-icon-button (click)="generateExcel()">
                        <i class="las la-file-excel"></i></button
                ></span>
                <button mat-icon-button (click)="getLcStatus()">
                    <i class="las la-sync"></i>
                </button>
                <button
                    *ngIf="lcdocuments?.length > 0"
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    #menuTrigger="matMenuTrigger"
                >
                    <i class="las la-search"></i>
                </button>
            </ng-container>
            <ng-container body>
                <app-cib-table [config]="tableConfig" (_clickCell)="onClickCell($event)" (_lazyLoad)="lazyLoad($event)">
                </app-cib-table>
            </ng-container>
        </app-master-container>
    </div>
</div>

<mat-menu #menu="matMenu" xPosition="after">
    <div class="filter-menu-item-container" (click)="$event.stopPropagation()">
        <div fxLayout="row" class="heading" fxLayoutAlign="space-between center">
            <span class="title">Filter {{ type }}'s</span>
            <button mat-icon-button color="primary" (click)="closeMatmenu()">
                <i class="las la-times"></i>
            </button>
        </div>
        <div class="divider"></div>
        <form [formGroup]="filterInquiryForm">
            <div class="filter-section">
                <mat-form-field (click)="picker.open()">
                    <input matInput [matDatepicker]="picker" formControlName="lcExpiryDate" placeholder="Expiry Date" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field *ngIf="type === 'LC'">
                    <input matInput type="number" min="0" formControlName="lcAmount" placeholder="Amount" />
                </mat-form-field>
                <mat-form-field *ngIf="type === 'BG'">
                    <input matInput type="number" min="0" formControlName="bgPrincipalAmount" placeholder="Amount" />
                </mat-form-field>
                <mat-form-field *ngIf="type === 'LC'">
                    <input matInput type="text" formControlName="lcApplicationId" placeholder="CIB Reference" />
                </mat-form-field>
                <mat-form-field *ngIf="type === 'BG'">
                    <input matInput type="text" formControlName="bgApplicationId" placeholder="CIB Reference" />
                </mat-form-field>
                <mat-form-field *ngIf="type === 'LC'">
                    <input matInput type="text" formControlName="txnRefNo" placeholder="TF Reference" />
                </mat-form-field>
                <mat-form-field *ngIf="type === 'BG'">
                    <input matInput type="text" formControlName="bankRef" placeholder="MD Reference" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" formControlName="bgBeneficiaryName" placeholder="Beneficiary Name" />
                </mat-form-field>

                <div>
                    <button
                        [disabled]="diableFilterButton()"
                        class="filter-menu-item"
                        class="mat-raised-button mat-primary"
                        (click)="filterTable()"
                        mat-button
                        color="primary"
                    >
                        <span>Search</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</mat-menu>
