<app-master-container [variant]="'secondary'">
    <ng-container header>Comments History</ng-container>
    <ng-container body>
        <div class="activity">
            <ng-container *ngFor="let comment of comments">
                <div class="entry" *ngIf="comment.lcComments || comment.comments">
                    <div class="comment">{{ comment.lcComments || comment.comments }}</div>
                    <div class="info">by {{ comment.createdBy }} on {{ comment.created | date: 'medium' }}.</div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</app-master-container>
