<div fxFlex="100" fxLayout="column">
    <div fxLayout="row" fxLayoutGap="2rem">
        <mat-form-field>
            <mat-label>RIM Number</mat-label>
            <input type="number" min="0" aria-label="serviceNumber" matInput [(ngModel)]="rimInput" />
        </mat-form-field>
        <button
            mat-button
            class="mat-raised-button mat-primary"
            [disabled]="!enableSearch()"
            (click)="searchRIM()"
            aria-label="Submit"
        >
            SEARCH
        </button>
    </div>
    <form *ngIf="isRimValid" autocomplete="off" novalidate="novalidate" [formGroup]="form">
        <div fxLayout="column" fxFlex="100" autocomplete="off">
            <div class="divider"></div>
            <div fxLayout="row" fxFlex="100">
                <mat-checkbox fxFlex="30" id="encryptFile" name="encryptFile" formControlName="isEncryptionRequired">
                    Encryption Required
                </mat-checkbox>
                <mat-checkbox fxFlex="30" id="h2hDirect" name="h2hDirect" formControlName="isH2HDirectRequired">
                    STP Required
                </mat-checkbox>
                <mat-form-field fxFlex="30">
                    <mat-label>Email ID</mat-label>
                    <input type="text" aria-label="serviceNumber" matInput formControlName="emailID" />
                </mat-form-field>
            </div>
            <div *ngIf="form.controls['isEncryptionRequired'].value" fxLayout="column" fxFlex="100" fxLayoutGap="1rem">
                <div fxLayout="row" fxFlex="100">
                    <mat-button-toggle-group formControlName="keyValue" aria-label="Select an option">
                        <mat-button-toggle value="1">Upload Key</mat-button-toggle>
                        <mat-button-toggle value="2">Generate Key</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div fxLayout="row" fxFlex="100" fxLayoutGap="1rem">
                    <app-file-upload
                        fxFlex="30"
                        *ngIf="form.controls['keyValue'].value === '1'"
                        [label]="'Choose a File [.TXT]'"
                        [maxSize]="5"
                        [accept]="'.txt'"
                        [file]="fileDetails"
                        (_onUpload)="onFileSelected($event)"
                    ></app-file-upload>

                    <mat-form-field fxFlex="20" *ngIf="form.controls['keyValue'].value === '2'">
                        <mat-label>Select User</mat-label>
                        <mat-select aria-label="names" formControlName="userName">
                            <mat-option *ngFor="let user of userList" [value]="user">{{ user.username }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="divider"></div>
            <div fxLayout="row" fxFlex="100">
                <button
                    fxFlex="20"
                    mat-button
                    class="mat-raised-button mat-primary"
                    (click)="updateCustomer()"
                    aria-label="Submit"
                >
                    UPDATE CUSTOMER
                </button>
            </div>
        </div>
    </form>
    <span class="input-info" *ngIf="!isRimValid"
        ><i class="las la-info-circle"></i> To register for H2H, the RIM must have a maker or maker/approver</span
    >
</div>
