@import 'variables';
.title {
    font-weight: bold;
    font-size: 0.85rem;
    color: $qib-text-color;
}
.input-info {
    color: $qib-tab-active-border;
    font-size: 0.725em;
    font-weight: 600;
}
