@import 'variables';
.menu-section {
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    // min-height: 15rem;
    min-width: 15rem;
    .menu-group {
        color: $qib-primary-color;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        cursor: pointer;
        font-family: 'dax-regularregular', 'Open Sans', Helvetica, sans-serif;
        font-weight: 600;
        .menu-item {
            box-sizing: border-box;
            cursor: pointer;
            cursor: pointer;
            padding: 0.5rem 0.5rem;
            border-radius: 0.5rem;
            background: $qib-divider-color;
            i {
                font-size: 1.8em;
                padding-right: 10px;
                color: $qib-text-color;
            }
            .menu-heading {
                font-family: 'dax-regularregular', 'Open Sans', Helvetica, sans-serif;
                font-size: 12px;
                font-weight: 600;
            }
        }
        .menu-item:hover,
        .menu-item-active {
            background: $qib-nav-bar-background;
            color: $qib-tab-active-border;
            i {
                color: $qib-tab-active-border;
            }
        }
    }
}
