<div fxLayout="row wrap" fxLayoutGap="2rem">
    <app-label-value
        [label]="'Product Type'"
        *ngIf="selectedBGDetails?.bgProductTypeText"
        [value]="selectedBGDetails?.bgProductTypeText"
    ></app-label-value>
    <app-label-value [label]="'Currency'" *ngIf="selectedBGDetails?.currency" [value]="selectedBGDetails?.currency">
    </app-label-value>
    <app-label-value
        [label]="'Principal Amount'"
        *ngIf="selectedBGDetails?.principalAmount"
        [value]="selectedBGDetails?.principalAmount"
        [type]="'amount'"
    ></app-label-value>
    <app-label-value
        [label]="'Guarantee Commencing Date'"
        *ngIf="selectedBGDetails?.dealDate"
        [value]="selectedBGDetails?.dealDate"
        [type]="'date'"
    ></app-label-value>
    <app-label-value
        [label]="'Expiry Date'"
        *ngIf="selectedBGDetails?.expiryDate"
        [value]="selectedBGDetails?.expiryDate"
        [type]="'date'"
    ></app-label-value>
    <app-label-value
        [label]="'Beneficiary Name'"
        *ngIf="selectedBGDetails?.beneficiaryName"
        [value]="selectedBGDetails?.beneficiaryName"
    ></app-label-value>
    <app-label-value
        [label]="'Guarantee to be Issued in'"
        *ngIf="selectedBGDetails?.bgGuaranteeIssuedIn"
        [value]="selectedBGDetails?.bgGuaranteeIssuedIn"
    >
    </app-label-value>
    <app-label-value
        [label]="'Guarantee to be issued against'"
        *ngIf="selectedBGDetails?.bgGuaranteeIssuedAgainst"
        [value]="selectedBGDetails?.bgGuaranteeIssuedAgainst"
    >
    </app-label-value>
    <app-label-value
        [label]="'Guarantee in connection with'"
        *ngIf="selectedBGDetails?.bgGuaranteeInConnectionWith"
        [value]="selectedBGDetails?.bgGuaranteeInConnectionWith"
    >
    </app-label-value>
    <app-label-value
        [label]="'Guarantee to be issued on behalf of'"
        *ngIf="selectedBGDetails?.guaranteeInFavourOf"
        [value]="selectedBGDetails?.guaranteeInFavourOf"
    >
    </app-label-value>
    <app-label-value
        [label]="'BG Status'"
        *ngIf="selectedBGDetails?.status?.statusDesc"
        [value]="selectedBGDetails?.status?.statusDesc"
    >
    </app-label-value>
    <app-label-value
        [label]="'BG Reference Number'"
        *ngIf="selectedBGDetails?.bankRef"
        [value]="selectedBGDetails?.bankRef"
    >
    </app-label-value>

    <ng-container *ngIf="selectedBGDetails.documents.length !== 0 || selectedBGDetails.documents !== null">
        <div class="file-details" fxFlex="50" *ngIf="selectedBGDetails.documents.length > 0">
            <div *ngIf="selectedBGDetails?.documents.length !== 0">UPLOADED DOCUMENT</div>
            <ng-container *ngFor="let file of selectedBGDetails.documents; let i = index">
                <div class="items">
                    <div class="file-name">
                        <i class="las la-check-circle"></i>
                        <div class="label">{{ file.customerFileName }}</div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>
