<app-master-container>
    <ng-container header *ngIf="data.customerFileName">Delete Request</ng-container>
    <ng-container header *ngIf="data.applnId">Reject Request</ng-container>
    <ng-container header *ngIf="data.type === 'deleteFile'">Attachments</ng-container>
    <ng-container header *ngIf="data.type === 'lcDocs'">LC Documents</ng-container>
    <ng-container icons>
        <button (click)="action(DECISION.CANCEL)" mat-icon-button>
            <i class="las la-times"></i>
        </button>
    </ng-container>
    <ng-container body>
        <div class="body">
            <div *ngIf="data.applnId">Do you want to Reject this request {{ data.applnId }}?</div>
            <div *ngIf="data.customerFileName">Would you like to delete ?</div>
            <div *ngIf="data.type === 'deleteFile'" class="file-left">
                <app-cib-filter-menu
                    (_select)="getDownload(data.file[$event])"
                    title=""
                    [options]="getFileName(data.file)"
                >
                </app-cib-filter-menu>
            </div>
            <div *ngIf="data.type === 'lcDocs'" class="file-left">
                <div
                    fxLayout="column"
                    fxLayoutGap="1rem"
                    fxLayoutAlign="space-between"
                    class="chip"
                    *ngFor="let fileName of data.docs"
                >
                    <a
                        download="{{ fileName + '.pdf' }}"
                        href="{{ 'assets/content/trade-finance/' + fileName + '.pdf' }}"
                        >{{ fileName }}</a
                    >
                </div>
            </div>
            <div *ngIf="data.applnId || data.customerFileName">
                <button
                    mat-button
                    type="submit"
                    class="mat-raised-button mat-primary"
                    (click)="action(DECISION.CONFIRM)"
                    mat-stroked-button
                    color="primary"
                >
                    Confirm
                </button>
            </div>
        </div>
    </ng-container>
</app-master-container>
