@import 'variables';
@import 'colors';

.file-left {
    float: left;
}

.chip {
    padding: 0.125rem 0.5rem;
    margin: 1rem;
    font-size: 0.75rem;
    background: $qib-divider-color;
    border-radius: 0.5rem;
    cursor: pointer;
    color: $qib-text-color;

    &.chip-active {
        background: $qib-nav-bar-background;
        color: $qib-background-blue;
    }
}
.chip:hover {
    background: $qib-nav-bar-background;
    color: $qib-background-blue;
}
a {
    text-decoration: none;
    color: $qib-text-color;
}
