// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sweety1-primary: mat.define-palette(mat.$indigo-palette);
$sweety1-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$sweety1-warn: mat.define-palette(mat.$red-palette);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sweety1-theme: mat.define-light-theme(
    (
        color: (
            primary: $sweety1-primary,
            accent: $sweety1-accent,
            warn: $sweety1-warn,
        ),
    )
);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($sweety1-theme);

/* You can add global styles to this file, and also import other style files */

@import 'base';
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

html,
body {
    height: 100%;
}

.upperCase{
    text-transform: uppercase;
}

.mt-7{
    margin-top: 7rem;
}
.p-4{
    padding: 4rem;
}
.px-3{
    padding-left: 3rem;
    padding-right: 3rem;
}
.pt-8{
    padding-top: 8rem;
}
.gap-2{
    gap:2rem;
}
.h-33{
    height: 33rem;
}
mx-1{
    margin-left: 1rem;
    margin-right: 1rem;
}
.row{
    display: flex;
    flex-direction: row;  
}
// .column{
//     display: flex;
//     flex-direction: column;  
// }
.justify-content-space-around{
    justify-content: space-around !important;
}
.justify-content-space-between{
    justify-content: space-between !important;
}
.align-items-center{
    align-items: center;
}

.text-theme {
    color: #d9b061 !important;
}