// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sweety1-primary: mat.define-palette(mat.$indigo-palette);
$sweety1-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$sweety1-warn: mat.define-palette(mat.$red-palette);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sweety1-theme: mat.define-light-theme(
    (
        color: (
            primary: $sweety1-primary,
            accent: $sweety1-accent,
            warn: $sweety1-warn,
        ),
    )
);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($sweety1-theme);

/* You can add global styles to this file, and also import other style files */

@import 'base';
* {
    font-family: 'dax-regularregular', 'Open Sans', Helvetica, sans-serif;
    margin: 0;
}

html,
body {
    height: 100%;
    background: #f1f2f4;
}

.upperCase{
    text-transform: uppercase;
}
.card-title{
    font-size: 1.1rem;
    color: #0075b0;
    font-weight: bold;
}
.card1 {
    .card-title{
        font-size: 1.1rem;
        color: #0075b0;
        font-weight: bold;
    }
    .card-bottom-icons {        
        .title{
            font-size: 1rem;
            color: #0075b0;
            text-transform: capitalize;
        }
        align-items: baseline !important;
    }
    .las{
        font-size: 1.25rem;
        color: #0075b0;
    }
    align-items: baseline !important;
}
.card-bottom-icons {
    .las{
        font-size: 1.6rem;
        color: #0075b0;
    }
    .title{
        font-size: 1rem;
        color: #0075b0;
        text-transform: capitalize;
    }
    align-items: baseline !important;
}
.mb-2{
    margin-bottom: 2rem;
}
.heading-title{
    align-items: baseline !important;
    margin-left: 0.6rem;
    margin-bottom: 0.5rem;
    .title{
        font-size: 1rem;
        color: #114edfeb;
        font-weight: bold;
    }
    .las{
        font-size: 1.25rem;
        color: #114edfeb;
        font-weight: bold;
    }
    .sub-title{
        font-size: 0.8rem;
        color: #ef0f4beb;
        font-weight: bold;
    }
}

.chips{
    padding: 0.5rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    min-width: 5rem;
    text-align: center;    
    text-transform: capitalize;
    display: flex;
    color: #fff;
    margin: 0.5rem;
    flex: none;
    align-items: baseline;
    gap: 0.2rem;
    justify-content: center;
    .las{
        font-size: 1rem;
    }
}
.chips.active{
    border: 1px solid #0f8123;
    background: #0f8123;
}
.chips.inactive{
    border: 1px solid #660aa9;
    background: #660aa9;
}
.image-preview{
    width: 100%;
    cursor: pointer;
    height: 10rem;
    object-fit: cover;    
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.column-container{
    display: flex;
    flex-direction: column;
}
.row-container{
    display: flex;
    flex-direction: row;
}
.row-container-overflow{
    display: flex;
    flex-direction: row;
    overflow: auto;
    align-items: baseline;
}
.px-1{
    padding-left: 1rem;
    padding-right: 1rem;
}
.p-1{
    padding: 1rem;
}
.price{
    font-size: 0.8rem;
    color: #0075b0;
}