<app-master-container>
    <ng-container header>Delete Saved Draft</ng-container>
    <ng-container icons>
        <button mat-icon-button (click)="action(DECISION.CANCEL)">
            <i class="las la-times"></i>
        </button>
    </ng-container>
    <ng-container body>
        <div class="body">
            <div>Delete Saved Transfer</div>
            <div>Do you want to delete the Saved Transfer ?</div>
            <div>
                <button
                    mat-button
                    type="submit"
                    class="mat-raised-button mat-primary"
                    mat-stroked-button
                    color="primary"
                    (click)="action(DECISION.CONFIRM)"
                >
                    Confirm
                </button>
            </div>
        </div>
    </ng-container>
</app-master-container>
