<div fxLayout="row" fxLayoutGap="0.7rem" fxLayout.lt-md="column" fxLayoutWrap>
    <div fxFlex="40" *appHasEntitlementAccessTo="'GENERAL_SERVICE_CHEQUE_BOOK'">
        <app-master-container>
            <ng-container header>{{
                isRequestSuccess ? 'CHEQUE BOOK REQUEST STATUS' : 'REQUEST FOR CHEQUE BOOK'
            }}</ng-container>
            <ng-container body>
                <div fxLayout="column" fxFlex="100" *ngIf="!isRequestSuccess">
                    <div class="form-container">
                        <form [formGroup]="chequeBookRequestForm" class="container">
                            <app-account-select
                                ngDefaultControl
                                [formGroup]="chequeBookRequestForm"
                                formControlName="fromAccount"
                                (selectionChange)="selectedCurrency = $event.currency"
                                label="Select Account"
                                [options]="accounts"
                            >
                            </app-account-select>
                            <mat-button-toggle-group
                                (change)="onTypeChange($event)"
                                formControlName="noOfLeaves"
                                aria-label="Select an option"
                                [disabled]="chequeBookRequestForm.controls['fromAccount'].invalid"
                            >
                                <mat-button-toggle value="25">25 Leaves</mat-button-toggle>
                                <mat-button-toggle value="50">50 Leaves</mat-button-toggle>
                            </mat-button-toggle-group>
                            <div class="info" *ngIf="isChargesReady">
                                Cheque Book Charges ({{ noOfLeaves }} Leaves) : {{ selectedCurrency }}
                                {{ charges | number: '1.2-2' }}
                            </div>
                            <button
                                type="submit"
                                mat-flat-button
                                [disabled]="chequeBookRequestForm.invalid"
                                (click)="processChequeBookRequest()"
                                color="primary"
                            >
                                SUBMIT
                            </button>
                        </form>
                    </div>
                </div>
                <ng-container *ngIf="isRequestSuccess">
                    <app-request-status [data]="statusData"></app-request-status>
                </ng-container>
            </ng-container>
        </app-master-container>
    </div>
    <div fxFlex="60">
        <app-requests-list-table [requestType]="module" [disableDropdown]="true"></app-requests-list-table>
    </div>
</div>
