<app-outlet-container>
    <div fxFlex="100" fxFlex.sm="100" fxLayout="column">
        <app-master-container>
            <ng-container header>Audit Trail Report</ng-container>
            <ng-container icons> </ng-container>
            <ng-container body>
                <div fxFlex="100" fxLayout="column" fxLayoutGap="2rem">
                    <div
                        *appHasAccessToUser="[USER_TYPE.BANK_ADMIN]"
                        class="controls"
                        fxLayout="row"
                        fxLayoutGap="2rem"
                    >
                        <mat-form-field>
                            <mat-label>RIM Number</mat-label>
                            <input type="number" min="0" aria-label="serviceNumber" matInput [(ngModel)]="rimInput" />
                        </mat-form-field>
                        <button
                            mat-button
                            class="mat-raised-button mat-primary"
                            [disabled]="enableSearch()"
                            (click)="searchRIM()"
                            aria-label="Submit"
                        >
                            SEARCH
                        </button>
                    </div>
                    <form
                        *ngIf="isUserFound"
                        fxLayout="column"
                        fxFlex="100"
                        autocomplete="off"
                        novalidate="novalidate"
                        [formGroup]="searchForm"
                    >
                        <div fxLayout="row" fxFlex="100" fxLayoutGap="3rem" fxLayout.sm="column">
                            <mat-form-field fxFlex="20">
                                <mat-label *appHasAccessToUser="[USER_TYPE.BANK_ADMIN]">User Name</mat-label>
                                <mat-label *appHasAccessToUser="[USER_TYPE.BANK_ADMIN_APPROVER]">Admin Name</mat-label>
                                <mat-select aria-label="names" formControlName="userName" multiple>
                                    <app-select-check-all [model]="searchForm.get('userName')" [values]="userNames">
                                    </app-select-check-all>
                                    <mat-option *ngFor="let s of userNames" [value]="s">{{ s.email }}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field *appHasAccessToUser="[USER_TYPE.BANK_ADMIN]" fxFlex="20">
                                <mat-label>Service Types</mat-label>
                                <mat-select aria-label="names" formControlName="serviceType" multiple>
                                    <app-select-check-all
                                        [model]="searchForm.get('serviceType')"
                                        [values]="serviceTypes"
                                    >
                                    </app-select-check-all>
                                    <mat-option *ngFor="let type of serviceTypes" [value]="type">{{ type }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div fxFlex="20">
                                <app-cib-date-picker
                                    [parentForm]="searchForm"
                                    [fomrControlName]="'fromDate'"
                                    [minDate]="minDate"
                                    [maxDate]="maxDate"
                                    [placeholder]="startDateLabel"
                                    (selectDate)="getStartDate($event)"
                                ></app-cib-date-picker>
                            </div>
                            <div fxFlex="20">
                                <app-cib-date-picker
                                    [parentForm]="searchForm"
                                    [fomrControlName]="'toDate'"
                                    [minDate]="minDate"
                                    [maxDate]="maxDate"
                                    [placeholder]="toDateLabel"
                                    (selectDate)="getEndDate($event)"
                                ></app-cib-date-picker>
                            </div>
                        </div>

                        <div fxFlex="100" fxLayout="row" fxLayoutGap="0.5rem">
                            <button
                                fxFlex="10"
                                mat-button
                                [disabled]="!searchForm.valid"
                                class="mat-raised-button mat-primary"
                                aria-label="Submit"
                                (click)="searchAuditTrail()"
                            >
                                SEARCH
                            </button>
                        </div>
                    </form>
                </div>
                <div fxFlex="100" fxLayoutAlign="end end" class="table-header">
                    <button *ngIf="report?.length > 0" mat-icon-button (click)="generateExcel()">
                        <i class="las la-file-excel"></i>
                    </button>
                    <button *ngIf="report?.length > 0" mat-icon-button (click)="generatePdf()">
                        <i class="las la-file-pdf"></i>
                    </button>
                </div>
                <app-cib-table [config]="tableConfig" (_lazyLoad)="lazyLoad($event)"></app-cib-table>
            </ng-container>
        </app-master-container>
    </div>
</app-outlet-container>
