<div class="body">
    <app-label-value [label]="'Bank Country'" *ngIf="data.bankCountry" [value]="data.bankCountry"></app-label-value>
    <app-label-value [label]="'Beneficiary Name'" *ngIf="data.nickName" [value]="data.nickName"></app-label-value>
    <app-label-value [label]="'Bank Name'" *ngIf="data.bankName" [value]="data.bankName"> </app-label-value>
    <app-label-value [label]="'IBAN Number'" *ngIf="data.iban" [value]="data.iban" [type]="'iban'"></app-label-value>
    <app-label-value [label]="'Account Number'" *ngIf="data.accountNo" [value]="data.accountNo"></app-label-value>
    <app-label-value [label]="'Currency'" *ngIf="data.currency" [value]="data.currency"></app-label-value>
    <app-label-value [label]="'Swift/BIC Code'" [value]="data.swiftCode" *ngIf="data.swiftCode"></app-label-value>
    <app-label-value [label]="'IFSC Code'" *ngIf="data.ifscCode" [value]="data.ifscCode"></app-label-value>
    <app-label-value [label]="'FEDWIRE'" *ngIf="data.fedwire" [value]="data.fedwire"></app-label-value>
    <app-label-value [label]="'Transit No'" *ngIf="data.transitNo" [value]="data.transitNo"></app-label-value>
    <app-label-value [label]="'BSB_NO'" *ngIf="data.bsbNo" [value]="data.bsbNo"></app-label-value>
    <app-label-value
        [label]="'Relationship With the Beneficiary'"
        *ngIf="data.relationshipWithBeneficiary"
        [value]="data.relationshipWithBeneficiary"
    ></app-label-value>
    <app-label-value [label]="'Beneficiary Address'" *ngIf="data.street" [value]="data.street"></app-label-value>
    <app-label-value
        [label]="'Beneficiary City'"
        *ngIf="data.beneficiaryCity"
        [value]="data.beneficiaryCity"
    ></app-label-value>
    <app-label-value
        [label]="'Beneficiary Nationality'"
        *ngIf="data.beneficiaryCountry"
        [value]="data.beneficiaryCountry"
    ></app-label-value>
    <div class="divider"></div>
    <app-cib-otp (otpValueEvent)="onOtpValueEnter($event)" class="otp-comp"></app-cib-otp>
    <div class="divider"></div>
    <div fxLayout="row" fxLayoutGap="1rem">
        <button mat-button class="mat-raised-button" (click)="onCancel()">Cancel</button>
        <button mat-button class="mat-raised-button mat-primary" [disabled]="isConfirmDisabled" (click)="onConfirm()">
            Confirm
        </button>
    </div>
</div>
