<app-master-container *appHasEntitlementAccessTo="entitlement.create">
    <ng-container header>SETUP SWEEP BALANCE</ng-container>
    <ng-container body>
        <form fxLayout="column" fxFlex="100" autocomplete="off" novalidate="novalidate" [formGroup]="sweepForm">
            <div
                fxLayout="row wrap"
                fxFlex="100"
                fxLayout.sm="column"
                fxLayout.xs="column"
                fxLayoutGap="0"
                class="form-container"
            >
                <div fxFlex="33">
                    <app-account-select
                        ngDefaultControl
                        [formGroup]="sweepForm"
                        (selectionChange)="fromAccChange($event)"
                        formControlName="fromAccount"
                        label="From Account"
                        [options]="fromAccountList"
                        *ngIf="!editForm; else fromAccount"
                    >
                    </app-account-select>
                    <ng-template #fromAccount>
                        <mat-form-field fxFlex="100" hideRequiredMarker>
                            <mat-label>From Account</mat-label>
                            <input readonly matInput aria-label="From Account" formControlName="fromAccount" />
                        </mat-form-field>
                    </ng-template>
                </div>
                <div fxFlex="3"></div>
                <div fxFlex="33">
                    <app-account-select
                        ngDefaultControl
                        [formGroup]="sweepForm"
                        formControlName="toAccount"
                        label="To Account"
                        [options]="toAccountList"
                        *ngIf="!editForm; else toAccount"
                    >
                    </app-account-select>
                    <ng-template #toAccount>
                        <mat-form-field fxFlex="100" hideRequiredMarker>
                            <mat-label>To Account</mat-label>
                            <input readonly matInput aria-label="To Account" formControlName="toAccount" />
                        </mat-form-field>
                    </ng-template>
                </div>
                <div fxFlex="3"></div>
                <div fxFlex="18">
                    <mat-form-field
                        class="currency-field"
                        fxFlex="30"
                        hideRequiredMarker
                        *ngIf="sweepForm.controls['currency']?.value"
                    >
                        <mat-label></mat-label>
                        <input readonly aria-label="" matInput formControlName="currency" />
                    </mat-form-field>
                    <mat-form-field fxFlex="70">
                        <mat-label>Threshold Amount</mat-label>
                        <input type="number" min="0" aria-label="Threshold Amount" matInput formControlName="amount" />
                    </mat-form-field>
                </div>
                <div fxFlex="1"></div>

                <div fxFlex="9" class="btn-container" [ngClass.sm]="'btn-end mt-2'" *ngIf="!editForm; else update">
                    <button
                        mat-icon-button
                        color="primary"
                        aria-label="Add sweep"
                        [disabled]="sweepForm.invalid"
                        (click)="addLocalTransfer()"
                    >
                        <i class="las la-plus"></i>
                    </button>
                </div>

                <input type="hidden" formControlName="sweepId" *ngIf="editForm" />
                <ng-template #update>
                    <div fxFlex="90" class="btn-container edit-actions-container mt-1">
                        <button
                            mat-raised-button
                            color="primary"
                            [disabled]="sweepForm.invalid"
                            (click)="updateSweep()"
                            class="submit-btn"
                        >
                            Update
                        </button>

                        <button mat-raised-button (click)="cancelEdit()" class="submit-btn">Cancel</button>
                    </div>
                </ng-template>
            </div>

            <!-- Added sweeps -->
            <div
                fxLayout="row"
                fxLayout.sm="column"
                fxLayout.xs="column"
                fxFlex="100"
                fxLayoutGap="2"
                *ngFor="let sd of sweepData; index as i"
                class="mt-2 added-sweep"
            >
                <div fxFlex="65" fxFlex.xs="100">
                    <div fxFlex="50">
                        <app-label-value [label]="'From Account'" [value]="sd.fromAccount"></app-label-value>
                    </div>
                    <div fxFlex="50">
                        <app-label-value [label]="'To Account'" [value]="sd.toAccount"></app-label-value>
                    </div>
                </div>

                <div fxFlex="35" fxFlex.xs="100" [ngClass.lt-md]="'mb-1'">
                    <div fxFlex="70">
                        <app-label-value
                            [label]="'Threshold Amount'"
                            [value]="sd.currency + ' ' + sd.thresholdAmount"
                        ></app-label-value>
                    </div>
                    <div fxFlex="30" class="btn-container">
                        <button
                            mat-icon-button
                            color="primary"
                            aria-label="Add sweep"
                            class="no-border"
                            (click)="removeTransaction(i)"
                        >
                            <i class="las la-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- End Added sweeps -->

            <div fxLayout="row" fxFlex="100" class="btn-container btn-start mt-2" *ngIf="!editForm">
                <button
                    mat-raised-button
                    color="primary"
                    [disabled]="sweepForm.invalid && sweepData.length < 1"
                    (click)="submitSweep()"
                    class="submit-btn"
                >
                    Submit
                </button>
            </div>
        </form>
    </ng-container>
</app-master-container>
<app-master-container *appHasEntitlementAccessTo="entitlement.registeredAccounts">
    <ng-container header>SWEEP BALANCE ACCOUNTS</ng-container>
    <ng-container body>
        <app-cib-table
            [config]="tableConfig"
            (_clickCell)="onClickCell($event)"
            (_lazyLoad)="lazyLoad($event)"
        ></app-cib-table>
    </ng-container>
</app-master-container>
