<div flexLayout="column">
    <app-label-value [label]="'Request Type'" [value]="'Aamaly Debit Card Request'"></app-label-value>
    <app-label-value
        [label]="'Account Number'"
        [value]="data.linkSavingAcc"
        *ngIf="data.linkSavingAcc"
    ></app-label-value>
    <app-label-value
        [label]="'Account Number'"
        [value]="data.linkCurrentAcc"
        *ngIf="data.linkCurrentAcc"
    ></app-label-value>
    <app-label-value [label]="'Company Name'" [value]="data.companyName" *ngIf="data.companyName"></app-label-value>
    <app-label-value [label]="'CR Number'" [value]="data.commRegNo" *ngIf="data.commRegNo"></app-label-value>
    <app-label-value [label]="'CR Expiry Date'" [value]="data.crExpiryDate" *ngIf="data.crExpiryDate"></app-label-value>
    <app-label-value [label]="'Building Number'" [value]="data.addrLine1" *ngIf="data.addrLine1"></app-label-value>
    <app-label-value [label]="'Street Number'" [value]="data.addrLine2" *ngIf="data.addrLine2"></app-label-value>
    <app-label-value [label]="'Zone Number'" [value]="data.addrLine3" *ngIf="data.addrLine3"></app-label-value>
    <app-label-value [label]="'PO Box'" [value]="data.poBox" *ngIf="data.poBox"></app-label-value>
    <app-label-value
        *ngIf="data.charges"
        [label]="'Charges'"
        [value]="data.charges + ' (The first card issued under this account will be free)'"
    ></app-label-value>

    <div class="card-details">
        <ng-container *ngFor="let cards of data.externalCardRequestsMaster; let i = index">
            <app-master-container [variant]="'secondary'" [opened]="i === 0" [collapsable]="true">
                <ng-container header>
                    <div>Card Details</div>
                </ng-container>
                <ng-container body>
                    <div fxLayout="row" fxLayoutGap="1rem">
                        <app-label-value *ngIf="cards.embName" [label]="'Embossing Name'" [value]="cards.embName">
                        </app-label-value>
                        <app-label-value *ngIf="cards.qid" [label]="'Qatar Id'" [value]="cards.qid"></app-label-value>
                        <app-label-value *ngIf="cards.mobile" [label]="'Mobile Number'" [value]="cards.mobile">
                        </app-label-value>
                    </div>
                </ng-container>
            </app-master-container>
        </ng-container>
    </div>
    <ng-container *ngIf="mode === DECISION.APPROVE">
        <div fxLayout="row" fxLayoutGap="0.3rem" class="mb-1">
            <div>
                <mat-checkbox [(ngModel)]="isAgreed" [checked]="isAgreed"> </mat-checkbox>
            </div>
            <div>
                I agree to the <a [href]="termsUrl" [download]="termsFileName">Terms and Conditions</a>
                <!-- <a href="javascript:void(0)" (click)="openTermsDoc()">Terms &amp; Conditions</a> -->
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="(mode === DECISION.APPROVE && isAgreed) || mode !== DECISION.APPROVE">
        <div class="divider"></div>
        <app-cib-otp (otpValueEvent)="otp = $event" class="otp-comp" [showMore]="true"></app-cib-otp>
        <div class="divider"></div>
    </ng-container>
    <mat-form-field *ngIf="mode === DECISION.REJECT">
        <mat-label>Reason:</mat-label>
        <input matInput [(ngModel)]="notes" placeholder="Reason to reject..." />
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="1rem">
        <button mat-button class="mat-raised-button mat-primary" (click)="action(mode)" [disabled]="checkIfDisabled()">
            {{ mode }}
        </button>
    </div>
</div>
