@import 'colors';
.title {
    font-size: 0.8125em;
    color: $qib-background-blue;
}
.card-details {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
